pipeline/AS_CubeProcess_Pcode_Sync_Fact_30May2023.json
{
	"name": "AS_CubeProcess_Pcode_Sync_Fact_30May2023",
	"properties": {
		"activities": [
			{
				"name": "AS_CubeProcess_Pcode_ActivityAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n        \"Type\": \"Full\",\n        \"CommitMode\": \"transactional\",\n        \"MaxParallelism\": 8,\n        \"RetryCount\": 2,\n        \"Objects\": [\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCoverage\",\n                \"partition\": \"FactCoverage_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCoverageStoreLvl\",\n                \"partition\": \"FactCoverageStoreLvl_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactARData\",\n                \"partition\": \"FactARData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCFR\",\n                \"partition\": \"FactCFRData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCOS\",\n                \"partition\": \"FactCOSData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactFocusBrandData\",\n                \"partition\": \"FactFocusBrandData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactInventory\",\n                \"partition\": \"FactInventory_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactSBDData\",\n                \"partition\": \"202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactStoreLvlSBDData\",\n                \"partition\": \"FactStoreLvlSBDData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactTargetData\",\n                \"partition\": \"FactTargetData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactOrderData\",\n                \"partition\": \"FactOrderData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactStoreDistributionDetails\",\n                \"partition\": \"FactStoreDistribution_202305\"\n            }\n        ]\n    }",
						"type": "Expression"
					},
					"httpRequestTimeout": "00:05:00",
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "GetRefreshId",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AS_CubeProcess_Pcode_ActivityAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\":2,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DMS\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DMS\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"}]}",
						"type": "Expression"
					},
					"httpRequestTimeout": "00:05:00",
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "Set Array VarOuter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRefreshId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayVar",
					"value": {
						"value": "@json(activity('GetRefreshId').output.Response)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Status variableOuter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Array VarOuter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@variables('ArrayVar')[0].status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set RefreshId variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Status variableOuter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RefreshId",
					"value": {
						"value": "@variables('ArrayVar')[0].refreshId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set RefreshId variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(variables('status'),'inProgress'),equals(variables('status'),'notStarted')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CubeProcessingCheck",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes/',variables('RefreshId'))",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\":2,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DMS\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DMS\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"}]}",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00",
								"authentication": {
									"type": "MSI",
									"resource": "https://*.asazure.windows.net"
								}
							}
						},
						{
							"name": "Set Array VarOuter_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CubeProcessingCheck",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "@activity('CubeProcessingCheck').output.status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set Array VarOuter_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('status'),'inProgress')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Wait5min",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 300
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"flgcalled": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"ArrayVar": {
				"type": "Array",
				"defaultValue": [
					"test"
				]
			},
			"status": {
				"type": "String",
				"defaultValue": "inProgress"
			},
			"RefreshId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Resource Management"
		},
		"annotations": []
	}
}