pipeline/Cloud1Processing.json
{
	"name": "Cloud1Processing",
	"properties": {
		"activities": [
			{
				"name": "Until Cloud 1 Processing Done",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set flgFullProcessingPending",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SpGetCloudFileLoadingStatus_Cloud1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "flgFullProcessingPending",
								"value": {
									"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud1').output.firstRow.flgLoadingDone)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SpGetCloudFileLoadingStatus_Cloud1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Cloud1Pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpGetCloudFileLoadingStatus]",
									"storedProcedureParameters": {
										"CloudInstance": {
											"type": "Byte",
											"value": "1"
										},
										"Step": {
											"type": "Byte",
											"value": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DataFoundationConnectionV2",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set CurrentCountNoofCheck",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SpGetCloudFileLoadingStatus_Cloud1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentCountNoofCheck",
								"value": {
									"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Count Completed",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PreviousCountNoofCheck",
								"value": {
									"value": "@variables('CurrentCountNoofCheck')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Cloud1Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Count Completed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Cloud1Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DataProcessDate": {
										"value": "@pipeline().parameters.DataProcessDate",
										"type": "Expression"
									},
									"CycleID": {
										"value": "@pipeline().parameters.CycleID",
										"type": "Expression"
									},
									"Step": {
										"value": "@pipeline().parameters.Step",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set flgFullProcessingPending",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('flgFullProcessingPending'),'1')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Wait 1 min",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 60
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"DataProcessDate": {
				"type": "string"
			},
			"CycleID": {
				"type": "string"
			},
			"Step": {
				"type": "string"
			}
		},
		"variables": {
			"flgFullProcessingPending": {
				"type": "String",
				"defaultValue": "1"
			},
			"MaxNoofCheck": {
				"type": "String",
				"defaultValue": "20"
			},
			"CurrentCountNoofCheck": {
				"type": "String",
				"defaultValue": "1"
			},
			"PreviousCountNoofCheck": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}