pipeline/Cloud1Processing.json
{
	"name": "Cloud1Processing",
	"properties": {
		"activities": [
			{
				"name": "Until Cloud 1 Processing Done",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(and(equals(variables('flgFullProcessingPending'), '1'),greaterOrEquals(variables('MaxNoofCheck'),variables('CurrentCountNoofCheck'))))\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set flgFullProcessingPending",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SpGetCloudFileLoadingStatus_Cloud1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "flgFullProcessingPending",
								"value": {
									"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud1').output.firstRow.flgLoadingDone)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SpGetCloudFileLoadingStatus_Cloud1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Count Completed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpGetCloudFileLoadingStatus]",
									"storedProcedureParameters": {
										"CloudInstance": {
											"type": "Byte",
											"value": "1"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DataFoundationConnectionV2",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set CurrentCountNoofCheck",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SpGetCloudFileLoadingStatus_Cloud1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentCountNoofCheck",
								"value": {
									"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Count Completed",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PreviousCountNoofCheck",
								"value": {
									"value": "@variables('CurrentCountNoofCheck')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"flgFullProcessingPending": {
				"type": "String",
				"defaultValue": "1"
			},
			"MaxNoofCheck": {
				"type": "String",
				"defaultValue": "2"
			},
			"CurrentCountNoofCheck": {
				"type": "String",
				"defaultValue": "1"
			},
			"PreviousCountNoofCheck": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}