pipeline/CopyLeap_Staging-To-DB_2_V2_Cloud3.json
{
	"name": "CopyLeap_Staging-To-DB_2_V2_Cloud3",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList-Set2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetCloudFileDetails]",
						"storedProcedureParameters": {
							"CloudInstance": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.Cloud",
									"type": "Expression"
								}
							},
							"DFSetID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SetID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFileTobeimported",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList-Set2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList-Set2').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LeapStorageSourceDataset_File_V2_Cloud3",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SpFileNotFoundEntry",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SpFileNotFoundEntry]",
											"storedProcedureParameters": {
												"CloudID": {
													"value": {
														"value": "@pipeline().parameters.Cloud",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"DataDate": {
													"value": {
														"value": "@pipeline().parameters.DataDate",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"FileID": {
													"value": {
														"value": "@item().FileID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DataFoundationDB",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "IfFileFound",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "SpCycFileSetEntry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@string(item().FileID)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "18",
													"activities": [
														{
															"name": "ACRV_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "doc_reference_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sales_invoice_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "document_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sales_invoice_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "aging_days",
																				"type": "String"
																			},
																			"sink": {
																				"name": "aging_days",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "net_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "net_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "paid_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "paid_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "balance_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "balance_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "credit_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "credit_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileName",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetId",
																				"type": "Int64"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_type_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_type_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "next_visit_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Next_Visit_Date",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud3",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "24",
													"activities": [
														{
															"name": "COHGAP_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "coh_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "coh_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_type_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_type_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sector_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sector_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "seller_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "seller_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "seller_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "seller_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "coh_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "coh_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "target",
																				"type": "String"
																			},
																			"sink": {
																				"name": "target",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "achievement",
																				"type": "String"
																			},
																			"sink": {
																				"name": "achievement",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "achievement_status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "achievement_status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "calculation_rule",
																				"type": "String"
																			},
																			"sink": {
																				"name": "calculation_rule",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "coh_detail",
																				"type": "String"
																			},
																			"sink": {
																				"name": "coh_detail",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "withsale",
																				"type": "String"
																			},
																			"sink": {
																				"name": "withsale",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "nosale",
																				"type": "String"
																			},
																			"sink": {
																				"name": "nosale",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud3",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "27",
													"activities": [
														{
															"name": "DRCP_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branchname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailername",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailername",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retaileraddress",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retaileraddress",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercontact",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercontact",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "stlname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stlname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channeltype",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channeltype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channeldescription",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channeldescription",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "routecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "routecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "routename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "routename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sectorname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sectorname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "latitude",
																				"type": "String"
																			},
																			"sink": {
																				"name": "latitude",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "longitude",
																				"type": "String"
																			},
																			"sink": {
																				"name": "longitude",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "visit_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "visit_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud3",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "33",
													"activities": [
														{
															"name": "INVVAL_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "warehouse",
																				"type": "String"
																			},
																			"sink": {
																				"name": "warehouse",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "stock_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stock_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "company",
																				"type": "String"
																			},
																			"sink": {
																				"name": "company",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category",
																				"type": "String"
																			},
																			"sink": {
																				"name": "category",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brandform",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brandform",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "subbrand_form",
																				"type": "String"
																			},
																			"sink": {
																				"name": "subbrand_form",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "hsn_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "product_batch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "batch_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mrp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mrp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "expiry_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "expiry_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "upc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "rlp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "rlp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sih_cases",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sih_cases",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sih_pieces",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sih_pieces",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "draft_cases",
																				"type": "String"
																			},
																			"sink": {
																				"name": "draft_cases",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "draft_pieces",
																				"type": "String"
																			},
																			"sink": {
																				"name": "draft_pieces",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "msu",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "stn_intransit",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stn_intransit",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "stn_intransit_value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stn_intransit_value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "grn_intransit",
																				"type": "String"
																			},
																			"sink": {
																				"name": "grn_intransit",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "grn_intransit_value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "grn_intransit_value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetId",
																				"type": "Int64"
																			}
																		},
																		{
																			"source": {
																				"name": "ean_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "ean_code",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud3",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												}
											]
										}
									},
									{
										"name": "SpCycFileSetEntry",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@activity('GetFileList').output.itemName",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "1"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "SpCycFileSetUpdate",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "IfFileFound",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@activity('GetFileList').output.itemName",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "2"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "CopyLeapStaging-To-ADLS-OneFile-Cloud3",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "SpCycFileSetUpdate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "CopyLeapStaging-To-ADLS-OneFile-Cloud3",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Directory": "cntleap",
												"Folder": {
													"value": "@concat('/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy'), '/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'MM'), '/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'dd'), '/')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@activity('GetFileList').output.itemName",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "DeleteStagingOneFile-Cloud3",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "CopyLeapStaging-To-ADLS-OneFile-Cloud3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "DeleteStagingOneFile_Cloud3",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"FileName": {
													"value": "@activity('GetFileList').output.itemName",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SetID": {
				"type": "int",
				"defaultValue": 2
			},
			"CycleID": {
				"type": "int"
			},
			"DataDate": {
				"type": "string"
			},
			"Cloud": {
				"type": "string"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-09T03:23:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}