pipeline/CopyLeap_Staging-To-DB_2_copy1.json
{
	"name": "CopyLeap_Staging-To-DB_2_copy1",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LeapStorageSourceDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "SpFileEntry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpFileEntry]",
								"storedProcedureParameters": {
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileType": {
										"value": "1",
										"type": "Byte"
									},
									"LastModifiedDatetime": {
										"value": {
											"value": "@activity('GetFileList').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "TASDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACRV_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SpFileEntry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'ACRV_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ACRV_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "ACRV_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sales_invoice_no",
															"type": "String"
														},
														"sink": {
															"name": "sales_invoice_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sales_invoice_date",
															"type": "String"
														},
														"sink": {
															"name": "sales_invoice_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "aging_days",
															"type": "String"
														},
														"sink": {
															"name": "aging_days",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "paid_amount",
															"type": "String"
														},
														"sink": {
															"name": "paid_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "balance_amount",
															"type": "String"
														},
														"sink": {
															"name": "balance_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_amount",
															"type": "String"
														},
														"sink": {
															"name": "credit_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ACRV_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "ACRV_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ACRV_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'ACRV_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ACRV_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "ACRV_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sales_invoice_no",
															"type": "String"
														},
														"sink": {
															"name": "sales_invoice_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sales_invoice_date",
															"type": "String"
														},
														"sink": {
															"name": "sales_invoice_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "aging_days",
															"type": "String"
														},
														"sink": {
															"name": "aging_days",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "paid_amount",
															"type": "String"
														},
														"sink": {
															"name": "paid_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "balance_amount",
															"type": "String"
														},
														"sink": {
															"name": "balance_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_amount",
															"type": "String"
														},
														"sink": {
															"name": "credit_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ACRV_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "ACRV_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ACRV_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'ACRV_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ACRV_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "ACRV_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sales_invoice_no",
															"type": "String"
														},
														"sink": {
															"name": "sales_invoice_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sales_invoice_date",
															"type": "String"
														},
														"sink": {
															"name": "sales_invoice_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "aging_days",
															"type": "String"
														},
														"sink": {
															"name": "aging_days",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "paid_amount",
															"type": "String"
														},
														"sink": {
															"name": "paid_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "balance_amount",
															"type": "String"
														},
														"sink": {
															"name": "balance_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_amount",
															"type": "String"
														},
														"sink": {
															"name": "credit_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ACRV_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DSEM_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ACRV_Could3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DSEM_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DSEM_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "DSEM_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branchcode",
															"type": "String"
														},
														"sink": {
															"name": "branchcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branchname",
															"type": "String"
														},
														"sink": {
															"name": "branchname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dsecode",
															"type": "String"
														},
														"sink": {
															"name": "dsecode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dsename",
															"type": "String"
														},
														"sink": {
															"name": "dsename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stlcode",
															"type": "String"
														},
														"sink": {
															"name": "stlcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stlname",
															"type": "String"
														},
														"sink": {
															"name": "stlname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "becode",
															"type": "String"
														},
														"sink": {
															"name": "becode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "bename",
															"type": "String"
														},
														"sink": {
															"name": "bename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "selected_date",
															"type": "String"
														},
														"sink": {
															"name": "selected_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DSEM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DSEM_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DSEM_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DSEM_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DSEM_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "DSEM_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branchcode",
															"type": "String"
														},
														"sink": {
															"name": "branchcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branchname",
															"type": "String"
														},
														"sink": {
															"name": "branchname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dsecode",
															"type": "String"
														},
														"sink": {
															"name": "dsecode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dsename",
															"type": "String"
														},
														"sink": {
															"name": "dsename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stlcode",
															"type": "String"
														},
														"sink": {
															"name": "stlcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stlname",
															"type": "String"
														},
														"sink": {
															"name": "stlname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "becode",
															"type": "String"
														},
														"sink": {
															"name": "becode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "bename",
															"type": "String"
														},
														"sink": {
															"name": "bename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "selected_date",
															"type": "String"
														},
														"sink": {
															"name": "selected_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DSEM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DSEM_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DSEM_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DSEM_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DSEM_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "DSEM_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branchcode",
															"type": "String"
														},
														"sink": {
															"name": "branchcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branchname",
															"type": "String"
														},
														"sink": {
															"name": "branchname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dsecode",
															"type": "String"
														},
														"sink": {
															"name": "dsecode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dsename",
															"type": "String"
														},
														"sink": {
															"name": "dsename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stlcode",
															"type": "String"
														},
														"sink": {
															"name": "stlcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stlname",
															"type": "String"
														},
														"sink": {
															"name": "stlname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "becode",
															"type": "String"
														},
														"sink": {
															"name": "becode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "bename",
															"type": "String"
														},
														"sink": {
															"name": "bename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "selected_date",
															"type": "String"
														},
														"sink": {
															"name": "selected_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DSEM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "COHGAP_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DSEM_Could3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'COHGAP_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "COHGAP_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "COHGAP_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "coh_date",
															"type": "String"
														},
														"sink": {
															"name": "coh_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_type_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_type_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sector_name",
															"type": "String"
														},
														"sink": {
															"name": "sector_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "seller_code",
															"type": "String"
														},
														"sink": {
															"name": "seller_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "seller_name",
															"type": "String"
														},
														"sink": {
															"name": "seller_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "coh_name",
															"type": "String"
														},
														"sink": {
															"name": "coh_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "target",
															"type": "String"
														},
														"sink": {
															"name": "target",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "achievement",
															"type": "String"
														},
														"sink": {
															"name": "achievement",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "achievement_status",
															"type": "String"
														},
														"sink": {
															"name": "achievement_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "calculation_rule",
															"type": "String"
														},
														"sink": {
															"name": "calculation_rule",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "coh_detail",
															"type": "String"
														},
														"sink": {
															"name": "coh_detail",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "withsale",
															"type": "String"
														},
														"sink": {
															"name": "withsale",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "nosale",
															"type": "String"
														},
														"sink": {
															"name": "nosale",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "COHGAP_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "COHGAP_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "COHGAP_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'COHGAP_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "COHGAP_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "COHGAP_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "coh_date",
															"type": "String"
														},
														"sink": {
															"name": "coh_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_type_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_type_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sector_name",
															"type": "String"
														},
														"sink": {
															"name": "sector_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "seller_code",
															"type": "String"
														},
														"sink": {
															"name": "seller_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "seller_name",
															"type": "String"
														},
														"sink": {
															"name": "seller_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "coh_name",
															"type": "String"
														},
														"sink": {
															"name": "coh_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "target",
															"type": "String"
														},
														"sink": {
															"name": "target",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "achievement",
															"type": "String"
														},
														"sink": {
															"name": "achievement",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "achievement_status",
															"type": "String"
														},
														"sink": {
															"name": "achievement_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "calculation_rule",
															"type": "String"
														},
														"sink": {
															"name": "calculation_rule",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "coh_detail",
															"type": "String"
														},
														"sink": {
															"name": "coh_detail",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "withsale",
															"type": "String"
														},
														"sink": {
															"name": "withsale",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "nosale",
															"type": "String"
														},
														"sink": {
															"name": "nosale",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "COHGAP_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "COHGAP_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "COHGAP_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'COHGAP_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "COHGAP_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "COHGAP_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "coh_date",
															"type": "String"
														},
														"sink": {
															"name": "coh_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_type_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_type_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sector_name",
															"type": "String"
														},
														"sink": {
															"name": "sector_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "seller_code",
															"type": "String"
														},
														"sink": {
															"name": "seller_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "seller_name",
															"type": "String"
														},
														"sink": {
															"name": "seller_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "coh_name",
															"type": "String"
														},
														"sink": {
															"name": "coh_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "target",
															"type": "String"
														},
														"sink": {
															"name": "target",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "achievement",
															"type": "String"
														},
														"sink": {
															"name": "achievement",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "achievement_status",
															"type": "String"
														},
														"sink": {
															"name": "achievement_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "calculation_rule",
															"type": "String"
														},
														"sink": {
															"name": "calculation_rule",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "coh_detail",
															"type": "String"
														},
														"sink": {
															"name": "coh_detail",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "withsale",
															"type": "String"
														},
														"sink": {
															"name": "withsale",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "nosale",
															"type": "String"
														},
														"sink": {
															"name": "nosale",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "COHGAP_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "String"
			},
			"SourceStore_Directory": {
				"type": "String"
			},
			"DestinationStore_Location": {
				"type": "String"
			},
			"DestinationStore_Directory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-06-30T03:01:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}