pipeline/CopyLeap_Staging-To-DB_DistributorLevel.json
{
	"name": "CopyLeap_Staging-To-DB_DistributorLevel",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LeapStorageSourceDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "spGetFileID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpGetFileID_DistributorLevel]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_ATTN_table",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "spGetFileID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('spGetFileID').output.firstRow.FileID,0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "IfFileFound",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "SpCycFileSetEntry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@string(activity('spGetFileID').output.firstRow.FileID)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "40",
													"activities": [
														{
															"name": "PLIST_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "company",
																				"type": "String"
																			},
																			"sink": {
																				"name": "company",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category",
																				"type": "String"
																			},
																			"sink": {
																				"name": "category",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand_form",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand_form",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_brand_form",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sub_brand_form",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "product_batch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "product_batch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mrp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mrp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "slp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "slp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "srp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "srp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "upc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "msu",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "hsn_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "spg_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "spg_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "spg_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "spg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "expiry_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "expiry_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "ean_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "ean_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "weight",
																				"type": "String"
																			},
																			"sink": {
																				"name": "weight",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "volume",
																				"type": "String"
																			},
																			"sink": {
																				"name": "volume",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileName",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_PLIST_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "41",
													"activities": [
														{
															"name": "PLIST_Cloud2",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "company",
																				"type": "String"
																			},
																			"sink": {
																				"name": "company",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category",
																				"type": "String"
																			},
																			"sink": {
																				"name": "category",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand_form",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand_form",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_brand_form",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sub_brand_form",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "product_batch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "product_batch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mrp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mrp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "slp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "slp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "srp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "srp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "upc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "msu",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "hsn_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "spg_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "spg_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "spg_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "spg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "expiry_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "expiry_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "ean_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "ean_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "weight",
																				"type": "String"
																			},
																			"sink": {
																				"name": "weight",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "volume",
																				"type": "String"
																			},
																			"sink": {
																				"name": "volume",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileName",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_PLIST_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "42",
													"activities": [
														{
															"name": "PLIST_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "company",
																				"type": "String"
																			},
																			"sink": {
																				"name": "company",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category",
																				"type": "String"
																			},
																			"sink": {
																				"name": "category",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand_form",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand_form",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_brand_form",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sub_brand_form",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "product_batch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "product_batch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mrp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mrp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "slp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "slp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "srp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "srp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "upc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "msu",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "hsn_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "spg_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "spg_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "spg_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "spg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "expiry_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "expiry_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "ean_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "ean_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "weight",
																				"type": "String"
																			},
																			"sink": {
																				"name": "weight",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "volume",
																				"type": "String"
																			},
																			"sink": {
																				"name": "volume",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileName",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_PLIST_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "46",
													"activities": [
														{
															"name": "LPB_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "planned_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "coverage",
																				"type": "String"
																			},
																			"sink": {
																				"name": "coverage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_bills",
																				"type": "String"
																			},
																			"sink": {
																				"name": "totbills",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productive_bills",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivebills",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productivity",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_lines",
																				"type": "String"
																			},
																			"sink": {
																				"name": "totlines",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "lpb",
																				"type": "String"
																			},
																			"sink": {
																				"name": "lpb_percentage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productivity_norm",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivity_norm",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_LPB_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "47",
													"activities": [
														{
															"name": "LPB_Cloud2",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "planned_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "coverage",
																				"type": "String"
																			},
																			"sink": {
																				"name": "coverage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_bills",
																				"type": "String"
																			},
																			"sink": {
																				"name": "totbills",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productive_bills",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivebills",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productivity",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_lines",
																				"type": "String"
																			},
																			"sink": {
																				"name": "totlines",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "lpb",
																				"type": "String"
																			},
																			"sink": {
																				"name": "lpb_percentage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productivity_norm",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivity_norm",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_LPB_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "48",
													"activities": [
														{
															"name": "LPB_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "planned_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "coverage",
																				"type": "String"
																			},
																			"sink": {
																				"name": "coverage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_bills",
																				"type": "String"
																			},
																			"sink": {
																				"name": "totbills",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productive_bills",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivebills",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productivity",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_lines",
																				"type": "String"
																			},
																			"sink": {
																				"name": "totlines",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "lpb",
																				"type": "String"
																			},
																			"sink": {
																				"name": "lpb_percentage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "productivity_norm",
																				"type": "String"
																			},
																			"sink": {
																				"name": "productivity_norm",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_LPB_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												}
											]
										}
									},
									{
										"name": "SpCycFileUpdate",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "IfFileFound",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SpCycFileEntry_DistributorLevel]",
											"storedProcedureParameters": {
												"CycleID": {
													"value": {
														"value": "@pipeline().parameters.CycleID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"DataDate": {
													"value": {
														"value": "@formatDateTime(pipeline().parameters.DataDate)",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"FileID": {
													"value": {
														"value": "@string(activity('spGetFileID').output.firstRow.FileID)",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"flgProcessType": {
													"value": "2",
													"type": "Byte"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DataFoundationDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SpCycFileSetEntry",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@activity('GetFileList').output.itemName",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "1"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnection",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SetID": {
				"type": "string",
				"defaultValue": "8"
			},
			"CycleID": {
				"type": "string"
			},
			"DataDate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-04T16:41:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}