pipeline/CopyLeap_Staging-To-DB_5_V2.json
{
	"name": "CopyLeap_Staging-To-DB_5_V2",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList-Set5",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetFileDetails]",
						"storedProcedureParameters": {
							"DFSetID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SetID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnection",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFileTobeimported",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList-Set5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList-Set5').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LeapStorageSourceDataset_File",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().name,'_', formatDateTime(pipeline().parameters.DataDate, 'yyyy'), formatDateTime(pipeline().parameters.DataDate, 'MMM'), formatDateTime(pipeline().parameters.DataDate, 'dd'), '.csv')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "SpCycFileEntry",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SpCycFileEntry]",
											"storedProcedureParameters": {
												"CycleID": {
													"value": {
														"value": "@pipeline().parameters.CycleID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"DataDate": {
													"value": {
														"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"FileID": {
													"value": {
														"value": "@item().FileID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FileName": {
													"value": {
														"value": "@activity('GetFileList').output.itemName",
														"type": "Expression"
													},
													"type": "String"
												},
												"flgProcessType": {
													"value": "1",
													"type": "Byte"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DataFoundationDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SpCycFileUpdate",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "IfFileFound",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SpCycFileEntry]",
											"storedProcedureParameters": {
												"CycleID": {
													"value": {
														"value": "@pipeline().parameters.CycleID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"DataDate": {
													"value": {
														"value": "@formatDateTime(pipeline().parameters.DataDate)",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"FileID": {
													"value": {
														"value": "@item().FileID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FileName": {
													"value": {
														"value": "@activity('GetFileList').output.itemName",
														"type": "Expression"
													},
													"type": "String"
												},
												"flgProcessType": {
													"value": "2",
													"type": "Byte"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DataFoundationDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "IfFileFound",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "SpCycFileEntry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().FileID",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "82",
													"activities": [
														{
															"name": "ATTN_cloud01",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "user_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "user_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "desename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "visit_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "visit_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "route_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "route_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "attendance",
																				"type": "String"
																			},
																			"sink": {
																				"name": "attendance",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "attendance_timestamp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "attendance_timestamp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "generated_at",
																				"type": "String"
																			},
																			"sink": {
																				"name": "generated_at",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_ATTN_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "83",
													"activities": [
														{
															"name": "ATTN_cloud02",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "user_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "user_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "desename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "visit_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "visit_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "route_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "route_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "attendance",
																				"type": "String"
																			},
																			"sink": {
																				"name": "attendance",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "attendance_timestamp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "attendance_timestamp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "generated_at",
																				"type": "String"
																			},
																			"sink": {
																				"name": "generated_at",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_ATTN_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "84",
													"activities": [
														{
															"name": "ATTN_cloud03",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "user_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "user_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "desename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "visit_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "visit_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "route_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "route_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "attendance",
																				"type": "String"
																			},
																			"sink": {
																				"name": "attendance",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "attendance_timestamp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "attendance_timestamp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "generated_at",
																				"type": "String"
																			},
																			"sink": {
																				"name": "generated_at",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_ATTN_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "85",
													"activities": [
														{
															"name": "DBGPS_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "db_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "db_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "db_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "db_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "picklist_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "picklist_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "picklist_delivery_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "picklist_delivery_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "picklist_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "picklist_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "contact_number_1",
																				"type": "String"
																			},
																			"sink": {
																				"name": "contact_number_1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "contact_number_2",
																				"type": "String"
																			},
																			"sink": {
																				"name": "contact_number_2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sub_channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "actual_delivery_attempt_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "actual_delivery_attempt_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "ar_at_day_start",
																				"type": "String"
																			},
																			"sink": {
																				"name": "ar_at_day_start",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "delivery_status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "delivery_status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "delivered_time",
																				"type": "String"
																			},
																			"sink": {
																				"name": "delivered_time",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason_for_partial_no_delivery",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason_for_partial_no_delivery",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason_for_on_hold",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason_for_on_hold",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "delivered_value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "delivered_value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "collection_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "collection_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "advance_collection",
																				"type": "String"
																			},
																			"sink": {
																				"name": "advance_collection",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "visit_latitude",
																				"type": "String"
																			},
																			"sink": {
																				"name": "visit_latitude",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "visit_longitude",
																				"type": "String"
																			},
																			"sink": {
																				"name": "visit_longitude",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "deviation_in_meter",
																				"type": "String"
																			},
																			"sink": {
																				"name": "deviation_in_meter",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "deviation",
																				"type": "String"
																			},
																			"sink": {
																				"name": "deviation",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason_for_deviation",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason_for_deviation",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "remarks",
																				"type": "String"
																			},
																			"sink": {
																				"name": "remarks",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "store_predicted_time",
																				"type": "String"
																			},
																			"sink": {
																				"name": "store_predicted_time",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "in_store_time",
																				"type": "String"
																			},
																			"sink": {
																				"name": "in_store_time",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "store_start_time",
																				"type": "String"
																			},
																			"sink": {
																				"name": "store_start_time",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "store_end_time",
																				"type": "String"
																			},
																			"sink": {
																				"name": "store_end_time",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "battery_perc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "battery_perc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_DBGPS_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "86",
													"activities": [
														{
															"name": "PURD_Cloud2",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_state",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_state",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_gst",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_gst",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "warehouse",
																				"type": "String"
																			},
																			"sink": {
																				"name": "warehouse",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pg_invoice_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pg_invoice_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pg_reference_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pg_reference_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "document_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "document_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "return_reference_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "return_reference_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "grn_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "grn_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "grn_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "grn_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vendor_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vendor_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vendor_state_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vendor_state_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vendor_state_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vendor_state_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "legal_entity",
																				"type": "String"
																			},
																			"sink": {
																				"name": "legal_entity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category",
																				"type": "String"
																			},
																			"sink": {
																				"name": "category",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brandform",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brandform",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_brandform",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sub_brandform",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "hsn_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "batch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "batch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "stock_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stock_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "quantity_in_pieces",
																				"type": "String"
																			},
																			"sink": {
																				"name": "quantity_in_pieces",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "upc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "quantity_in_cases",
																				"type": "String"
																			},
																			"sink": {
																				"name": "quantity_in_cases",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "quantity_in_msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "quantity_in_msu",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mrp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mrp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dp_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dp_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "slp_value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "slp_value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "purchase_discount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "purchase_discount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "taxable_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "taxable_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sgst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sgst_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sgst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sgst_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cgst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cgst_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cgst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cgst_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "igst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "igst_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "igst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "igst_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cess_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cess_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cess_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cess_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tcs_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tcs_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tcs_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tcs_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_tax_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "total_tax_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "net_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "net_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_PURD_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "87",
													"activities": [
														{
															"name": "PURD_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_state",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_state",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_gst",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_gst",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "warehouse",
																				"type": "String"
																			},
																			"sink": {
																				"name": "warehouse",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pg_invoice_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pg_invoice_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pg_reference_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pg_reference_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "document_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "document_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "return_reference_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "return_reference_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "grn_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "grn_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "grn_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "grn_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vendor_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vendor_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vendor_state_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vendor_state_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vendor_state_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vendor_state_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "legal_entity",
																				"type": "String"
																			},
																			"sink": {
																				"name": "legal_entity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category",
																				"type": "String"
																			},
																			"sink": {
																				"name": "category",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brandform",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brandform",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_brandform",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sub_brandform",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "hsn_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sku_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sku_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "batch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "batch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "stock_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stock_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "quantity_in_pieces",
																				"type": "String"
																			},
																			"sink": {
																				"name": "quantity_in_pieces",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "upc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "quantity_in_cases",
																				"type": "String"
																			},
																			"sink": {
																				"name": "quantity_in_cases",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "quantity_in_msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "quantity_in_msu",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mrp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mrp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dp_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dp_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "slp_value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "slp_value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "purchase_discount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "purchase_discount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "taxable_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "taxable_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sgst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sgst_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sgst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sgst_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cgst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cgst_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cgst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cgst_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "igst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "igst_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "igst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "igst_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cess_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cess_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cess_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cess_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tcs_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tcs_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tcs_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tcs_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "total_tax_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "total_tax_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "net_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "net_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_PURD_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "88",
													"activities": [
														{
															"name": "IHR_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branchname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "shipdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "shipdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailername",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailername",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativetype",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativetype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativestartdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativestartdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativeenddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativeenddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "amountdisbursed",
																				"type": "String"
																			},
																			"sink": {
																				"name": "amountdisbursed",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributorgstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributorgstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailergstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailergstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebelno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebelno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_IHR_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "89",
													"activities": [
														{
															"name": "IHR_Cloud2",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branchname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "shipdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "shipdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailername",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailername",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativetype",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativetype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativestartdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativestartdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativeenddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativeenddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "amountdisbursed",
																				"type": "String"
																			},
																			"sink": {
																				"name": "amountdisbursed",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributorgstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributorgstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailergstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailergstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebelno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebelno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_IHR_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "90",
													"activities": [
														{
															"name": "IHR_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branchname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "shipdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "shipdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailername",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailername",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativetype",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativetype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativestartdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativestartdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativeenddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativeenddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "amountdisbursed",
																				"type": "String"
																			},
																			"sink": {
																				"name": "amountdisbursed",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributorgstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributorgstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailergstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailergstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebelno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebelno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_IHR_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "91",
													"activities": [
														{
															"name": "IHR_MDAY_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branchname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "shipdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "shipdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailername",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailername",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativetype",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativetype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativestartdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativestartdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativeenddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativeenddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "amountdisbursed",
																				"type": "String"
																			},
																			"sink": {
																				"name": "amountdisbursed",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributorgstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributorgstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailergstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailergstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebelno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebelno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_IHR_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "92",
													"activities": [
														{
															"name": "IHR_MDAY_Cloud2",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branchname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "shipdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "shipdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailername",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailername",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativetype",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativetype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativestartdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativestartdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativeenddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativeenddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "amountdisbursed",
																				"type": "String"
																			},
																			"sink": {
																				"name": "amountdisbursed",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributorgstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributorgstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailergstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailergstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebelno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebelno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_IHR_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "93",
													"activities": [
														{
															"name": "IHR_MDAY_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branchcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branchname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "salesinvoiceno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "shipdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "shipdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailercode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailercode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailername",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailername",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativetype",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativetype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativestartdate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativestartdate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "initiativeenddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "initiativeenddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "amountdisbursed",
																				"type": "String"
																			},
																			"sink": {
																				"name": "amountdisbursed",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributorgstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributorgstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailergstno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailergstno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebelno",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebelno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_IHR_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												},
												{
													"value": "94",
													"activities": [
														{
															"name": "TASK_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "task_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "task_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "task_created_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "task_created_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "created_user_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "created_user_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "created_user_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "created_user_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "assigned_to",
																				"type": "String"
																			},
																			"sink": {
																				"name": "assigned_to",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "task_title",
																				"type": "String"
																			},
																			"sink": {
																				"name": "task_title",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "task_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "task_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "due_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "due_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "over_due",
																				"type": "String"
																			},
																			"sink": {
																				"name": "over_due",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "task_remark",
																				"type": "String"
																			},
																			"sink": {
																				"name": "task_remark",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "task_status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "task_status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tas_task_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tas_task_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tas_task_id",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tas_task_id",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tas_seller_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tas_seller_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tas_seller_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tas_seller_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_TASK_table",
																	"type": "DatasetReference"
																}
															]
														}
													]
												}
											]
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SetID": {
				"type": "int",
				"defaultValue": 5
			},
			"CycleID": {
				"type": "int"
			},
			"DataDate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-09T03:23:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}