pipeline/CopyLeap_Staging-To-DB_8_V2_Cloud1.json
{
	"name": "CopyLeap_Staging-To-DB_8_V2_Cloud1",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList-Set8",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetCloudFileDetails]",
						"storedProcedureParameters": {
							"CloudInstance": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.Cloud",
									"type": "Expression"
								}
							},
							"DFSetID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SetID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFileTobeimported",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList-Set8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList-Set8').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LeapStorageSourceDataset_File_V2_Cloud1",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "IfFileFound",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "SpCycFileSetEntry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@string(item().FileID)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "10",
													"activities": [
														{
															"name": "RTRM_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "address_1",
																				"type": "String"
																			},
																			"sink": {
																				"name": "address_1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "address_2",
																				"type": "String"
																			},
																			"sink": {
																				"name": "address_2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pin_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pin_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "area_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "area_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "area",
																				"type": "String"
																			},
																			"sink": {
																				"name": "area",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "town_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "town_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "town",
																				"type": "String"
																			},
																			"sink": {
																				"name": "town",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "town_class",
																				"type": "String"
																			},
																			"sink": {
																				"name": "town_class",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "city",
																				"type": "String"
																			},
																			"sink": {
																				"name": "city",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "state",
																				"type": "String"
																			},
																			"sink": {
																				"name": "state",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mobile_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mobile_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phone_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "phone_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "contact_person",
																				"type": "String"
																			},
																			"sink": {
																				"name": "contact_person",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "stl_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stl_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "frequency",
																				"type": "String"
																			},
																			"sink": {
																				"name": "frequency",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distance",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distance",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "class_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "class_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "class_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "class",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "type_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "subchannel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "type_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "subchannel",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mr_account_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mr_account_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "credit_limit",
																				"type": "String"
																			},
																			"sink": {
																				"name": "credit_limit",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "credit_period",
																				"type": "String"
																			},
																			"sink": {
																				"name": "credit_period",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_limit",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_limit",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "certificate_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "certificate_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "gst_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "gst_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pan_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pan_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dl_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dl_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dl_expiry_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dl_expiry_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "email",
																				"type": "String"
																			},
																			"sink": {
																				"name": "email",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dob",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dob",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "doa",
																				"type": "String"
																			},
																			"sink": {
																				"name": "doa",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "default_warehouse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "default_warehouse_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "default_warehouse",
																				"type": "String"
																			},
																			"sink": {
																				"name": "default_warehouse",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "restricted_orderswap_status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "restricted_orderswap_status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "lattitude",
																				"type": "String"
																			},
																			"sink": {
																				"name": "lattitude",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "longitude",
																				"type": "String"
																			},
																			"sink": {
																				"name": "longitude",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_radius",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_radius",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileName",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "payment_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "payment_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "store_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "store_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tbe_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tbe_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phonenumber1_verified",
																				"type": "String"
																			},
																			"sink": {
																				"name": "phonenumber1_verified",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phonenumber1_verifieddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "phonenumber1_verifieddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phonenumber2_verified",
																				"type": "String"
																			},
																			"sink": {
																				"name": "phonenumber2_verified",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phonenumber2_verifieddate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "phonenumber2_verifieddate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "fssai_license_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "fssai_license_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "fssai_license_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "fssai_license_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "fssai_license_expiry",
																				"type": "String"
																			},
																			"sink": {
																				"name": "fssai_license_expiry",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_tds_apply",
																				"type": "String"
																			},
																			"sink": {
																				"name": "is_tds_apply",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_pan_aadhar_linked",
																				"type": "String"
																			},
																			"sink": {
																				"name": "is_pan_aadhar_linked",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_return_filled",
																				"type": "String"
																			},
																			"sink": {
																				"name": "is_return_filled",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_tcs_more_than_50k",
																				"type": "String"
																			},
																			"sink": {
																				"name": "is_tcs_more_than_50k",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_manual_override",
																				"type": "String"
																			},
																			"sink": {
																				"name": "is_manual_override",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tax_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tax_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vc_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vc_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vc_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vc_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "incoverage",
																				"type": "String"
																			},
																			"sink": {
																				"name": "incoverage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "address_3",
																				"type": "String"
																			},
																			"sink": {
																				"name": "address_3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tax_location_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tax_location_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_upi_id",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_upi_id",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_government",
																				"type": "String"
																			},
																			"sink": {
																				"name": "is_government",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "credit_note_auto_adjustment_restriction",
																				"type": "String"
																			},
																			"sink": {
																				"name": "credit_note_auto_adjustment_restriction",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pending_invoice_count",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pending_invoice_count",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "apply_tcs",
																				"type": "String"
																			},
																			"sink": {
																				"name": "apply_tcs",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tax_location_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tax_location_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud1",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "13",
													"activities": [
														{
															"name": "LOCM_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "country_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "country_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "country_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "country_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "division_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "division_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "region_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "region_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "region_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "region_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "site_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "site_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "site_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "site_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud1",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "19",
													"activities": [
														{
															"name": "DSEM_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branchname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dsename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dsename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tbecode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stlcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tbename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "stlname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "becode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "becode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "bename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "bename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "selected_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "selected_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "smcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "smcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "smname",
																				"type": "String"
																			},
																			"sink": {
																				"name": "smname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud1",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "28",
													"activities": [
														{
															"name": "PRDM_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@item().name",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "legal_entity",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Legal_entity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Category Code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Category Name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Brand Code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Brand Name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brandform_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Brand Form Code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brandform_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Brand Form Name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_brandform_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "SubBF Code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sub_brandform_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "SubBF Name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "product_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Product_Code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "desc_short",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Product_Short_Desc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Product_Full_Desc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "weight",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Piece_Weight",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "conversion_qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Conversion_Qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "MSU",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "volume",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Volume",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "HSN_Code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_drug",
																				"type": "String"
																			},
																			"sink": {
																				"name": "IsDrug",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "shelf_life",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Shelf Life",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sap_upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "SAP UPC",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "bar_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Bar Code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dm3",
																				"type": "String"
																			},
																			"sink": {
																				"name": "DM3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "is_food",
																				"type": "String"
																			},
																			"sink": {
																				"name": "is_food",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_product_short_desc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_product_short_desc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud1",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "CopyProductMastertoSeperateBucket_Cloud1",
															"type": "Copy",
															"dependsOn": [
																{
																	"activity": "PRDM_Cloud1",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "DelimitedTextSink",
																	"storeSettings": {
																		"type": "AzureBlobStorageWriteSettings"
																	},
																	"formatSettings": {
																		"type": "DelimitedTextWriteSettings",
																		"quoteAllText": true,
																		"fileExtension": ""
																	}
																},
																"enableStaging": false,
																"dataIntegrationUnits": 2
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging_V2_Cloud1",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_STR_DFDataFoundation",
																	"type": "DatasetReference",
																	"parameters": {
																		"filename": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												}
											]
										}
									},
									{
										"name": "SpCycFileSetEntry",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@activity('GetFileList').output.itemName",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "1"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "SpCycFileSetUpdate",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "IfFileFound",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@activity('GetFileList').output.itemName",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "2"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "CopyLeapStaging-To-ADLS-OneFile-Cloud1",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "SpCycFileSetUpdate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "CopyLeapStaging-To-ADLS-OneFile-Cloud1",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Directory": "cntleap",
												"Folder": {
													"value": "@concat('/', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@activity('GetFileList').output.itemName",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "DeleteStagingOneFile-Cloud1",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "CopyLeapStaging-To-ADLS-OneFile-Cloud1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "DeleteStagingOneFile_Cloud1",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"FileName": {
													"value": "@activity('GetFileList').output.itemName",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SetID": {
				"type": "int",
				"defaultValue": 8
			},
			"CycleID": {
				"type": "int"
			},
			"DataDate": {
				"type": "string"
			},
			"Cloud": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-09T03:23:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}