pipeline/CopyLeap_Staging-To-DB_7_V2_Cloud1.json
{
	"name": "CopyLeap_Staging-To-DB_7_V2_Cloud1",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList-Set7",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetCloudFileDetails]",
						"storedProcedureParameters": {
							"CloudInstance": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.Cloud",
									"type": "Expression"
								}
							},
							"DFSetID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SetID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFileTobeimported",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList-Set7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList-Set7').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LeapStorageSourceDataset_File",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "IfFileFound",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "SpCycFileSetEntry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@string(item().FileID)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "124",
													"activities": [
														{
															"name": "COHMPG_cloud01",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "scheme_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "group_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "group_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "type_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "type_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebel_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebel_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "account_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "account_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "125",
													"activities": [
														{
															"name": "COHMPG_cloud02",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "scheme_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "group_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "group_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "type_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "type_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebel_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebel_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "account_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "account_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "126",
													"activities": [
														{
															"name": "COHMPG_cloud03",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "scheme_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "group_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "group_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "type_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "type_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "distributor_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "siebel_number",
																				"type": "String"
																			},
																			"sink": {
																				"name": "siebel_number",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "account_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "account_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "127",
													"activities": [
														{
															"name": "COHMTR_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "scheme_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "short_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "short_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "valid_from",
																				"type": "String"
																			},
																			"sink": {
																				"name": "valid_from",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "valid_to",
																				"type": "String"
																			},
																			"sink": {
																				"name": "valid_to",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_buy_logic",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_buy_logic",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_process_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_process_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_group_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_group_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "level_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "level_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "level_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "level_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_group_logic",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_group_logic",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_uom",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_uom",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_min_qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_min_qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_max_qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_max_qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "128",
													"activities": [
														{
															"name": "COHMTR_Cloud2",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "scheme_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "short_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "short_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "valid_from",
																				"type": "String"
																			},
																			"sink": {
																				"name": "valid_from",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "valid_to",
																				"type": "String"
																			},
																			"sink": {
																				"name": "valid_to",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_buy_logic",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_buy_logic",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_process_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_process_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_group_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_group_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "level_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "level_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "level_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "level_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_group_logic",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_group_logic",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_uom",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_uom",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_min_qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_min_qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_max_qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_max_qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "129",
													"activities": [
														{
															"name": "COHMTR_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "scheme_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "short_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "short_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "valid_from",
																				"type": "String"
																			},
																			"sink": {
																				"name": "valid_from",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "valid_to",
																				"type": "String"
																			},
																			"sink": {
																				"name": "valid_to",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_buy_logic",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_buy_logic",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "scheme_process_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "scheme_process_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_group_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_group_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "level_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "level_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "level_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "level_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_group_logic",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_group_logic",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_uom",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_uom",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_min_qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_min_qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "promotion_slab_buy_max_qty",
																				"type": "String"
																			},
																			"sink": {
																				"name": "promotion_slab_buy_max_qty",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "130",
													"activities": [
														{
															"name": "COHTGT_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}\n",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "channel_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "focus_brand_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "focus_brand_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "focus_brand_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "focus_brand_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "from_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "from_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "to_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "to_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "target",
																				"type": "String"
																			},
																			"sink": {
																				"name": "target",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "131",
													"activities": [
														{
															"name": "COHTGT_Cloud2",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "channel_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "focus_brand_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "focus_brand_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "focus_brand_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "focus_brand_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "from_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "from_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "to_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "to_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "target",
																				"type": "String"
																			},
																			"sink": {
																				"name": "target",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "132",
													"activities": [
														{
															"name": "COHTGT_Cloud3",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "channel_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "focus_brand_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "focus_brand_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "focus_brand_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "focus_brand_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "from_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "from_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "to_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "to_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "target",
																				"type": "String"
																			},
																			"sink": {
																				"name": "target",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetID"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "LeapCSV_Staging",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												}
											]
										}
									},
									{
										"name": "SpCycFileSetEntry",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@activity('GetFileList').output.itemName",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "1"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "SpCycFileSetUpdate",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "IfFileFound",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(pipeline().parameters.DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@activity('GetFileList').output.itemName",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "2"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "CopyLeapStaging-To-ADLS-OneFile",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "SpCycFileSetUpdate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "CopyLeapStaging-To-ADLS-OneFile",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Directory": "cntleap",
												"Folder": {
													"value": "@concat('/', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@activity('GetFileList').output.itemName",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "DeleteStagingOneFile",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "CopyLeapStaging-To-ADLS-OneFile",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "DeleteStagingOneFile",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"FileName": {
													"value": "@activity('GetFileList').output.itemName",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SetID": {
				"type": "int",
				"defaultValue": 7
			},
			"CycleID": {
				"type": "int"
			},
			"DataDate": {
				"type": "string"
			},
			"Cloud": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-09T03:23:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}