pipeline/CopyStaging-To-DB-WINITSamrtBasket-V2.json
{
	"name": "CopyStaging-To-DB-WINITSamrtBasket-V2",
	"properties": {
		"activities": [
			{
				"name": "Getfilenames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetWINIT_SmartBasketFileDetails_Daily]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfilenames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_WINIT_StorageSourceDataset_File",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"folder": "Smartbasket"
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Smart Basket Data Copy",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "SpCycFileSetEntry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@addminutes(utcnow(),330)",
															"type": "Expression"
														}
													},
													{
														"name": "FileSetID",
														"value": {
															"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												},
												"recursive": false
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{item().temptablename}",
													"type": "Expression"
												},
												"allowPolyBase": true,
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": true
												},
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "DFPolybaseStagingStorageLink",
													"type": "LinkedServiceReference"
												},
												"path": "polybasestaging"
											},
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbf_code",
															"type": "String"
														},
														"sink": {
															"name": "subbf_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbf_name",
															"type": "String"
														},
														"sink": {
															"name": "subbf_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "target_points",
															"type": "String"
														},
														"sink": {
															"name": "Target_points",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_type",
															"type": "String"
														},
														"sink": {
															"name": "channel_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_payment_type",
															"type": "String"
														},
														"sink": {
															"name": "customer_payment_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reco_quantity",
															"type": "String"
														},
														"sink": {
															"name": "reco_quantity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "smart_basket_achievement",
															"type": "String"
														},
														"sink": {
															"name": "smart_basket_achievement",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "achieved_points",
															"type": "String"
														},
														"sink": {
															"name": "achieved_points",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "base_equivalence_subbf",
															"type": "String"
														},
														"sink": {
															"name": "base_equivalence_subbf",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "logic",
															"type": "String"
														},
														"sink": {
															"name": "logic",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subd_code",
															"type": "String"
														},
														"sink": {
															"name": "subd_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subd_name",
															"type": "String"
														},
														"sink": {
															"name": "subd_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "FileSetID",
															"type": "String"
														},
														"sink": {
															"name": "FileSetId",
															"type": "Int64"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "WinITCSV_Staging_pipe_Zip",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@item().name",
														"type": "Expression"
													},
													"Folder": "Smartbasket"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Destination_table",
												"type": "DatasetReference",
												"parameters": {
													"tablename": {
														"value": "@item().temptablename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SpCycFileSetEntry",
										"type": "Lookup",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycDRCPFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(item().DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "1"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "SpCycFileSetUpdate",
										"type": "Lookup",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [
											{
												"activity": "Smart Basket Data Copy",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderStoredProcedureName": "[dbo].[SpCycDRCPFileEntry]",
												"storedProcedureParameters": {
													"CycleID": {
														"type": "Int64",
														"value": {
															"value": "@pipeline().parameters.CycleID",
															"type": "Expression"
														}
													},
													"DataDate": {
														"type": "DateTime",
														"value": {
															"value": "@formatDateTime(item().DataDate,'yyyy-MMM-dd')",
															"type": "Expression"
														}
													},
													"FileID": {
														"type": "Int32",
														"value": {
															"value": "@item().FileID",
															"type": "Expression"
														}
													},
													"FileName": {
														"type": "String",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													"flgProcessType": {
														"type": "Byte",
														"value": "2"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DataFoundationConnectionV2",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "CopyWINITStaging-To-ADLS",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "SpCycFileSetUpdate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "CopyWINITStaging-To-ADLS-CFR",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Directory": "cntwinit",
												"Folder": {
													"value": "Smartbasket",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "DeleteStagingOneFile",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "CopyWINITStaging-To-ADLS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "DeleteStagingOneFileWINIT",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"FileName": {
													"value": "@activity('GetFileList').output.itemName",
													"type": "Expression"
												},
												"Folder": "Smartbasket"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"CycleID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "WINIT Pipelines"
		},
		"annotations": []
	}
}