pipeline/CopyLeap_Staging-To-DB_WithDPSR.json
{
	"name": "CopyLeap_Staging-To-DB_WithDPSR",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LeapStorageSourceDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "SpFileEntry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpFileEntry]",
								"storedProcedureParameters": {
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileType": {
										"value": "1",
										"type": "Byte"
									},
									"LastModifiedDatetime": {
										"value": {
											"value": "@activity('GetFileList').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "TASDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "BSBF_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SpFileEntry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'BSBF_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "BSBF_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "BSBF_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branchcode",
															"type": "String"
														},
														"sink": {
															"name": "branchcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbfname",
															"type": "String"
														},
														"sink": {
															"name": "subbfname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "status",
															"type": "String"
														},
														"sink": {
															"name": "status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "BSBF_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "BSBF_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "BSBF_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'BSBF_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "BSBF_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "BSBF_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branchcode",
															"type": "String"
														},
														"sink": {
															"name": "branchcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbfname",
															"type": "String"
														},
														"sink": {
															"name": "subbfname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "status",
															"type": "String"
														},
														"sink": {
															"name": "status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "BSBF_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "BSBF_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "BSBF_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'BSBF_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "BSBF_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "BSBF_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branchcode",
															"type": "String"
														},
														"sink": {
															"name": "branchcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbfname",
															"type": "String"
														},
														"sink": {
															"name": "subbfname",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "status",
															"type": "String"
														},
														"sink": {
															"name": "status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "BSBF_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "CCCR_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "BSBF_Could3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'CCCR_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CCCR_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "CCCR_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "CCCR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "CCCR_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CCCR_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'CCCR_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CCCR_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "CCCR_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "CCCR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "CCCR_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CCCR_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'CCCR_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CCCR_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "CCCR_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "CCCR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DPSR_MOR_Cloud1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CCCR_Could3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DPSR_MOR_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DPSR_MOR_Cloud01",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "DPSR_MOR_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "document_no",
															"type": "String"
														},
														"sink": {
															"name": "document_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "apply_to_doc",
															"type": "String"
														},
														"sink": {
															"name": "apply_to_doc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "document_date",
															"type": "String"
														},
														"sink": {
															"name": "document_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "transaction_type",
															"type": "String"
														},
														"sink": {
															"name": "transaction_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbrandform_name",
															"type": "String"
														},
														"sink": {
															"name": "subbrandform_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "prod_name",
															"type": "String"
														},
														"sink": {
															"name": "prod_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_name",
															"type": "String"
														},
														"sink": {
															"name": "customer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_code",
															"type": "String"
														},
														"sink": {
															"name": "customer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_description",
															"type": "String"
														},
														"sink": {
															"name": "channel_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse",
															"type": "String"
														},
														"sink": {
															"name": "dse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pcode",
															"type": "String"
														},
														"sink": {
															"name": "pcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String"
														},
														"sink": {
															"name": "customer_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "hsn_code",
															"type": "String"
														},
														"sink": {
															"name": "hsn_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "category",
															"type": "String"
														},
														"sink": {
															"name": "category",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brand",
															"type": "String"
														},
														"sink": {
															"name": "brand",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brandform",
															"type": "String"
														},
														"sink": {
															"name": "brandform",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "quantity",
															"type": "String"
														},
														"sink": {
															"name": "quantity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_value",
															"type": "String"
														},
														"sink": {
															"name": "gross_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "discount",
															"type": "String"
														},
														"sink": {
															"name": "discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "taxable_scheme",
															"type": "String"
														},
														"sink": {
															"name": "taxable_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_amount",
															"type": "String"
														},
														"sink": {
															"name": "igsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_amount",
															"type": "String"
														},
														"sink": {
															"name": "cesstax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_code",
															"type": "String"
														},
														"sink": {
															"name": "mracc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_desc",
															"type": "String"
														},
														"sink": {
															"name": "mracc_desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "vendor",
															"type": "String"
														},
														"sink": {
															"name": "vendor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_discount",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_scheme",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_in_rlp",
															"type": "String"
														},
														"sink": {
															"name": "tax_in_rlp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailing",
															"type": "String"
														},
														"sink": {
															"name": "retailing",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_in_slp",
															"type": "String"
														},
														"sink": {
															"name": "gross_in_slp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "po_no",
															"type": "String"
														},
														"sink": {
															"name": "po_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "msu",
															"type": "String"
														},
														"sink": {
															"name": "msu",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "dist_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "ret_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "srn_ref_no",
															"type": "String"
														},
														"sink": {
															"name": "srn_ref_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "composite",
															"type": "String"
														},
														"sink": {
															"name": "composite",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_rate",
															"type": "String"
														},
														"sink": {
															"name": "igsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_rate",
															"type": "String"
														},
														"sink": {
															"name": "cesstax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_mode",
															"type": "String"
														},
														"sink": {
															"name": "order_mode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_code",
															"type": "String"
														},
														"sink": {
															"name": "tc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_name",
															"type": "String"
														},
														"sink": {
															"name": "tc_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "batch",
															"type": "String"
														},
														"sink": {
															"name": "batch",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "upc",
															"type": "String"
														},
														"sink": {
															"name": "upc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_amount",
															"type": "String"
														},
														"sink": {
															"name": "tcs_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_rate",
															"type": "String"
														},
														"sink": {
															"name": "tcs_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "branch_gst_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_no",
															"type": "String"
														},
														"sink": {
															"name": "dl_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "irn_no",
															"type": "String"
														},
														"sink": {
															"name": "irn_no",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DPSR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DPSR_MOR_Cloud2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DPSR_MOR_Cloud1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DPSR_MOR_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DPSR_MOR_Cloud02",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "DPSR_MOR_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "document_no",
															"type": "String"
														},
														"sink": {
															"name": "document_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "apply_to_doc",
															"type": "String"
														},
														"sink": {
															"name": "apply_to_doc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "document_date",
															"type": "String"
														},
														"sink": {
															"name": "document_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "transaction_type",
															"type": "String"
														},
														"sink": {
															"name": "transaction_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbrandform_name",
															"type": "String"
														},
														"sink": {
															"name": "subbrandform_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "prod_name",
															"type": "String"
														},
														"sink": {
															"name": "prod_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_name",
															"type": "String"
														},
														"sink": {
															"name": "customer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_code",
															"type": "String"
														},
														"sink": {
															"name": "customer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_description",
															"type": "String"
														},
														"sink": {
															"name": "channel_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse",
															"type": "String"
														},
														"sink": {
															"name": "dse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pcode",
															"type": "String"
														},
														"sink": {
															"name": "pcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String"
														},
														"sink": {
															"name": "customer_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "hsn_code",
															"type": "String"
														},
														"sink": {
															"name": "hsn_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "category",
															"type": "String"
														},
														"sink": {
															"name": "category",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brand",
															"type": "String"
														},
														"sink": {
															"name": "brand",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brandform",
															"type": "String"
														},
														"sink": {
															"name": "brandform",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "quantity",
															"type": "String"
														},
														"sink": {
															"name": "quantity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_value",
															"type": "String"
														},
														"sink": {
															"name": "gross_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "discount",
															"type": "String"
														},
														"sink": {
															"name": "discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "taxable_scheme",
															"type": "String"
														},
														"sink": {
															"name": "taxable_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_amount",
															"type": "String"
														},
														"sink": {
															"name": "igsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_amount",
															"type": "String"
														},
														"sink": {
															"name": "cesstax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_code",
															"type": "String"
														},
														"sink": {
															"name": "mracc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_desc",
															"type": "String"
														},
														"sink": {
															"name": "mracc_desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "vendor",
															"type": "String"
														},
														"sink": {
															"name": "vendor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_discount",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_scheme",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_in_rlp",
															"type": "String"
														},
														"sink": {
															"name": "tax_in_rlp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailing",
															"type": "String"
														},
														"sink": {
															"name": "retailing",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_in_slp",
															"type": "String"
														},
														"sink": {
															"name": "gross_in_slp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "po_no",
															"type": "String"
														},
														"sink": {
															"name": "po_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "msu",
															"type": "String"
														},
														"sink": {
															"name": "msu",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "dist_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "ret_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "srn_ref_no",
															"type": "String"
														},
														"sink": {
															"name": "srn_ref_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "composite",
															"type": "String"
														},
														"sink": {
															"name": "composite",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_rate",
															"type": "String"
														},
														"sink": {
															"name": "igsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_rate",
															"type": "String"
														},
														"sink": {
															"name": "cesstax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_mode",
															"type": "String"
														},
														"sink": {
															"name": "order_mode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_code",
															"type": "String"
														},
														"sink": {
															"name": "tc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_name",
															"type": "String"
														},
														"sink": {
															"name": "tc_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "batch",
															"type": "String"
														},
														"sink": {
															"name": "batch",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "upc",
															"type": "String"
														},
														"sink": {
															"name": "upc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_amount",
															"type": "String"
														},
														"sink": {
															"name": "tcs_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_rate",
															"type": "String"
														},
														"sink": {
															"name": "tcs_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "branch_gst_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_no",
															"type": "String"
														},
														"sink": {
															"name": "dl_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "irn_no",
															"type": "String"
														},
														"sink": {
															"name": "irn_no",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DPSR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DPSR_MOR_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DPSR_MOR_Cloud2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DPSR_MOR_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DPSR_MOR_Cloud03",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "DPSR_MOR_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "document_no",
															"type": "String"
														},
														"sink": {
															"name": "document_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "apply_to_doc",
															"type": "String"
														},
														"sink": {
															"name": "apply_to_doc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "document_date",
															"type": "String"
														},
														"sink": {
															"name": "document_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "transaction_type",
															"type": "String"
														},
														"sink": {
															"name": "transaction_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbrandform_name",
															"type": "String"
														},
														"sink": {
															"name": "subbrandform_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "prod_name",
															"type": "String"
														},
														"sink": {
															"name": "prod_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_name",
															"type": "String"
														},
														"sink": {
															"name": "customer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_code",
															"type": "String"
														},
														"sink": {
															"name": "customer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_description",
															"type": "String"
														},
														"sink": {
															"name": "channel_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse",
															"type": "String"
														},
														"sink": {
															"name": "dse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pcode",
															"type": "String"
														},
														"sink": {
															"name": "pcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String"
														},
														"sink": {
															"name": "customer_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "hsn_code",
															"type": "String"
														},
														"sink": {
															"name": "hsn_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "category",
															"type": "String"
														},
														"sink": {
															"name": "category",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brand",
															"type": "String"
														},
														"sink": {
															"name": "brand",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brandform",
															"type": "String"
														},
														"sink": {
															"name": "brandform",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "quantity",
															"type": "String"
														},
														"sink": {
															"name": "quantity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_value",
															"type": "String"
														},
														"sink": {
															"name": "gross_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "discount",
															"type": "String"
														},
														"sink": {
															"name": "discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "taxable_scheme",
															"type": "String"
														},
														"sink": {
															"name": "taxable_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_amount",
															"type": "String"
														},
														"sink": {
															"name": "igsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_amount",
															"type": "String"
														},
														"sink": {
															"name": "cesstax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_code",
															"type": "String"
														},
														"sink": {
															"name": "mracc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_desc",
															"type": "String"
														},
														"sink": {
															"name": "mracc_desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "vendor",
															"type": "String"
														},
														"sink": {
															"name": "vendor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_discount",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_scheme",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_in_rlp",
															"type": "String"
														},
														"sink": {
															"name": "tax_in_rlp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailing",
															"type": "String"
														},
														"sink": {
															"name": "retailing",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_in_slp",
															"type": "String"
														},
														"sink": {
															"name": "gross_in_slp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "po_no",
															"type": "String"
														},
														"sink": {
															"name": "po_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "msu",
															"type": "String"
														},
														"sink": {
															"name": "msu",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "dist_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "ret_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "srn_ref_no",
															"type": "String"
														},
														"sink": {
															"name": "srn_ref_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "composite",
															"type": "String"
														},
														"sink": {
															"name": "composite",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_rate",
															"type": "String"
														},
														"sink": {
															"name": "igsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_rate",
															"type": "String"
														},
														"sink": {
															"name": "cesstax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_mode",
															"type": "String"
														},
														"sink": {
															"name": "order_mode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_code",
															"type": "String"
														},
														"sink": {
															"name": "tc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_name",
															"type": "String"
														},
														"sink": {
															"name": "tc_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "batch",
															"type": "String"
														},
														"sink": {
															"name": "batch",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "upc",
															"type": "String"
														},
														"sink": {
															"name": "upc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_amount",
															"type": "String"
														},
														"sink": {
															"name": "tcs_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_rate",
															"type": "String"
														},
														"sink": {
															"name": "tcs_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "branch_gst_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_no",
															"type": "String"
														},
														"sink": {
															"name": "dl_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "irn_no",
															"type": "String"
														},
														"sink": {
															"name": "irn_no",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DPSR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "RTRM_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DPSR_MOR_Could3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'RTRM_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "RTRM_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "RTRM_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "address_1",
															"type": "String"
														},
														"sink": {
															"name": "address_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "address_2",
															"type": "String"
														},
														"sink": {
															"name": "address_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pin_number",
															"type": "String"
														},
														"sink": {
															"name": "pin_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "area_code",
															"type": "String"
														},
														"sink": {
															"name": "area_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "area",
															"type": "String"
														},
														"sink": {
															"name": "area",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town_code",
															"type": "String"
														},
														"sink": {
															"name": "town_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town",
															"type": "String"
														},
														"sink": {
															"name": "town",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town_class",
															"type": "String"
														},
														"sink": {
															"name": "town_class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "city",
															"type": "String"
														},
														"sink": {
															"name": "city",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "state",
															"type": "String"
														},
														"sink": {
															"name": "state",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mobile_number",
															"type": "String"
														},
														"sink": {
															"name": "mobile_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "phone_number",
															"type": "String"
														},
														"sink": {
															"name": "phone_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_person",
															"type": "String"
														},
														"sink": {
															"name": "contact_person",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stl_name",
															"type": "String"
														},
														"sink": {
															"name": "stl_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "frequency",
															"type": "String"
														},
														"sink": {
															"name": "frequency",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distance",
															"type": "String"
														},
														"sink": {
															"name": "distance",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "class_code",
															"type": "String"
														},
														"sink": {
															"name": "class_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "class",
															"type": "String"
														},
														"sink": {
															"name": "class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel",
															"type": "String"
														},
														"sink": {
															"name": "channel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subchannel_code",
															"type": "String"
														},
														"sink": {
															"name": "subchannel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subchannel",
															"type": "String"
														},
														"sink": {
															"name": "subchannel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mr_account_code",
															"type": "String"
														},
														"sink": {
															"name": "mr_account_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mr_account_name",
															"type": "String"
														},
														"sink": {
															"name": "mr_account_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_limit",
															"type": "String"
														},
														"sink": {
															"name": "credit_limit",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_period",
															"type": "String"
														},
														"sink": {
															"name": "credit_period",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "invoice_limit",
															"type": "String"
														},
														"sink": {
															"name": "invoice_limit",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "certificate_type",
															"type": "String"
														},
														"sink": {
															"name": "certificate_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gst_number",
															"type": "String"
														},
														"sink": {
															"name": "gst_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pan_no",
															"type": "String"
														},
														"sink": {
															"name": "pan_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_number",
															"type": "String"
														},
														"sink": {
															"name": "dl_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "email",
															"type": "String"
														},
														"sink": {
															"name": "email",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dob",
															"type": "String"
														},
														"sink": {
															"name": "dob",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "doa",
															"type": "String"
														},
														"sink": {
															"name": "doa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "status",
															"type": "String"
														},
														"sink": {
															"name": "status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "default_warehouse_code",
															"type": "String"
														},
														"sink": {
															"name": "default_warehouse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "default_warehouse",
															"type": "String"
														},
														"sink": {
															"name": "default_warehouse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "restricted_orderswap_status",
															"type": "String"
														},
														"sink": {
															"name": "restricted_orderswap_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "lattitude",
															"type": "String"
														},
														"sink": {
															"name": "lattitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "longitude",
															"type": "String"
														},
														"sink": {
															"name": "longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_radius",
															"type": "String"
														},
														"sink": {
															"name": "retailer_radius",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "RTRM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "RTRM_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "RTRM_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'RTRM_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "RTRM_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "RTRM_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "address_1",
															"type": "String"
														},
														"sink": {
															"name": "address_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "address_2",
															"type": "String"
														},
														"sink": {
															"name": "address_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pin_number",
															"type": "String"
														},
														"sink": {
															"name": "pin_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "area_code",
															"type": "String"
														},
														"sink": {
															"name": "area_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "area",
															"type": "String"
														},
														"sink": {
															"name": "area",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town_code",
															"type": "String"
														},
														"sink": {
															"name": "town_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town",
															"type": "String"
														},
														"sink": {
															"name": "town",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town_class",
															"type": "String"
														},
														"sink": {
															"name": "town_class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "city",
															"type": "String"
														},
														"sink": {
															"name": "city",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "state",
															"type": "String"
														},
														"sink": {
															"name": "state",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mobile_number",
															"type": "String"
														},
														"sink": {
															"name": "mobile_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "phone_number",
															"type": "String"
														},
														"sink": {
															"name": "phone_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_person",
															"type": "String"
														},
														"sink": {
															"name": "contact_person",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stl_name",
															"type": "String"
														},
														"sink": {
															"name": "stl_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "frequency",
															"type": "String"
														},
														"sink": {
															"name": "frequency",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distance",
															"type": "String"
														},
														"sink": {
															"name": "distance",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "class_code",
															"type": "String"
														},
														"sink": {
															"name": "class_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "class",
															"type": "String"
														},
														"sink": {
															"name": "class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel",
															"type": "String"
														},
														"sink": {
															"name": "channel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subchannel_code",
															"type": "String"
														},
														"sink": {
															"name": "subchannel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subchannel",
															"type": "String"
														},
														"sink": {
															"name": "subchannel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mr_account_code",
															"type": "String"
														},
														"sink": {
															"name": "mr_account_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mr_account_name",
															"type": "String"
														},
														"sink": {
															"name": "mr_account_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_limit",
															"type": "String"
														},
														"sink": {
															"name": "credit_limit",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_period",
															"type": "String"
														},
														"sink": {
															"name": "credit_period",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "invoice_limit",
															"type": "String"
														},
														"sink": {
															"name": "invoice_limit",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "certificate_type",
															"type": "String"
														},
														"sink": {
															"name": "certificate_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gst_number",
															"type": "String"
														},
														"sink": {
															"name": "gst_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pan_no",
															"type": "String"
														},
														"sink": {
															"name": "pan_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_number",
															"type": "String"
														},
														"sink": {
															"name": "dl_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "email",
															"type": "String"
														},
														"sink": {
															"name": "email",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dob",
															"type": "String"
														},
														"sink": {
															"name": "dob",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "doa",
															"type": "String"
														},
														"sink": {
															"name": "doa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "status",
															"type": "String"
														},
														"sink": {
															"name": "status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "default_warehouse_code",
															"type": "String"
														},
														"sink": {
															"name": "default_warehouse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "default_warehouse",
															"type": "String"
														},
														"sink": {
															"name": "default_warehouse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "restricted_orderswap_status",
															"type": "String"
														},
														"sink": {
															"name": "restricted_orderswap_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "lattitude",
															"type": "String"
														},
														"sink": {
															"name": "lattitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "longitude",
															"type": "String"
														},
														"sink": {
															"name": "longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_radius",
															"type": "String"
														},
														"sink": {
															"name": "retailer_radius",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "RTRM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "RTRM_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "RTRM_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'RTRM_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "RTRM_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "RTRM_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "address_1",
															"type": "String"
														},
														"sink": {
															"name": "address_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "address_2",
															"type": "String"
														},
														"sink": {
															"name": "address_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pin_number",
															"type": "String"
														},
														"sink": {
															"name": "pin_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "area_code",
															"type": "String"
														},
														"sink": {
															"name": "area_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "area",
															"type": "String"
														},
														"sink": {
															"name": "area",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town_code",
															"type": "String"
														},
														"sink": {
															"name": "town_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town",
															"type": "String"
														},
														"sink": {
															"name": "town",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "town_class",
															"type": "String"
														},
														"sink": {
															"name": "town_class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "city",
															"type": "String"
														},
														"sink": {
															"name": "city",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "state",
															"type": "String"
														},
														"sink": {
															"name": "state",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mobile_number",
															"type": "String"
														},
														"sink": {
															"name": "mobile_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "phone_number",
															"type": "String"
														},
														"sink": {
															"name": "phone_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_person",
															"type": "String"
														},
														"sink": {
															"name": "contact_person",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "stl_name",
															"type": "String"
														},
														"sink": {
															"name": "stl_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "frequency",
															"type": "String"
														},
														"sink": {
															"name": "frequency",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distance",
															"type": "String"
														},
														"sink": {
															"name": "distance",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "class_code",
															"type": "String"
														},
														"sink": {
															"name": "class_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "class",
															"type": "String"
														},
														"sink": {
															"name": "class",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_code",
															"type": "String"
														},
														"sink": {
															"name": "channel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel",
															"type": "String"
														},
														"sink": {
															"name": "channel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subchannel_code",
															"type": "String"
														},
														"sink": {
															"name": "subchannel_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subchannel",
															"type": "String"
														},
														"sink": {
															"name": "subchannel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mr_account_code",
															"type": "String"
														},
														"sink": {
															"name": "mr_account_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mr_account_name",
															"type": "String"
														},
														"sink": {
															"name": "mr_account_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_limit",
															"type": "String"
														},
														"sink": {
															"name": "credit_limit",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "credit_period",
															"type": "String"
														},
														"sink": {
															"name": "credit_period",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "invoice_limit",
															"type": "String"
														},
														"sink": {
															"name": "invoice_limit",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "certificate_type",
															"type": "String"
														},
														"sink": {
															"name": "certificate_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gst_number",
															"type": "String"
														},
														"sink": {
															"name": "gst_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pan_no",
															"type": "String"
														},
														"sink": {
															"name": "pan_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_number",
															"type": "String"
														},
														"sink": {
															"name": "dl_number",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "email",
															"type": "String"
														},
														"sink": {
															"name": "email",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dob",
															"type": "String"
														},
														"sink": {
															"name": "dob",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "doa",
															"type": "String"
														},
														"sink": {
															"name": "doa",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "status",
															"type": "String"
														},
														"sink": {
															"name": "status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "default_warehouse_code",
															"type": "String"
														},
														"sink": {
															"name": "default_warehouse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "default_warehouse",
															"type": "String"
														},
														"sink": {
															"name": "default_warehouse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "restricted_orderswap_status",
															"type": "String"
														},
														"sink": {
															"name": "restricted_orderswap_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "lattitude",
															"type": "String"
														},
														"sink": {
															"name": "lattitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "longitude",
															"type": "String"
														},
														"sink": {
															"name": "longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_radius",
															"type": "String"
														},
														"sink": {
															"name": "retailer_radius",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "RTRM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "LOCM_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "RTRM_Could3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'LOCM_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LOCM_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "LOCM_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "country_code",
															"type": "String"
														},
														"sink": {
															"name": "country_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "country_name",
															"type": "String"
														},
														"sink": {
															"name": "country_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "division_name",
															"type": "String"
														},
														"sink": {
															"name": "division_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "region_code",
															"type": "String"
														},
														"sink": {
															"name": "region_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "region_name",
															"type": "String"
														},
														"sink": {
															"name": "region_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "site_code",
															"type": "String"
														},
														"sink": {
															"name": "site_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "site_name",
															"type": "String"
														},
														"sink": {
															"name": "site_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "LOCM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "LOCM_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LOCM_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'LOCM_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LOCM_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "LOCM_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "country_code",
															"type": "String"
														},
														"sink": {
															"name": "country_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "country_name",
															"type": "String"
														},
														"sink": {
															"name": "country_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "division_name",
															"type": "String"
														},
														"sink": {
															"name": "division_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "region_code",
															"type": "String"
														},
														"sink": {
															"name": "region_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "region_name",
															"type": "String"
														},
														"sink": {
															"name": "region_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "site_code",
															"type": "String"
														},
														"sink": {
															"name": "site_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "site_name",
															"type": "String"
														},
														"sink": {
															"name": "site_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "LOCM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "LOCM_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LOCM_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'LOCM_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LOCM_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "LOCM_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "country_code",
															"type": "String"
														},
														"sink": {
															"name": "country_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "country_name",
															"type": "String"
														},
														"sink": {
															"name": "country_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "division_name",
															"type": "String"
														},
														"sink": {
															"name": "division_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "region_code",
															"type": "String"
														},
														"sink": {
															"name": "region_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "region_name",
															"type": "String"
														},
														"sink": {
															"name": "region_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "site_code",
															"type": "String"
														},
														"sink": {
															"name": "site_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "site_name",
															"type": "String"
														},
														"sink": {
															"name": "site_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "LOCM_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "String"
			},
			"SourceStore_Directory": {
				"type": "String"
			},
			"DestinationStore_Location": {
				"type": "String"
			},
			"DestinationStore_Directory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-09T03:23:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}