pipeline/CopyStaging-To-DB-WINITDRCP-V2_Seperatetable.json
{
	"name": "CopyStaging-To-DB-WINITDRCP-V2_Seperatetable",
	"properties": {
		"activities": [
			{
				"name": "Getfilenames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetWINIT_DRCPFileDetails_Daily_Temp]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfilenames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_WINIT_StorageSourceDataset_File",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"folder": "DRCP"
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DRCP Data Copy",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@addminutes(utcnow(),330)",
															"type": "Expression"
														}
													},
													{
														"name": "FileSetID",
														"value": {
															"value": "@activity('SpCycFileSetEntry').output.firstRow.CycFileID",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{item().temptablename}",
													"type": "Expression"
												},
												"allowPolyBase": true,
												"polyBaseSettings": {
													"rejectValue": 0,
													"rejectType": "value",
													"useTypeDefault": true
												},
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "DFPolybaseStagingStorageLink",
													"type": "LinkedServiceReference"
												},
												"path": "polybasestaging"
											},
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "BranchCode",
															"type": "String"
														},
														"sink": {
															"name": "BranchCode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SubDCode",
															"type": "String"
														},
														"sink": {
															"name": "SubDCode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "SubDName",
															"type": "String"
														},
														"sink": {
															"name": "SubDName",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "VisitDate",
															"type": "String"
														},
														"sink": {
															"name": "VisitDate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "RouteCode",
															"type": "String"
														},
														"sink": {
															"name": "RouteCode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "RouteName",
															"type": "String"
														},
														"sink": {
															"name": "RouteName",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "RetailerCode",
															"type": "String"
														},
														"sink": {
															"name": "RetailerCode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "RetailerName",
															"type": "String"
														},
														"sink": {
															"name": "RetailerName",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Channel",
															"type": "String"
														},
														"sink": {
															"name": "Channel",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "CustTypeName",
															"type": "String"
														},
														"sink": {
															"name": "CustTypeName",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "DSECode",
															"type": "String"
														},
														"sink": {
															"name": "DSECode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "DSEName",
															"type": "String"
														},
														"sink": {
															"name": "DSEName",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "STLCode",
															"type": "String"
														},
														"sink": {
															"name": "STLCode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "FileName",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "WinITCSV_Staging_pipe",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@item().name",
														"type": "Expression"
													},
													"Folder": "DRCP"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Destination_table",
												"type": "DatasetReference",
												"parameters": {
													"tablename": {
														"value": "@item().temptablename",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"CycleID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "WINIT Pipelines"
		},
		"annotations": []
	}
}