pipeline/CopyStoreData.json
{
	"name": "CopyStoreData",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "DataDatetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_StoreDataFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "Copy StoreData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Daily_Store_Data",
										"wildcardFileName": {
											"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE tbltmpDailyStoreData_DirectLoad"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Weekly Visit Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Weekly Visit Date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Next_Visit_Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Next_Visit_Date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Distributor",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Distributor",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Branch",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Branch",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Site",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Site",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Branch Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Branch Code",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Store Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Store Id",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Store Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Store Name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Local Channel Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Local Channel Name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Cust Type Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Cust Type Name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Route Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Route Code",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Routes Coversing Stores",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Routes Coversing Stores",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "DSECode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DSECode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Number of Visit",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Number of Visit",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Visit",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Visit",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Daily_Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Daily_Sales",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "P3M_Avg_Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "P3M_Avg_Sales",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Cut_Oversold",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Cut_Oversold",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Order_Value",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Order_Value",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "SRN",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SRN",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "MTD_GP",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MTD_GP",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "P3M_Avg_GP",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "P3M_Avg_GP",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Billing Opportnity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Billing Opportnity",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Visit_Billing",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Visit_Billing",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Billing_Loss",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Billing_Loss",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Deviation",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Deviation",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Reason_for_Deviation",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reason_for_Deviation",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Instore_Time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Instore_Time",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Visit_Start_Time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Visit_Start_Time",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Visit_End_Time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Visit_End_Time",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CCR_AR Issue",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CCR_AR Issue",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CCR_Dead Store",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CCR_Dead Store",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CCR_Other",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CCR_Other",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CCR_Others",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CCR_Others",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CCR_Stock Available",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CCR_Stock Available",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CCR_Store Closed",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CCR_Store Closed",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CCR_Store Order Received",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CCR_Store Order Received",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "HawkEyeCSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "Daily_Store_Data",
										"directory": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_StoreData",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Sp StoreData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy StoreData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spDirectLoadSaveData]",
								"storedProcedureParameters": {
									"FileSetType": {
										"value": "3",
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "HawkEye_LinkedService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "StoreData_Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Sp StoreData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Daily_Store_Data",
										"wildcardFileName": {
											"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "HawkEyeCSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "Daily_Store_Data",
										"directory": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "HawkEyeCSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "Daily_Store_Data/Archive",
										"directory": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "StoreData_Error",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Sp StoreData",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Daily_Store_Data",
										"wildcardFileName": {
											"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "HawkEyeCSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "Daily_Store_Data",
										"directory": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "HawkEyeCSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "Daily_Store_Data/Error",
										"directory": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DataDatetime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DataDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeToday",
					"value": {
						"value": "@formatDateTime(convertTimeZone(variables('DataDate'),'UTC','India Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DataDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataDate",
					"value": {
						"value": "@convertTimeZone(pipeline().parameters.ProcessedDataDate,'UTC','India Standard Time')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"ProcessedDataDate": {
				"type": "string"
			}
		},
		"variables": {
			"TimeToday": {
				"type": "String"
			},
			"DataDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-04T18:37:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}