pipeline/CopyLeap_Staging-To-DB_3.json
{
	"name": "CopyLeap_Staging-To-DB_3",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LeapStorageSourceDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "spGetFileID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpGetFileID]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_ATTN_table",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "IfFileFound",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "spGetFileID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@string(activity('spGetFileID').output.firstRow.FileID)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "34",
										"activities": [
											{
												"name": "CFR_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "cfr_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "orders",
																	"type": "String"
																},
																"sink": {
																	"name": "orders",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "orders_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "orders_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "order_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply",
																	"type": "String"
																},
																"sink": {
																	"name": "supply",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_value",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserveddemand_qty",
																	"type": "String"
																},
																"sink": {
																	"name": "unserved_demand_qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_value",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cfr_per",
																	"type": "String"
																},
																"sink": {
																	"name": "cfr_per",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_CFR_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "35",
										"activities": [
											{
												"name": "CFR_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "cfr_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "orders",
																	"type": "String"
																},
																"sink": {
																	"name": "orders",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "orders_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "orders_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "order_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply",
																	"type": "String"
																},
																"sink": {
																	"name": "supply",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_value",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserveddemand_qty",
																	"type": "String"
																},
																"sink": {
																	"name": "unserved_demand_qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_value",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cfr_per",
																	"type": "String"
																},
																"sink": {
																	"name": "cfr_per",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_CFR_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "36",
										"activities": [
											{
												"name": "CFR_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "cfr_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "orders",
																	"type": "String"
																},
																"sink": {
																	"name": "orders",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "orders_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "orders_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "order_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply",
																	"type": "String"
																},
																"sink": {
																	"name": "supply",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_value",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "supply_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "supply_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserveddemand_qty",
																	"type": "String"
																},
																"sink": {
																	"name": "unserved_demand_qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_qty_case",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_qty_case",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_value",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "unserverdemand_msu",
																	"type": "String"
																},
																"sink": {
																	"name": "unserverdemand_msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cfr_per",
																	"type": "String"
																},
																"sink": {
																	"name": "cfr_per",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_CFR_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "37",
										"activities": [
											{
												"name": "RTRTGT_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_code",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "report_month",
																	"type": "String"
																},
																"sink": {
																	"name": "report_month",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "report_year",
																	"type": "String"
																},
																"sink": {
																	"name": "report_year",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_RTRTGT_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "38",
										"activities": [
											{
												"name": "RTRTGT_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_code",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "report_month",
																	"type": "String"
																},
																"sink": {
																	"name": "report_month",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "report_year",
																	"type": "String"
																},
																"sink": {
																	"name": "report_year",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_RTRTGT_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "39",
										"activities": [
											{
												"name": "RTRTGT_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_code",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "report_month",
																	"type": "String"
																},
																"sink": {
																	"name": "report_month",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "report_year",
																	"type": "String"
																},
																"sink": {
																	"name": "report_year",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_RTRTGT_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "40",
										"activities": [
											{
												"name": "PLIST_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "company",
																	"type": "String"
																},
																"sink": {
																	"name": "company",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand",
																	"type": "String"
																},
																"sink": {
																	"name": "brand",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "brand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_brand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_batch",
																	"type": "String"
																},
																"sink": {
																	"name": "product_batch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mrp",
																	"type": "String"
																},
																"sink": {
																	"name": "mrp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "slp",
																	"type": "String"
																},
																"sink": {
																	"name": "slp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "srp",
																	"type": "String"
																},
																"sink": {
																	"name": "srp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "hsn_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "spg_code",
																	"type": "String"
																},
																"sink": {
																	"name": "spg_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "spg_name",
																	"type": "String"
																},
																"sink": {
																	"name": "spg_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ean_code",
																	"type": "String"
																},
																"sink": {
																	"name": "ean_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "weight",
																	"type": "String"
																},
																"sink": {
																	"name": "weight",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "volume",
																	"type": "String"
																},
																"sink": {
																	"name": "volume",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_PLIST_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "41",
										"activities": [
											{
												"name": "PLIST_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "company",
																	"type": "String"
																},
																"sink": {
																	"name": "company",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand",
																	"type": "String"
																},
																"sink": {
																	"name": "brand",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "brand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_brand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_batch",
																	"type": "String"
																},
																"sink": {
																	"name": "product_batch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mrp",
																	"type": "String"
																},
																"sink": {
																	"name": "mrp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "slp",
																	"type": "String"
																},
																"sink": {
																	"name": "slp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "srp",
																	"type": "String"
																},
																"sink": {
																	"name": "srp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "hsn_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "spg_code",
																	"type": "String"
																},
																"sink": {
																	"name": "spg_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "spg_name",
																	"type": "String"
																},
																"sink": {
																	"name": "spg_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ean_code",
																	"type": "String"
																},
																"sink": {
																	"name": "ean_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "weight",
																	"type": "String"
																},
																"sink": {
																	"name": "weight",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "volume",
																	"type": "String"
																},
																"sink": {
																	"name": "volume",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_PLIST_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "42",
										"activities": [
											{
												"name": "PLIST_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "company",
																	"type": "String"
																},
																"sink": {
																	"name": "company",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand",
																	"type": "String"
																},
																"sink": {
																	"name": "brand",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "brand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_brand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_batch",
																	"type": "String"
																},
																"sink": {
																	"name": "product_batch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mrp",
																	"type": "String"
																},
																"sink": {
																	"name": "mrp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "slp",
																	"type": "String"
																},
																"sink": {
																	"name": "slp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "srp",
																	"type": "String"
																},
																"sink": {
																	"name": "srp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "hsn_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "spg_code",
																	"type": "String"
																},
																"sink": {
																	"name": "spg_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "spg_name",
																	"type": "String"
																},
																"sink": {
																	"name": "spg_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ean_code",
																	"type": "String"
																},
																"sink": {
																	"name": "ean_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "weight",
																	"type": "String"
																},
																"sink": {
																	"name": "weight",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "volume",
																	"type": "String"
																},
																"sink": {
																	"name": "volume",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_PLIST_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "46",
										"activities": [
											{
												"name": "LPB_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch",
																	"type": "String"
																},
																"sink": {
																	"name": "branch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "planned_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coverage",
																	"type": "String"
																},
																"sink": {
																	"name": "coverage",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "total_bills",
																	"type": "String"
																},
																"sink": {
																	"name": "totbills",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productive_bills",
																	"type": "String"
																},
																"sink": {
																	"name": "productivebills",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "total_lines",
																	"type": "String"
																},
																"sink": {
																	"name": "totlines",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "lpb",
																	"type": "String"
																},
																"sink": {
																	"name": "lpb_percentage",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity_norm",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity_norm",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_LPB_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "47",
										"activities": [
											{
												"name": "LPB_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch",
																	"type": "String"
																},
																"sink": {
																	"name": "branch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "planned_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coverage",
																	"type": "String"
																},
																"sink": {
																	"name": "coverage",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "total_bills",
																	"type": "String"
																},
																"sink": {
																	"name": "totbills",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productive_bills",
																	"type": "String"
																},
																"sink": {
																	"name": "productivebills",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "total_lines",
																	"type": "String"
																},
																"sink": {
																	"name": "totlines",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "lpb",
																	"type": "String"
																},
																"sink": {
																	"name": "lpb_percentage",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity_norm",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity_norm",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_LPB_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "48",
										"activities": [
											{
												"name": "LPB_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch",
																	"type": "String"
																},
																"sink": {
																	"name": "branch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "planned_date",
																	"type": "String"
																},
																"sink": {
																	"name": "planned_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coverage",
																	"type": "String"
																},
																"sink": {
																	"name": "coverage",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "totbills",
																	"type": "String"
																},
																"sink": {
																	"name": "totbills",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivebills",
																	"type": "String"
																},
																"sink": {
																	"name": "productivebills",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "totlines",
																	"type": "String"
																},
																"sink": {
																	"name": "totlines",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "lpb_percentage",
																	"type": "String"
																},
																"sink": {
																	"name": "lpb_percentage",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_LPB_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "49",
										"activities": [
											{
												"name": "COS_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch",
																	"type": "String"
																},
																"sink": {
																	"name": "branch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_number",
																	"type": "String"
																},
																"sink": {
																	"name": "order_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_date",
																	"type": "String"
																},
																"sink": {
																	"name": "order_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoice_number",
																	"type": "String"
																},
																"sink": {
																	"name": "invoice_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoicedate",
																	"type": "String"
																},
																"sink": {
																	"name": "invoicedate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrandform",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrandform_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cutoffqty",
																	"type": "String"
																},
																"sink": {
																	"name": "cutoffqty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "amount",
																	"type": "String"
																},
																"sink": {
																	"name": "amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_COS_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "50",
										"activities": [
											{
												"name": "COS_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch",
																	"type": "String"
																},
																"sink": {
																	"name": "branch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_number",
																	"type": "String"
																},
																"sink": {
																	"name": "order_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_date",
																	"type": "String"
																},
																"sink": {
																	"name": "order_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoice_number",
																	"type": "String"
																},
																"sink": {
																	"name": "invoice_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoicedate",
																	"type": "String"
																},
																"sink": {
																	"name": "invoicedate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrandform",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrandform_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cutoffqty",
																	"type": "String"
																},
																"sink": {
																	"name": "cutoffqty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "amount",
																	"type": "String"
																},
																"sink": {
																	"name": "amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_COS_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "51",
										"activities": [
											{
												"name": "COS_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch",
																	"type": "String"
																},
																"sink": {
																	"name": "branch",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_number",
																	"type": "String"
																},
																"sink": {
																	"name": "order_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_date",
																	"type": "String"
																},
																"sink": {
																	"name": "order_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoice_number",
																	"type": "String"
																},
																"sink": {
																	"name": "invoice_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoicedate",
																	"type": "String"
																},
																"sink": {
																	"name": "invoicedate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrandform",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrandform_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cutoffqty",
																	"type": "String"
																},
																"sink": {
																	"name": "cutoffqty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "amount",
																	"type": "String"
																},
																"sink": {
																	"name": "amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_COS_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "52",
										"activities": [
											{
												"name": "ORDHTR_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_description",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_description",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_number",
																	"type": "String"
																},
																"sink": {
																	"name": "order_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_date",
																	"type": "String"
																},
																"sink": {
																	"name": "order_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_type",
																	"type": "String"
																},
																"sink": {
																	"name": "order_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_status",
																	"type": "String"
																},
																"sink": {
																	"name": "order_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "p_code",
																	"type": "String"
																},
																"sink": {
																	"name": "p_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbf",
																	"type": "String"
																},
																"sink": {
																	"name": "subbf",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "po_number",
																	"type": "String"
																},
																"sink": {
																	"name": "po_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "po_date",
																	"type": "String"
																},
																"sink": {
																	"name": "po_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "qty",
																	"type": "String"
																},
																"sink": {
																	"name": "qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "rlp",
																	"type": "String"
																},
																"sink": {
																	"name": "rlp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "amount",
																	"type": "String"
																},
																"sink": {
																	"name": "amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_code",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_name",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "delivery_date",
																	"type": "String"
																},
																"sink": {
																	"name": "delivery_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_from",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_from",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_till",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_till",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ORDHTR_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "53",
										"activities": [
											{
												"name": "ORDHTR_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_description",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_description",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_number",
																	"type": "String"
																},
																"sink": {
																	"name": "order_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_date",
																	"type": "String"
																},
																"sink": {
																	"name": "order_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_type",
																	"type": "String"
																},
																"sink": {
																	"name": "order_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_status",
																	"type": "String"
																},
																"sink": {
																	"name": "order_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "p_code",
																	"type": "String"
																},
																"sink": {
																	"name": "p_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbf",
																	"type": "String"
																},
																"sink": {
																	"name": "subbf",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "po_number",
																	"type": "String"
																},
																"sink": {
																	"name": "po_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "po_date",
																	"type": "String"
																},
																"sink": {
																	"name": "po_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "qty",
																	"type": "String"
																},
																"sink": {
																	"name": "qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "rlp",
																	"type": "String"
																},
																"sink": {
																	"name": "rlp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "amount",
																	"type": "String"
																},
																"sink": {
																	"name": "amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_code",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_name",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "delivery_date",
																	"type": "String"
																},
																"sink": {
																	"name": "delivery_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_from",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_from",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_till",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_till",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ORDHTR_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "54",
										"activities": [
											{
												"name": "ORDHTR_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_description",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_description",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_number",
																	"type": "String"
																},
																"sink": {
																	"name": "order_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_date",
																	"type": "String"
																},
																"sink": {
																	"name": "order_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_type",
																	"type": "String"
																},
																"sink": {
																	"name": "order_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_status",
																	"type": "String"
																},
																"sink": {
																	"name": "order_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "p_code",
																	"type": "String"
																},
																"sink": {
																	"name": "p_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbf",
																	"type": "String"
																},
																"sink": {
																	"name": "subbf",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "po_number",
																	"type": "String"
																},
																"sink": {
																	"name": "po_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "po_date",
																	"type": "String"
																},
																"sink": {
																	"name": "po_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "qty",
																	"type": "String"
																},
																"sink": {
																	"name": "qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "rlp",
																	"type": "String"
																},
																"sink": {
																	"name": "rlp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "amount",
																	"type": "String"
																},
																"sink": {
																	"name": "amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_code",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_name",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "delivery_date",
																	"type": "String"
																},
																"sink": {
																	"name": "delivery_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_from",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_from",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_till",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_till",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ORDHTR_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-04T16:41:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}