pipeline/FileGeneration_OneTime.json
{
	"name": "FileGeneration_OneTime",
	"properties": {
		"activities": [
			{
				"name": "Lookup All Distributor",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetDbrList_Onetime]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DF_NC_Sales_SUBD",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Distributor",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup All Distributor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup All Distributor').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM tmpDataForPrasoon WHERE Distributor_Name='@{item().DistributorName}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Market",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Market",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Distributor_Name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Distributor_Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Branch_ID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Branch_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Distributor_Branch",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Distributor_Branch",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Store_Code",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Store_Code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Store_Name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Store_Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Seller_ID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Seller_ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Master_Latitude",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Master_Latitude",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Master_Longitude",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Master_Longitude",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Sellout_P3M",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 38
											},
											"sink": {
												"name": "Sellout_P3M",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Currency",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Currency",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Visiting_Date",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "Visiting_Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Visit_Latitude",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Visit_Latitude",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Visit_Longitude",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Visit_Longitude",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_tmpAPIExtractDayPSRRawBranch_table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "LeapAPIFileDataset",
									"type": "DatasetReference",
									"parameters": {
										"directory": "distributordata",
										"FolderPath": {
											"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
											"type": "Expression"
										},
										"filename": {
											"value": "@{concat('AMA Distributor Coverage Compliance GPS data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"TimeToday": {
				"type": "String"
			},
			"DataDeleteDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "API"
		},
		"annotations": []
	}
}