pipeline/FinalDFProcessing_03Jan2024.json
{
	"name": "FinalDFProcessing_03Jan2024",
	"properties": {
		"activities": [
			{
				"name": "DCC",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DCC_Processing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DCC",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DCC_Processing",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DCC_Processing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FinalCubeProcessing",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FinalCubeProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DMinusOneDate": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
							"type": "Expression"
						},
						"flgcalled": 1
					}
				}
			},
			{
				"name": "PCode_Maximus_Job",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DWScaleafterProcessing_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PCode_Maximus_Job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DMinus1Date": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DWScaleafterProcessing_V2",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "FinalCubeProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DCC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DWScaleafterProcessing_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"flgCOHTimeOK": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}