pipeline/FinalDFProcessing_04Jun2023.json
{
	"name": "FinalDFProcessing_04Jun2023",
	"properties": {
		"activities": [
			{
				"name": "spGetDFParameterDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetDFParameterDetail]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "spRunForFiveStar-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF-To-TAS Transfer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spRunForFiveStar]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spCalculateLSSSchemeAgainstActData-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spRunForFiveStar-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spCalculateLSSSchemeAgainstActData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spCalculateLuckDrawStore-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_UpdateTeleCallingActGPPoints-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spCalculateLuckDrawStore]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDFTAS_PopulateSBDWorkingData-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDFTAS_PopulateSBDWorkingData]",
					"storedProcedureParameters": {
						"RptMonthYear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.SBDRptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "PremiumDatafoundationconnection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateSBDGaps-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDFTAS_PopulateSBDWorkingData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateSBDGaps]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateFactSBDData_PCode",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDFTAS_PopulateSBDWorkingData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateFactSBDData_PCode]",
					"storedProcedureParameters": {
						"RptMonthYear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.SBDRptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SQL_Scale S6 400 DTU",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spCalculateLuckDrawStore-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_Scale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Scaleval": "S6",
						"tier": "Standard",
						"flgcalled": 0
					}
				}
			},
			{
				"name": "AS_ResumeandScale_S9",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spPopulateFactSBDData_PCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_Scaling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"flgcalled": 0
					}
				}
			},
			{
				"name": "FiveStar Data Transfer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spCalculateLSSSchemeAgainstActData-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DFPolybaseStagingStorageLink",
							"type": "LinkedServiceReference"
						},
						"path": "polybasestaging"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "TelecallingID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "GPPoints",
									"type": "Byte"
								},
								"sink": {
									"name": "GPPOints",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "ParameterId",
									"type": "Byte"
								},
								"sink": {
									"name": "Parameterid",
									"type": "Byte"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAS_tmpTeleCallingFiveStarGPPoints",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_tmpTAS_FiveStarGPPoints",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "spTAS_UpdateTeleCallingActGPPoints-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FiveStar Data Transfer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_UpdateTeleCallingActGPPoints]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW_Resume_Scale DW200_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spPopulateFactSBDData_PCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Resume_Scale_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ScaleVal": "DW300c",
						"flgcalled": 0
					}
				}
			},
			{
				"name": "FinalCubeProcessing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale DW200_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AS_ResumeandScale_S9",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FinalCubeProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DMinusOneDate": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
							"type": "Expression"
						},
						"flgcalled": 1
					}
				}
			},
			{
				"name": "DF-To-TAS Transfer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spTAS_PopulateSBDGaps-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DF-To-TAS Transfer",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}