pipeline/FinalDFProcessing_02Feb2024.json
{
	"name": "FinalDFProcessing_02Feb2024",
	"properties": {
		"activities": [
			{
				"name": "spGetDFParameterDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetDFParameterDetail]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DW_Resume_Scale DW200_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Resume_Scale_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ScaleVal": "DW200c",
						"flgcalled": 0
					}
				}
			},
			{
				"name": "FinalCubeProcessing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DWScaleafterProcessing_V21",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FinalCubeProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DMinusOneDate": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
							"type": "Expression"
						},
						"flgcalled": 1
					}
				}
			},
			{
				"name": "PCode_Maximus_Job",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FinalCubeProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PCode_Maximus_Job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DMinus1Date": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "MorningProcessCompleteCheck",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DWScaleafterProcessing_V21",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MorningProcessCompleteCheck",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DCCFinalProcessing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale DW200_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DCCFinalProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DWScaleafterProcessing_V21",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DCCFinalProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DWScaleafterProcessing_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"flgCOHTimeOK": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}