pipeline/FinalDFProcessing.json
{
	"name": "FinalDFProcessing",
	"properties": {
		"activities": [
			{
				"name": "spGetDFParameterDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetDFParameterDetail]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "spTAS_DailyDataRefreshSalesData-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_DailyDataRefreshSalesData]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spRolloverDataLoad-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_MapTeleCallingInvDetail-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spLoadRollOverDayZeroData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spRunForFiveStar-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spRolloverDataLoad-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spRunForFiveStar]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spCalculateLSSSchemeAgainstActData-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spRunForFiveStar-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spCalculateLSSSchemeAgainstActData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spCalculateLuckDrawStore-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_UpdateTeleCallingActGPPoints",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spCalculateLuckDrawStore]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDF_GenerateInvWiseNetSales-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDF_GenerateInvWiseNetSales]",
					"storedProcedureParameters": {
						"Rptmonthyear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDFTAS_PopulateSBDWorkingData-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDF_GenerateInvWiseNetSales-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDFTAS_PopulateSBDWorkingData]",
					"storedProcedureParameters": {
						"RptMonthYear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.SBDRptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateSBDGaps-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDFTAS_PopulateSBDWorkingData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateSBDGaps]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spAPI_PopulateExtractIDCMP-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spAPI_PopulateExtractIDCMP]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spAS_PopulateDimTables-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spAS_PopulateDimTables]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spAS_PopulateFactTables-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spAS_PopulateDimTables-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spAS_PopulateFactTables]",
					"storedProcedureParameters": {
						"DMinus1Date": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spAPI_PopulateAPIBaseTables-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spAS_PopulateFactTables-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spAPI_PopulateAPIBaseTables]",
					"storedProcedureParameters": {
						"DMinusOneDate": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateSchemeApplied-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateSchemeApplied]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopActiveSBFFrmInv-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopActiveSBFFrmInv]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spCalculatePlannedCallMeasure-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDataLoadRawLeapTAS_DRCP-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spCalculatePlannedCallMeasure]",
					"storedProcedureParameters": {
						"ProcessDt": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.CurrDate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateDailyTeleCallerMeasure-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spCalculatePlannedCallMeasure-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateDailyTeleCallerMeasure]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spUpdateDailyRetailerTarget-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateDailyTeleCallerMeasure-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdateDailyRetailerTarget]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateAllPlannedCalls-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulatePlannedRetailerTargetValue-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateAllPlannedCalls]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateSchemeData-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateSchemeData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "MasterDataForAPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spAPI_PopulateExtractIDCMP-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MasterDataForAPI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "APIDataFileGeneration",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "MasterDataForAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "APIDataFileGeneration",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Success Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "APIDataFileGeneration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "Avinash@astix.in,Ashwani@Astix.in,Alok@astix.in,gaurav@astix.in,phegade.md@pg.com,bussa.r@pg.com,ramesh@astix.in,varun@astix.in,helpdesk@astix.in,project.tl@orientindia.net",
						"Subject": "API Process Success",
						"ErrorMessage": "API process and files generated successful"
					}
				}
			},
			{
				"name": "AS_CubeProcess_Sync_Fact",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spPopulateFactSBDData",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AS_ResumeandScale",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_CubeProcess_Sync_Fact",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "AS_Scale_S2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AS_CubeProcess_Sync_Fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_Scale_S2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "spMasterUpdateFromDF-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spMasterUpdateFromDF]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateFactSBDData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDFTAS_PopulateSBDWorkingData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateFactSBDData]",
					"storedProcedureParameters": {
						"RptMonthYear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.SBDRptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDataLoadRawLeapTAS_DRCP-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spMasterUpdateFromDF-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDataLoadRawLeapTAS_DRCP]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulatePlannedRetailerTargetValue-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spUpdateDailyRetailerTarget-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spTAS_PopulateSBDGaps-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulatePlannedRetailerTargetValue]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateStoreDSEWiseSales-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateStoreDSEWiseSales]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SQL_Scale S3 200 DTU",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spCalculateLuckDrawStore-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateAllPlannedCalls-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spTAS_PopActiveSBFFrmInv-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateSchemeData-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spTAS_PopulateStoreSchemeDistributionCount-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_Scale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Scaleval": "S5",
						"tier": "Standard"
					}
				}
			},
			{
				"name": "AS_ResumeandScale",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spAS_PopulateFactTables-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_ResumeandScale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "spTAS_MapTeleCallingInvDetail-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_DailyDataRefreshSalesData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_MapTeleCallingInvDetail]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FiveStar Data Transfer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spCalculateLSSSchemeAgainstActData-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DFPolybaseStagingStorageLink",
							"type": "LinkedServiceReference"
						},
						"path": "polybasestaging"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleCallingId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "GPPoints",
									"type": "Byte"
								},
								"sink": {
									"name": "GPPoints",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "ParameterId",
									"type": "Byte"
								},
								"sink": {
									"name": "ParameterId",
									"type": "Byte"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAS_tmpTeleCallingFiveStarGPPoints",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_tmpTAS_FiveStarGPPoints",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "spTAS_UpdateTeleCallingActGPPoints",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FiveStar Data Transfer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_UpdateTeleCallingActGPPoints]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_SmartBasketPopulateBaseDetail-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spAS_PopulateFactTables-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_SmartBasketPopulateBaseDetail]",
					"storedProcedureParameters": {
						"DMinusOneDate": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateStoreSchemeDistributionCount-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_PopulateSchemeApplied-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateStoreSchemeDistributionCount]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}