pipeline/HawkeyeDataImport.json
{
	"name": "HawkeyeDataImport",
	"properties": {
		"activities": [
			{
				"name": "DataDatetime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DataDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeToday",
					"value": {
						"value": "@formatDateTime(convertTimeZone(variables('DataDate'),'UTC','India Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DataDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataDate",
					"value": {
						"value": "@convertTimeZone(pipeline().parameters.ProcessedDataDate,'UTC','India Standard Time')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"ProcessedDataDate": {
				"type": "string"
			}
		},
		"variables": {
			"TimeToday": {
				"type": "String"
			},
			"DataDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Hawk Eye"
		},
		"annotations": []
	}
}