pipeline/LeapDataMovement_WithoutLastSpCalled.json
{
	"name": "LeapDataMovement_WithoutLastSpCalled",
	"properties": {
		"activities": [
			{
				"name": "CopyLeap_Staging-To-DB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpDeleteOldtmpleapdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SpDeleteOldtmpleapdata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SpDeleteOLDDatafromtmpleaptables]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyLeapStaging-To-ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeapStaging-To-ADLS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyS3-To-Staging_Cloud1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyS3-To-Staging_Cloud2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyS3-To-Staging_Cloud3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DeleteFiles_Staging",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyLeapStaging-To-ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LeapStorageSourceDataset",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "LookupAllFilesCome",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DeleteFiles_Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCheckLeapDataLoaded]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TASDBConnection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "WhenAllFilesCome",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupAllFilesCome",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoadLeapTasIntegration",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spLoadLeapTasIntegration]"
							},
							"linkedServiceName": {
								"referenceName": "TASDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "PopulateDSETeleCallingStores",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WhenAllFilesCome",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateDSETeleCallingStores]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			},
			"windowEnd": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-06-20T05:07:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}