pipeline/LeapDataMovement_WithoutProcessing.json
{
	"name": "LeapDataMovement_WithoutProcessing",
	"properties": {
		"activities": [
			{
				"name": "CopyLeap_Staging-To-DB_WithDPSR",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpDeleteOLDDatafromtmptables_DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SpDeleteOldtmpleapdata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SpDeleteOLDDatafromtmpleaptables]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_WithDPSR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyLeapStaging-To-ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeapStaging-To-ADLS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyS3-To-Staging_Cloud1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyS3-To-Staging_Cloud2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyS3-To-Staging_Cloud3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DeleteFiles_Staging",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyLeapStaging-To-ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LeapStorageSourceDataset",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "LookupAllFilesCome",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Productmasterprocessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCheckLeapDataLoaded]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TASDBConnection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "WhenAllFilesCome",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupAllFilesCome",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoadLeapTasIntegration",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spLoadLeapTasIntegration]"
							},
							"linkedServiceName": {
								"referenceName": "TASDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SpLoadLeapTASIntegration_Error",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "LoadLeapTasIntegration",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send Notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
									"Subject": "TAS Datafactory Error",
									"ErrorMessage": "SpLoadLeapTASIntegration Failed, log on to portal for more details"
								}
							}
						}
					]
				}
			},
			{
				"name": "PopulateDSETeleCallingStores",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WhenAllFilesCome",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateDSETeleCallingStores]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDailyDataRefreshSalesData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IFDataTransferCanDone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDailyDataRefreshSalesData]",
					"storedProcedureParameters": {
						"CalledFrom": {
							"value": "1",
							"type": "Byte"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "IFDataTransferCanDone",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PopulateDSETeleCallingStores",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TASDBConnection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Scale Down DB",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spOlapProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Scale_S4_DB]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spOlapProcessing",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDailyDataRefreshSalesData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spOlapProcessing]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Productmasterprocessing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DeleteFiles_Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Productmasterprocessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SpDeleteOLDDatafromtmptables_DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SpDeleteOldtmpleapdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SpDeleteOLDDatafromtmptables_DF]"
				},
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDailyRefreshSchemeData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDailyRefreshSchemeData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SpDailyRefreshScheme_Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spDailyRefreshSchemeData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
						"Subject": "TAS Datafactory Error",
						"ErrorMessage": "SpDailyRefreshSchemeData Failed, log on to portal for more details"
					}
				}
			},
			{
				"name": "SpDailyDataRefreshSalesData Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spDailyDataRefreshSalesData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
						"Subject": "Datafactory Error",
						"ErrorMessage": "SpDailyDataRefreshSalesData failed, log on to portal for more details"
					}
				}
			},
			{
				"name": "CopyFiletoDBPart1_Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_WithDPSR",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
						"Subject": "TAS Datafactory Error",
						"ErrorMessage": "Copy FiletoDB Part1 Failed, log on to portal for more details"
					}
				}
			},
			{
				"name": "CopyFiletoDBPart2_Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
						"Subject": "TAS Datafactory Error",
						"ErrorMessage": "Copy FiletoDB Part2 Failed, log on to portal for more details"
					}
				}
			},
			{
				"name": "SpDSETeleCallingStores_Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PopulateDSETeleCallingStores",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
						"Subject": "TAS Datafactory Error",
						"ErrorMessage": "SpDSETeleCallingStores Failed, log on to portal for more details"
					}
				}
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			},
			"windowEnd": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-13T19:05:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}