pipeline/LeapDataFullProcessDaily_V2.json
{
	"name": "LeapDataFullProcessDaily_V2",
	"properties": {
		"activities": [
			{
				"name": "SpCheckAllFileProcessStatus",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If SBD File Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCheckAllFileProcessStatus]",
						"storedProcedureParameters": {
							"Step": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If All Final Table Loaded",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SpCheckAllFileProcessStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send Notification",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SpScoreCard_PopulateTableData_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send Notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "SpScoreCard_PopulateTableData_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpScoreCard_PopulateTableData]"
							},
							"linkedServiceName": {
								"referenceName": "DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "FinalDFProcessing",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "DW_Scale Processing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FinalDFProcessing",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Wait1 Second",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "WaitforNCSToFinish",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Wait1 Second",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "WaitforNCSToFinish",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "DW_Scale Processing",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "WaitforNCSToFinish",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DW_Resume_Scale_V3",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"flgcalled": 1,
									"flgStep": 2
								}
							}
						},
						{
							"name": "APIExtractPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "DW_Scale Processing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "APIExtractPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "SpScoreCard_PopulateTableData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DW_Scale Processing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpScoreCard_PopulateTableData]"
							},
							"linkedServiceName": {
								"referenceName": "DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Loading Temp and Final Tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale_V3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MiddleDFProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataProcessDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						},
						"Step": {
							"value": "@pipeline().parameters.Step",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "APIDeleteOLDFilesinFolder",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale_V3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "APIDeleteOLDFilesinFolder",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SQL_Scale S7 800 DTU",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale_V3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_Scale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Scaleval": "S7",
						"tier": "Standard",
						"flgcalled": 0
					}
				}
			},
			{
				"name": "Copy Order master",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spPopulateOrderTelecallerListTransferTables-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DFPolybaseStagingStorageLink",
							"type": "LinkedServiceReference"
						},
						"path": "polybasestaging"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderCode",
									"type": "String"
								},
								"sink": {
									"name": "OrderCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VisitID",
									"type": "Int32"
								},
								"sink": {
									"name": "VisitID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OrderDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SalesPersonID",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesPersonID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SalesPersonType",
									"type": "Byte"
								},
								"sink": {
									"name": "SalesPersonType",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "RouteNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "RouteNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "RouteNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "RouteNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "StoreID",
									"type": "Int32"
								},
								"sink": {
									"name": "StoreID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TotalDeliveryBy",
									"type": "DateTime"
								},
								"sink": {
									"name": "TotalDeliveryBy",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Remarks",
									"type": "String"
								},
								"sink": {
									"name": "Remarks",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TotLineOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotLineOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotLineLevelDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotLineLevelDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotDiscVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotDiscVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotOrderValWDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOrderValWDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotTaxVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotTaxVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NetOrderValue",
									"type": "Decimal"
								},
								"sink": {
									"name": "NetOrderValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "CustomerPONo",
									"type": "String"
								},
								"sink": {
									"name": "CustomerPONo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CustomerPODate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CustomerPODate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "flgInvoiceOnDelivery",
									"type": "Byte"
								},
								"sink": {
									"name": "flgInvoiceOnDelivery",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgCollectionOnDelivery",
									"type": "Byte"
								},
								"sink": {
									"name": "flgCollectionOnDelivery",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FreightRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "FreightRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "CollectionRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "CollectionRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "DlvryRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "DlvryRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "InvRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "InvRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "InsRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "InsRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TaxRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "TaxRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "OrderStatusID",
									"type": "Byte"
								},
								"sink": {
									"name": "OrderStatusID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "OrderSourceID",
									"type": "Byte"
								},
								"sink": {
									"name": "OrderSourceID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgOrderClosed",
									"type": "Byte"
								},
								"sink": {
									"name": "flgOrderClosed",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "LoginIDIns",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIDIns",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimestampIns",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimestampIns",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LoginIDUpd",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIDUpd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimestampUpd",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimestampUpd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "FYID",
									"type": "Int32"
								},
								"sink": {
									"name": "FYID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderConfirmationDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OrderConfirmationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "OrderCompletionDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OrderCompletionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "OrderInitTag",
									"type": "String"
								},
								"sink": {
									"name": "OrderInitTag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OrderSeqNo",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderSeqNo",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SalesNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SalesNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ActAddDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "ActAddDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OrderLogId",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderLogId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgOffline",
									"type": "Byte"
								},
								"sink": {
									"name": "flgOffline",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "OrdPrcsId",
									"type": "Byte"
								},
								"sink": {
									"name": "OrdPrcsId",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgInvoicePrinted",
									"type": "Byte"
								},
								"sink": {
									"name": "flgInvoicePrinted",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "ReasonId",
									"type": "Int32"
								},
								"sink": {
									"name": "ReasonId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ReasonText",
									"type": "String"
								},
								"sink": {
									"name": "ReasonText",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OrderPDAID",
									"type": "String"
								},
								"sink": {
									"name": "OrderPDAID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TotOtherCharges",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOtherCharges",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleCallingId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CycleId",
									"type": "Int32"
								},
								"sink": {
									"name": "CycleId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgSent",
									"type": "Int32"
								},
								"sink": {
									"name": "flgSent",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgOrderSource",
									"type": "Byte"
								},
								"sink": {
									"name": "flgOrderSource",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TotMRPValue",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotMRPValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GPValue",
									"type": "Int16"
								},
								"sink": {
									"name": "GPValue",
									"type": "Int16"
								}
							},
							{
								"source": {
									"name": "FocBndAlrAch",
									"type": "Byte"
								},
								"sink": {
									"name": "FocBndAlrAch",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FocBndNowAch",
									"type": "Byte"
								},
								"sink": {
									"name": "FocBndNowAch",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FocBndSBFOrd",
									"type": "Int32"
								},
								"sink": {
									"name": "FocBndSBFOrd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "FocBndSBFQtyOrd",
									"type": "Int32"
								},
								"sink": {
									"name": "FocBndSBFQtyOrd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "FocBndSBFValueOrd",
									"type": "Decimal"
								},
								"sink": {
									"name": "FocBndSBFValueOrd",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "SBDSBFOrd",
									"type": "Int32"
								},
								"sink": {
									"name": "SBDSBFOrd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SBDTotalGap",
									"type": "Int32"
								},
								"sink": {
									"name": "SBDTotalGap",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "GPValueSupplied",
									"type": "Int16"
								},
								"sink": {
									"name": "GPValueSupplied",
									"type": "Int16"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAS_tblOrderMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_tblOrdermaster",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Order Detail",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Order master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DFPolybaseStagingStorageLink",
							"type": "LinkedServiceReference"
						},
						"path": "polybasestaging"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderDetailID",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderDetailID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderID",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "PrdNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "PrdNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "PrdNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "PrdNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "PrcBatchID",
									"type": "Int32"
								},
								"sink": {
									"name": "PrcBatchID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderQty",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderQty",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "PriceTermId",
									"type": "Int32"
								},
								"sink": {
									"name": "PriceTermId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ProductRate",
									"type": "Decimal"
								},
								"sink": {
									"name": "ProductRate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "LineOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "LineOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotLineDiscVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotLineDiscVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "LineOrderValWDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "LineOrderValWDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TaxRefID",
									"type": "Int32"
								},
								"sink": {
									"name": "TaxRefID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TaxRate",
									"type": "Decimal"
								},
								"sink": {
									"name": "TaxRate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotTaxValue",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotTaxValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NetLineOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "NetLineOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "LoginIDIns",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIDIns",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimestampIns",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimestampIns",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LoginIDUpd",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIDUpd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimestampUpd",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimestampUpd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SampleQty",
									"type": "Int32"
								},
								"sink": {
									"name": "SampleQty",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SalesUnitId",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesUnitId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "FreeQty",
									"type": "Int32"
								},
								"sink": {
									"name": "FreeQty",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgRateChange",
									"type": "Boolean"
								},
								"sink": {
									"name": "flgRateChange",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "strBatchPrice",
									"type": "String"
								},
								"sink": {
									"name": "strBatchPrice",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProductRateBeforeTax",
									"type": "Decimal"
								},
								"sink": {
									"name": "ProductRateBeforeTax",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "flgQuotationApplied",
									"type": "Boolean"
								},
								"sink": {
									"name": "flgQuotationApplied",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "SalesQuoteDetId",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesQuoteDetId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "InvLevelDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "InvLevelDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "flgSBDGAP",
									"type": "Byte"
								},
								"sink": {
									"name": "flgSBDGAP",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgFB",
									"type": "Byte"
								},
								"sink": {
									"name": "flgFB",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgInitiative",
									"type": "Byte"
								},
								"sink": {
									"name": "flgInitiative",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "SBDGroupId",
									"type": "Int32"
								},
								"sink": {
									"name": "SBDGroupId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgSBD",
									"type": "Byte"
								},
								"sink": {
									"name": "flgSBD",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FBID",
									"type": "Int32"
								},
								"sink": {
									"name": "FBID",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAS_tblOrderDetail",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_tblOrderdetail",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "spMoveOrderTeleCallingDataInHistory",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDeleteOrderTelecallerList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spMoveOrderTeleCallingDataInHistory]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy tblTAS_tmpRAWTeleCallerListForDay",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Order Detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DFPolybaseStagingStorageLink",
							"type": "LinkedServiceReference"
						},
						"path": "polybasestaging"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleCallingId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "AttendDetId",
									"type": "Int32"
								},
								"sink": {
									"name": "AttendDetId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "StoreId",
									"type": "Int32"
								},
								"sink": {
									"name": "StoreId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "DateTime"
								},
								"sink": {
									"name": "Date",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CallMade",
									"type": "DateTime"
								},
								"sink": {
									"name": "CallMade",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DSENodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "DSENodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "DSENodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "DSENodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "StoreCode",
									"type": "String"
								},
								"sink": {
									"name": "StoreCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StoreName",
									"type": "String"
								},
								"sink": {
									"name": "StoreName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ContactPerson",
									"type": "String"
								},
								"sink": {
									"name": "ContactPerson",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ContactNo",
									"type": "String"
								},
								"sink": {
									"name": "ContactNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Channel",
									"type": "String"
								},
								"sink": {
									"name": "Channel",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SectorId",
									"type": "Int32"
								},
								"sink": {
									"name": "SectorId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgCallStatus",
									"type": "Byte"
								},
								"sink": {
									"name": "flgCallStatus",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "ScheduleCall",
									"type": "String"
								},
								"sink": {
									"name": "ScheduleCall",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ReasonId",
									"type": "Int32"
								},
								"sink": {
									"name": "ReasonId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CallAttempt",
									"type": "Byte"
								},
								"sink": {
									"name": "CallAttempt",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TeleReasonId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleReasonId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TeleUserId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleUserId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Priority",
									"type": "Int16"
								},
								"sink": {
									"name": "Priority",
									"type": "Int16"
								}
							},
							{
								"source": {
									"name": "TotalSales",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotalSales",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NoOfInv",
									"type": "Int32"
								},
								"sink": {
									"name": "NoOfInv",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "LastCallDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastCallDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "IsFinalDownloadSubmit",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsFinalDownloadSubmit",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "IsDownloaded",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsDownloaded",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "OutStandingAmt",
									"type": "Decimal"
								},
								"sink": {
									"name": "OutStandingAmt",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OutStandingDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OutStandingDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "InvNo",
									"type": "String"
								},
								"sink": {
									"name": "InvNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "InvDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LoginIdUpd",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIdUpd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimeSTampUpd",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimeSTampUpd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "OldTeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "OldTeleCallingId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimeStampIns",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimeStampIns",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "TCRouteCalendarId",
									"type": "Int32"
								},
								"sink": {
									"name": "TCRouteCalendarId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TCPlanCallsMapId",
									"type": "Int32"
								},
								"sink": {
									"name": "TCPlanCallsMapId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "LoginIdIns",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIdIns",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ChannelId",
									"type": "Int32"
								},
								"sink": {
									"name": "ChannelId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "RuleId",
									"type": "Int32"
								},
								"sink": {
									"name": "RuleId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ScheduleDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ScheduleDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CallStartDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CallStartDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Remarks",
									"type": "String"
								},
								"sink": {
									"name": "Remarks",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastOrderDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastOrderDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LastOrderValue",
									"type": "Decimal"
								},
								"sink": {
									"name": "LastOrderValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OrderBy",
									"type": "String"
								},
								"sink": {
									"name": "OrderBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastVisit",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastVisit",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LastVisitStatus",
									"type": "String"
								},
								"sink": {
									"name": "LastVisitStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VisitedBy",
									"type": "String"
								},
								"sink": {
									"name": "VisitedBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastCall",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastCall",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LastCallStatus",
									"type": "String"
								},
								"sink": {
									"name": "LastCallStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastCalledBY",
									"type": "String"
								},
								"sink": {
									"name": "LastCalledBY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SubChannelId",
									"type": "Int32"
								},
								"sink": {
									"name": "SubChannelId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SubChannel",
									"type": "String"
								},
								"sink": {
									"name": "SubChannel",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FrequencyId",
									"type": "Byte"
								},
								"sink": {
									"name": "FrequencyId",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "AlternateContactNo",
									"type": "String"
								},
								"sink": {
									"name": "AlternateContactNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RouteName",
									"type": "String"
								},
								"sink": {
									"name": "RouteName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FiveStarRuleId",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarRuleId",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfGPTgt",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfGPTgt",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfLSSTgt",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfLSSTgt",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarIndTgtDlvryVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarIndTgtDlvryVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FiveStarProductivityTgt",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarProductivityTgt",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NoOfSKU",
									"type": "Int32"
								},
								"sink": {
									"name": "NoOfSKU",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfGPAct",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfGPAct",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfLSSAct",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfLSSAct",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarTotIndTgtDlvryVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarTotIndTgtDlvryVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FiveStarAlrdyAchIndTgtDlvryVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarAlrdyAchIndTgtDlvryVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NoOfStarsAch",
									"type": "Byte"
								},
								"sink": {
									"name": "NoOfStarsAch",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "NoOfPendingVisits",
									"type": "Byte"
								},
								"sink": {
									"name": "NoOfPendingVisits",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TotInvVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotInvVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfGPAchieved",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfGPAchieved",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfLSSAchieved",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfLSSAchieved",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "DSEIssueIds",
									"type": "String"
								},
								"sink": {
									"name": "DSEIssueIds",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DSEComments",
									"type": "String"
								},
								"sink": {
									"name": "DSEComments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "flgCCRRoleOver",
									"type": "Byte"
								},
								"sink": {
									"name": "flgCCRRoleOver",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TCNodeID",
									"type": "Int32"
								},
								"sink": {
									"name": "TCNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TCNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "TCNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderCode",
									"type": "String"
								},
								"sink": {
									"name": "OrderCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BranchCode",
									"type": "String"
								},
								"sink": {
									"name": "BranchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DSECode",
									"type": "String"
								},
								"sink": {
									"name": "DSECode",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAS_tblTAS_tmpRAWTeleCallerListForDay_V2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_tblTAS_TeleCallerListForDay",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If SBD File Process",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SpCheckSBDFileProcessStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('SpCheckSBDFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "spDataLoadSBDMasterData_Cloud",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spDataLoadSBDMasterData_Cloud]"
							},
							"linkedServiceName": {
								"referenceName": "Dev_DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SpCheckSBDFileProcessStatus",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Loading Temp and Final Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCheckSBDFileProcessStatus]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "spPopulateOrderTelecallerListTransferTables-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SQL_Scale S7 800 DTU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateOrderTelecallerListTransferTables]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDeleteOrderTelecallerList",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy tblTAS_tmpRAWTeleCallerListForDay",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateOrderTelecallerListHistoryFromTransferTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDeleteOrderTelecallerList]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateOrderTelecallerListHistoryFromTransferTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateOrderTelecallerListTransferTables-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateOrderTelecallerListHistoryFromTransferTables]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "tblTeleCallerListForDay_FutureDate Transfer TAS To DF",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spPopulateOrderTelecallerListTransferTables-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE tblTeleCallerListForDay_FutureDate",
						"allowCopyCommand": true,
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DFPolybaseStagingStorageLink",
							"type": "LinkedServiceReference"
						},
						"path": "polybasestaging"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleCallingId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "AttendDetId",
									"type": "Int32"
								},
								"sink": {
									"name": "AttendDetId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "StoreId",
									"type": "Int32"
								},
								"sink": {
									"name": "StoreId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "DateTime"
								},
								"sink": {
									"name": "Date",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CallMade",
									"type": "DateTime"
								},
								"sink": {
									"name": "CallMade",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DSENodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "DSENodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "DSENodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "DSENodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "StoreCode",
									"type": "String"
								},
								"sink": {
									"name": "StoreCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StoreName",
									"type": "String"
								},
								"sink": {
									"name": "StoreName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ContactPerson",
									"type": "String"
								},
								"sink": {
									"name": "ContactPerson",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ContactNo",
									"type": "String"
								},
								"sink": {
									"name": "ContactNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Channel",
									"type": "String"
								},
								"sink": {
									"name": "Channel",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SectorId",
									"type": "Int32"
								},
								"sink": {
									"name": "SectorId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgCallStatus",
									"type": "Byte"
								},
								"sink": {
									"name": "flgCallStatus",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "ScheduleCall",
									"type": "String"
								},
								"sink": {
									"name": "ScheduleCall",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ReasonId",
									"type": "Int32"
								},
								"sink": {
									"name": "ReasonId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CallAttempt",
									"type": "Byte"
								},
								"sink": {
									"name": "CallAttempt",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TeleReasonId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleReasonId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TeleUserId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleUserId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Priority",
									"type": "Int16"
								},
								"sink": {
									"name": "Priority",
									"type": "Int16"
								}
							},
							{
								"source": {
									"name": "TotalSales",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotalSales",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NoOfInv",
									"type": "Int32"
								},
								"sink": {
									"name": "NoOfInv",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "LastCallDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastCallDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "IsFinalDownloadSubmit",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsFinalDownloadSubmit",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "IsDownloaded",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsDownloaded",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "OutStandingAmt",
									"type": "Decimal"
								},
								"sink": {
									"name": "OutStandingAmt",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OutStandingDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OutStandingDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "InvNo",
									"type": "String"
								},
								"sink": {
									"name": "InvNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "InvDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LoginIdUpd",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIdUpd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimeSTampUpd",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimeSTampUpd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "OldTeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "OldTeleCallingId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimeStampIns",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimeStampIns",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "TCRouteCalendarId",
									"type": "Int32"
								},
								"sink": {
									"name": "TCRouteCalendarId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TCPlanCallsMapId",
									"type": "Int32"
								},
								"sink": {
									"name": "TCPlanCallsMapId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "LoginIdIns",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIdIns",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ChannelId",
									"type": "Int32"
								},
								"sink": {
									"name": "ChannelId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "RuleId",
									"type": "Int32"
								},
								"sink": {
									"name": "RuleId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ScheduleDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ScheduleDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CallStartDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CallStartDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Remarks",
									"type": "String"
								},
								"sink": {
									"name": "Remarks",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastOrderDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastOrderDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LastOrderValue",
									"type": "Decimal"
								},
								"sink": {
									"name": "LastOrderValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OrderBy",
									"type": "String"
								},
								"sink": {
									"name": "OrderBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastVisit",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastVisit",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LastVisitStatus",
									"type": "String"
								},
								"sink": {
									"name": "LastVisitStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VisitedBy",
									"type": "String"
								},
								"sink": {
									"name": "VisitedBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastCall",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastCall",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LastCallStatus",
									"type": "String"
								},
								"sink": {
									"name": "LastCallStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastCalledBY",
									"type": "String"
								},
								"sink": {
									"name": "LastCalledBY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SubChannelId",
									"type": "Int32"
								},
								"sink": {
									"name": "SubChannelId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SubChannel",
									"type": "String"
								},
								"sink": {
									"name": "SubChannel",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FrequencyId",
									"type": "Byte"
								},
								"sink": {
									"name": "FrequencyId",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "AlternateContactNo",
									"type": "String"
								},
								"sink": {
									"name": "AlternateContactNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RouteName",
									"type": "String"
								},
								"sink": {
									"name": "RouteName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FiveStarRuleId",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarRuleId",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfGPTgt",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfGPTgt",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfLSSTgt",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfLSSTgt",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarIndTgtDlvryVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarIndTgtDlvryVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FiveStarProductivityTgt",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarProductivityTgt",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NoOfSKU",
									"type": "Int32"
								},
								"sink": {
									"name": "NoOfSKU",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfGPAct",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfGPAct",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfLSSAct",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfLSSAct",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarTotIndTgtDlvryVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarTotIndTgtDlvryVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FiveStarAlrdyAchIndTgtDlvryVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "FiveStarAlrdyAchIndTgtDlvryVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NoOfStarsAch",
									"type": "Byte"
								},
								"sink": {
									"name": "NoOfStarsAch",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "NoOfPendingVisits",
									"type": "Byte"
								},
								"sink": {
									"name": "NoOfPendingVisits",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TotInvVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotInvVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfGPAchieved",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfGPAchieved",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FiveStarNoOfLSSAchieved",
									"type": "Byte"
								},
								"sink": {
									"name": "FiveStarNoOfLSSAchieved",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "DSEIssueIds",
									"type": "String"
								},
								"sink": {
									"name": "DSEIssueIds",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DSEComments",
									"type": "String"
								},
								"sink": {
									"name": "DSEComments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "flgCCRRoleOver",
									"type": "Byte"
								},
								"sink": {
									"name": "flgCCRRoleOver",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TCNodeID",
									"type": "Int32"
								},
								"sink": {
									"name": "TCNodeID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TCNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "TCNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ORDERCode",
									"type": "String"
								},
								"sink": {
									"name": "ORDERCode",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAS_tblTeleCallerListForDay_FutureDate",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_tmpTAS_tblTeleCallerListForDay_FutureDate",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "DW_Resume_Scale_V3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Resume_Scale_V3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"flgcalled": 1,
						"flgStep": 1
					}
				}
			},
			{
				"name": "SQL_Scale_Maximus",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_Scale_Maximus",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Scaleval": "S3",
						"tier": "Standard"
					}
				}
			},
			{
				"name": "spDataHub_LoadFlag",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale_V3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDataHub_LoadFlag]",
					"storedProcedureParameters": {
						"CurrentDate": {
							"value": {
								"value": "@addminutes(utcnow(),330)",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"flgProcessCOmplete": {
							"value": "0",
							"type": "Byte"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SpScoreCard_PopulateInitialData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale_V3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spScoreCard_PopulateInitialData]"
				},
				"linkedServiceName": {
					"referenceName": "DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"DataProcessDate": {
				"type": "string"
			},
			"Container": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			},
			"Step": {
				"type": "string"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-13T19:05:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}