pipeline/LeapDataMovementDaily_V2.json
{
	"name": "LeapDataMovementDaily_V2",
	"properties": {
		"activities": [
			{
				"name": "CopyLeap_Staging-To-DB_WithDPSR_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpDeleteOldtmpleapdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_WithDPSR_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SpDeleteOldtmpleapdata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SpCycleStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SpDeleteOLDDatafromtmpleaptables]"
				},
				"linkedServiceName": {
					"referenceName": "DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_2_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_WithDPSR_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_2_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_3_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_2_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_3_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_4_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_3_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_4_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_5_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_4_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_5_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_6_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_5_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_6_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_7_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_6_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_7_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SpCycleStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCycEntry]",
						"storedProcedureParameters": {
							"flgInOut": {
								"type": "Byte",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnection",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			},
			"windowEnd": {
				"type": "string"
			},
			"DataProcessDate": {
				"type": "string"
			},
			"Container": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-13T19:05:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}