pipeline/LeapDataLoading_CCCR_V2.json
{
	"name": "LeapDataLoading_CCCR_V2",
	"properties": {
		"activities": [
			{
				"name": "CopyS3-To-Staging_Cloud1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpCycleStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud1_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_CCCR_V2_Cloud1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_CCCR_V2_Cloud1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataDate",
							"type": "Expression"
						},
						"Cloud": "1"
					}
				}
			},
			{
				"name": "LeapCCCRDataProcessing_Cloud1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_CCCR_V2_Cloud1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spDataLoadRawLEAPTAS_CCCR_Cloud1]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SpCycleStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCycEntry]",
						"storedProcedureParameters": {
							"flgInOut": {
								"type": "Byte",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyS3-To-Staging_Cloud2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpCycleStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyS3-To-Staging_Cloud2_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_CCCR_V2_Cloud2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyS3-To-Staging_Cloud2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_CCCR_V2_Cloud2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataDate",
							"type": "Expression"
						},
						"Cloud": "2"
					}
				}
			},
			{
				"name": "LeapCCCRDataProcessing_Cloud2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyLeap_Staging-To-DB_CCCR_V2_Cloud2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spDataLoadRawLEAPTAS_CCCR_Cloud2]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"DataDate": {
				"type": "string"
			},
			"CycleID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}