pipeline/LeapDataProcessing_V2.json
{
	"name": "LeapDataProcessing_V2",
	"properties": {
		"activities": [
			{
				"name": "Cloud 1 Processing",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "CloudInstance",
						"value": "1"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('flgProcessingDone_Cloud1'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CheckCompleted-Step1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpIsStepCompleted]",
									"storedProcedureParameters": {
										"CloudInstanceNo": {
											"type": "Int32",
											"value": {
												"value": "@variables('Cloud1')",
												"type": "Expression"
											}
										},
										"StepNo": {
											"type": "Byte",
											"value": "1"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DataFoundationConnectionV2",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Step1 Files Recieved",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckCompleted-Step1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('CheckCompleted-Step1').output.firstRow.flgCompleted,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									},
									{
										"name": "Cloud1-Set1",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Wait1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "flgCloud1-Step1",
											"value": true
										}
									}
								]
							}
						},
						{
							"name": "CheckCompleted-Step2",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If Step1 Files Recieved",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpIsStepCompleted]",
									"storedProcedureParameters": {
										"CloudInstanceNo": {
											"type": "Int32",
											"value": "1"
										},
										"StepNo": {
											"type": "Byte",
											"value": "2"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DataFoundationConnectionV2",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Step2 Files Recieved",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckCompleted-Step2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('CheckCompleted-Step2').output.firstRow.flgCompleted,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Wait2",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									},
									{
										"name": "flgCloud1-Step2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Wait2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "flgCloud1-Step2",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"flgProcessingDone_Cloud1": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgProcessingDone_Cloud2": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgProcessingDone_Cloud3": {
				"type": "Boolean",
				"defaultValue": false
			},
			"Cloud1": {
				"type": "String",
				"defaultValue": "1"
			},
			"Cloud2": {
				"type": "String",
				"defaultValue": "2"
			},
			"Cloud3": {
				"type": "String",
				"defaultValue": "3"
			},
			"flgCloud1-Step1": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud1-Step2": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": []
	}
}