pipeline/LeapDataProcessing-Set.json
{
	"name": "LeapDataProcessing-Set",
	"properties": {
		"activities": [
			{
				"name": "GetFileList-Set1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetFiletoProcess]",
						"storedProcedureParameters": {
							"CloudInstanceNo": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.CloudInstance",
									"type": "Expression"
								}
							},
							"StepNo": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each File to process",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList-Set1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList-Set1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Sp Called",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "EXEC @{item().spname}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DataFoundationConnectionV2",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"CloudInstance": {
				"type": "string"
			},
			"Step": {
				"type": "string"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}