pipeline/LeapDataFocusBrnadProcessing_V2.json
{
	"name": "LeapDataFocusBrnadProcessing_V2",
	"properties": {
		"activities": [
			{
				"name": "FocusBrandLoading-LEAP-TO-DF",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FocusBrandLoading-LEAP-TO-DF_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "spGetDFParameterDetail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FocusBrandLoading-LEAP-TO-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetDFParameterDetail]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "spPopulateFactFocusBrandData_PCode",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateFactFocusBrandData_PCode]",
					"storedProcedureParameters": {
						"Rptmonthyear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AS_CubeProcess_PCode_Sync_Fact",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AS_ResumeandScale_S8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_CubeProcess_Pcode_Sync_Fact_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"flgcalled": 1,
						"TypeID": 4,
						"processdate": {
							"value": "@utcnow()",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "AS_ResumeandScale_S8",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spPopulateFactFocusBrandData_PCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_ResumeandScale_S8",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}