pipeline/LeapDataProcessing_Cloud1.json
{
	"name": "LeapDataProcessing_Cloud1",
	"properties": {
		"activities": [
			{
				"name": "Until All Set Done",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(greaterOrEquals(variables('NoOFTotalSets'),variables('CurrentSetNo')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LeapDataProcessing-Step1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Completed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "LeapDataProcessing",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CloudInstance": "1",
									"Step": "1"
								}
							}
						},
						{
							"name": "Set Completed Count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LeapDataProcessing-Step1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentSetNo",
								"value": {
									"value": "@string(add(int(variables('PreviousSetNo')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Completed",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PreviousSetNo",
								"value": {
									"value": "@variables('CurrentSetNo')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"NoOFTotalSets": {
				"type": "String",
				"defaultValue": "8"
			},
			"CurrentSetNo": {
				"type": "String",
				"defaultValue": "0"
			},
			"PreviousSetNo": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}