pipeline/LeapDataFullProcessDaily_V2.json
{
	"name": "LeapDataFullProcessDaily_V2",
	"properties": {
		"activities": [
			{
				"name": "DW_Resume_Scale DW300_V2",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Resume_Scale_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ScaleVal": "DW300c"
					}
				}
			},
			{
				"name": "SpCheckAllFileProcessStatus",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "spDataLoadSBDMasterData_Cloud",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FocusBrandLoading-LEAP-TO-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCheckAllFileProcessStatus]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If All Final Table Loaded",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SpCheckAllFileProcessStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "FinalDFProcessing",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "DW_Scale_400",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FinalDFProcessing",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "DW_Scale_400",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DW_Scale_V2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Scaleval": "DW400c"
								}
							}
						},
						{
							"name": "DW_Scale_200",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "FinalDFProcessing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DW_Scale_V2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Scaleval": "DW200c"
								}
							}
						},
						{
							"name": "CopyLeapStaging-To-ADLS-AllCloudFiles",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "DW_Scale_200",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CopyLeapStaging-To-ADLS-AllCloudFiles",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Directory": "cntleap",
									"Folder": {
										"value": "@concat('/', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Loading Temp and Final Tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale DW300_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MiddleDFProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataProcessDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "spDataLoadSBDMasterData_Cloud",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loading Temp and Final Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDataLoadSBDMasterData_Cloud]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FocusBrandLoading-LEAP-TO-DF",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Loading Temp and Final Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FocusBrandLoading-LEAP-TO-DF_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CopyLeap_Staging-To-DB_COHGAP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SQL_Scale S7 800 DTU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyLeap_Staging-To-DB_COHGAP",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "APIDeleteOLDFilesinFolder",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale DW300_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "APIDeleteOLDFilesinFolder",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Wait 15 Min",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale DW300_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 900
				}
			},
			{
				"name": "SQL_Scale S7 800 DTU",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait 15 Min",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_Scale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Scaleval": "S7",
						"tier": "Standard"
					}
				}
			},
			{
				"name": "spDailyRefreshSchemeData-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SQL_Scale S7 800 DTU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDailyRefreshSchemeData]",
					"storedProcedureParameters": {
						"IsFullProcessRunning": {
							"value": "1",
							"type": "Byte"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Order master",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SQL_Scale S7 800 DTU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderCode",
									"type": "String"
								},
								"sink": {
									"name": "OrderCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VisitID",
									"type": "Int32"
								},
								"sink": {
									"name": "VisitID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OrderDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SalesPersonID",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesPersonID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SalesPersonType",
									"type": "Byte"
								},
								"sink": {
									"name": "SalesPersonType",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "RouteNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "RouteNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "RouteNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "RouteNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "StoreID",
									"type": "Int32"
								},
								"sink": {
									"name": "StoreID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TotalDeliveryBy",
									"type": "DateTime"
								},
								"sink": {
									"name": "TotalDeliveryBy",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Remarks",
									"type": "String"
								},
								"sink": {
									"name": "Remarks",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TotLineOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotLineOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotLineLevelDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotLineLevelDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotOrderVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOrderVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotDiscVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotDiscVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotOrderValWDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOrderValWDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TotTaxVal",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotTaxVal",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NetOrderValue",
									"type": "Decimal"
								},
								"sink": {
									"name": "NetOrderValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "CustomerPONo",
									"type": "String"
								},
								"sink": {
									"name": "CustomerPONo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CustomerPODate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CustomerPODate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "flgInvoiceOnDelivery",
									"type": "Byte"
								},
								"sink": {
									"name": "flgInvoiceOnDelivery",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgCollectionOnDelivery",
									"type": "Byte"
								},
								"sink": {
									"name": "flgCollectionOnDelivery",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FreightRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "FreightRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "CollectionRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "CollectionRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "DlvryRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "DlvryRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "InvRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "InvRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "InsRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "InsRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TaxRuleID",
									"type": "Byte"
								},
								"sink": {
									"name": "TaxRuleID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "OrderStatusID",
									"type": "Byte"
								},
								"sink": {
									"name": "OrderStatusID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "OrderSourceID",
									"type": "Byte"
								},
								"sink": {
									"name": "OrderSourceID",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgOrderClosed",
									"type": "Byte"
								},
								"sink": {
									"name": "flgOrderClosed",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "LoginIDIns",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIDIns",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimestampIns",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimestampIns",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LoginIDUpd",
									"type": "Int32"
								},
								"sink": {
									"name": "LoginIDUpd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "TimestampUpd",
									"type": "DateTime"
								},
								"sink": {
									"name": "TimestampUpd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "FYID",
									"type": "Int32"
								},
								"sink": {
									"name": "FYID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OrderConfirmationDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OrderConfirmationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "OrderCompletionDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "OrderCompletionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "strSchemeBenefit",
									"type": "String"
								},
								"sink": {
									"name": "strSchemeBenefit",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OrderInitTag",
									"type": "String"
								},
								"sink": {
									"name": "OrderInitTag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OrderSeqNo",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderSeqNo",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SalesNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SalesNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "SalesNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ActAddDisc",
									"type": "Decimal"
								},
								"sink": {
									"name": "ActAddDisc",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OrderLogId",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderLogId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgOffline",
									"type": "Byte"
								},
								"sink": {
									"name": "flgOffline",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "OrdPrcsId",
									"type": "Byte"
								},
								"sink": {
									"name": "OrdPrcsId",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "flgInvoicePrinted",
									"type": "Byte"
								},
								"sink": {
									"name": "flgInvoicePrinted",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "ReasonId",
									"type": "Int32"
								},
								"sink": {
									"name": "ReasonId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ReasonText",
									"type": "String"
								},
								"sink": {
									"name": "ReasonText",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OrderPDAID",
									"type": "String"
								},
								"sink": {
									"name": "OrderPDAID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TotOtherCharges",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotOtherCharges",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "TeleCallingId",
									"type": "Int32"
								},
								"sink": {
									"name": "TeleCallingId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								},
								"sink": {
									"name": "BranchSubdNodeType",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CycleId",
									"type": "Int32"
								},
								"sink": {
									"name": "CycleId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgSent",
									"type": "Int32"
								},
								"sink": {
									"name": "flgSent",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "flgOrderSource",
									"type": "Byte"
								},
								"sink": {
									"name": "flgOrderSource",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "TotMRPValue",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotMRPValue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GPValue",
									"type": "Int16"
								},
								"sink": {
									"name": "GPValue",
									"type": "Int16"
								}
							},
							{
								"source": {
									"name": "FocBndAlrAch",
									"type": "Byte"
								},
								"sink": {
									"name": "FocBndAlrAch",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FocBndNowAch",
									"type": "Byte"
								},
								"sink": {
									"name": "FocBndNowAch",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "FocBndSBFOrd",
									"type": "Int32"
								},
								"sink": {
									"name": "FocBndSBFOrd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "FocBndSBFQtyOrd",
									"type": "Int32"
								},
								"sink": {
									"name": "FocBndSBFQtyOrd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "FocBndSBFValueOrd",
									"type": "Decimal"
								},
								"sink": {
									"name": "FocBndSBFValueOrd",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "SBDSBFOrd",
									"type": "Int32"
								},
								"sink": {
									"name": "SBDSBFOrd",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SBDTotalGap",
									"type": "Int32"
								},
								"sink": {
									"name": "SBDTotalGap",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "GPValueSupplied",
									"type": "Int16"
								},
								"sink": {
									"name": "GPValueSupplied",
									"type": "Int16"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_TAS_tblOrderMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_tblOrdermaster",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"DataProcessDate": {
				"type": "string"
			},
			"Container": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-13T19:05:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}