pipeline/LoadER-To-DB.json
{
	"name": "LoadER-To-DB",
	"properties": {
		"activities": [
			{
				"name": "GetFileDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetERFileDetails]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Checkfiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileDetails').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SpERFileImportLog_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ERStorageSourceDataset_File",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().Folder",
											"type": "Expression"
										},
										"directory": "cntelasticrun"
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "IfFileFound",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@string(item().FileID)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "150",
													"activities": [
														{
															"name": "ERStoremaster",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "0",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 1
																			},
																			"sink": {
																				"name": "srce_sys_id",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 2
																			},
																			"sink": {
																				"name": "fact_type_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 3
																			},
																			"sink": {
																				"name": "sbmsn_type_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 4
																			},
																			"sink": {
																				"name": "due_period",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 5
																			},
																			"sink": {
																				"name": "time_perd_type_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 6
																			},
																			"sink": {
																				"name": "time_perd_start_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 7
																			},
																			"sink": {
																				"name": "trade_channel_id",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 8
																			},
																			"sink": {
																				"name": "cust_id",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 9
																			},
																			"sink": {
																				"name": "store",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 10
																			},
																			"sink": {
																				"name": "branch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 11
																			},
																			"sink": {
																				"name": "subd_flag",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 12
																			},
																			"sink": {
																				"name": "in_coverage",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 13
																			},
																			"sink": {
																				"name": "status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 14
																			},
																			"sink": {
																				"name": "golden",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 15
																			},
																			"sink": {
																				"name": "store_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 16
																			},
																			"sink": {
																				"name": "storeaddress_1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 17
																			},
																			"sink": {
																				"name": "storeaddress_2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 18
																			},
																			"sink": {
																				"name": "store_address_3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 19
																			},
																			"sink": {
																				"name": "zip_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 20
																			},
																			"sink": {
																				"name": "generic_text_field_1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 21
																			},
																			"sink": {
																				"name": "generic_text_field_2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 22
																			},
																			"sink": {
																				"name": "generic_text_field_3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 23
																			},
																			"sink": {
																				"name": "generic_text_field_4",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 24
																			},
																			"sink": {
																				"name": "generic_text_field_5",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 25
																			},
																			"sink": {
																				"name": "generic_num_field_1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 26
																			},
																			"sink": {
																				"name": "generic_num_field_2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 27
																			},
																			"sink": {
																				"name": "generic_num_field_3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 28
																			},
																			"sink": {
																				"name": "generic_num_field_4",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 29
																			},
																			"sink": {
																				"name": "generic_num_field_5",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 30
																			},
																			"sink": {
																				"name": "extra_field_1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 31
																			},
																			"sink": {
																				"name": "extra_field_2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 32
																			},
																			"sink": {
																				"name": "extra_field_3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 33
																			},
																			"sink": {
																				"name": "subd",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 34
																			},
																			"sink": {
																				"name": "extra_field_5",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 35
																			},
																			"sink": {
																				"name": "extra_field_6",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 36
																			},
																			"sink": {
																				"name": "extra_field_7",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 37
																			},
																			"sink": {
																				"name": "extra_field_8",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 38
																			},
																			"sink": {
																				"name": "extra_field_9",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 39
																			},
																			"sink": {
																				"name": "extra_field_10",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 40
																			},
																			"sink": {
																				"name": "extra_field_11",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 41
																			},
																			"sink": {
																				"name": "extra_field_12",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 42
																			},
																			"sink": {
																				"name": "extra_field_13",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 43
																			},
																			"sink": {
																				"name": "extra_field_14",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 44
																			},
																			"sink": {
																				"name": "extra_field_15",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 45
																			},
																			"sink": {
																				"name": "extra_field_16",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 46
																			},
																			"sink": {
																				"name": "extra_field_17",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 47
																			},
																			"sink": {
																				"name": "extra_field_18",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 48
																			},
																			"sink": {
																				"name": "extra_field_19",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"type": "String",
																				"ordinal": 48
																			},
																			"sink": {
																				"name": "extra_field_20",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileName",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "DateTime"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "ADLSCSVDataSource_File_withoutGzip",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": "cntelasticrun",
																		"Directory": "StoreMaster",
																		"Filename": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "151",
													"activities": [
														{
															"name": "DPSR_MDAY_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList-Cloud1').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "0",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList-Cloud1').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "document_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "document_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "apply_to_doc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "apply_to_doc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "document_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "document_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transaction_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "transaction_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "subbrandform_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "subbrandform_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "prod_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "prod_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "customer_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "customer_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "customer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "customer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_description",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "pcode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "pcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "customer_type",
																				"type": "String"
																			},
																			"sink": {
																				"name": "customer_type",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "hsn_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "hsn_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "category",
																				"type": "String"
																			},
																			"sink": {
																				"name": "category",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brand",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brand",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "brandform",
																				"type": "String"
																			},
																			"sink": {
																				"name": "brandform",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "quantity",
																				"type": "String"
																			},
																			"sink": {
																				"name": "quantity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "gross_value",
																				"type": "String"
																			},
																			"sink": {
																				"name": "gross_value",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "discount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "discount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "taxable_scheme",
																				"type": "String"
																			},
																			"sink": {
																				"name": "taxable_scheme",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cgst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cgsttax",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sgst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sgsttax",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "igst_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "igsttax",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cess_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cesstax",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mracc_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mracc_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mracc_desc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "mracc_desc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "vendor",
																				"type": "String"
																			},
																			"sink": {
																				"name": "vendor",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "net_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "net_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tax_on_discount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tax_on_discount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tax_on_scheme",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tax_on_scheme",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tax_in_rlp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tax_in_rlp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailing",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailing",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "gross_in_slp",
																				"type": "String"
																			},
																			"sink": {
																				"name": "gross_in_slp",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "po_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "po_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "msu",
																				"type": "String"
																			},
																			"sink": {
																				"name": "msu",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "reason",
																				"type": "String"
																			},
																			"sink": {
																				"name": "reason",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "distributor_gst_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dist_gstinno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_gst_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "ret_gstinno",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "srn_ref_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "srn_ref_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "composite",
																				"type": "String"
																			},
																			"sink": {
																				"name": "composite",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cgst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cgsttax_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "sgst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "sgsttax_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "igst_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "igsttax_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "cess_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "cesstax_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "order_mode",
																				"type": "String"
																			},
																			"sink": {
																				"name": "order_mode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tc_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tc_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tc_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tc_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetId",
																				"type": "Int64"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "Filename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "batch",
																				"type": "String"
																			},
																			"sink": {
																				"name": "batch",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "upc",
																				"type": "String"
																			},
																			"sink": {
																				"name": "upc",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tcs_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tcs_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "remarks",
																				"type": "String"
																			},
																			"sink": {
																				"name": "remarks",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "tcs_rate",
																				"type": "String"
																			},
																			"sink": {
																				"name": "tcs_rate",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_gst_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_gst_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dl_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dl_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dl_expiry_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dl_expiry_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "irn_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "irn_no",
																				"type": "String"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "ADLSCSVDataSource_File",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": "cntleap",
																		"Directory": {
																			"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												}
											]
										}
									}
								]
							}
						},
						{
							"name": "SpERFileImportLog_Start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpERFileImportLog]",
								"storedProcedureParameters": {
									"DataDate": {
										"value": {
											"value": "@item().DataDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FileID": {
										"value": {
											"value": "@item().FileID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"flgStartStop": {
										"value": "1",
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Dev_DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SpERFileImportLog_End",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "If File Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpERFileImportLog]",
								"storedProcedureParameters": {
									"DataDate": {
										"value": {
											"value": "@item().DataDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FileID": {
										"value": {
											"value": "@item().FileID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"flgStartStop": {
										"value": "2",
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Dev_DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}