pipeline/LoadLeapADLS-To-DB_CloudLevel.json
{
	"name": "LoadLeapADLS-To-DB_CloudLevel",
	"properties": {
		"activities": [
			{
				"name": "GetFileDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpGetCloudFileDetails_Single]",
						"storedProcedureParameters": {
							"CloudInstance": {
								"type": "Byte",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFileTobeimported",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileDetails').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ADLSDataset_Onefile",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
											"type": "Expression"
										},
										"directory": "cntleap",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"itemName",
									"lastModified",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If File Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileList",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "IfFileFound",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@string(item().FileID)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "79",
													"activities": [
														{
															"name": "SalesStatus_Cloud1",
															"description": "Copy a file from the source store to the destination store.",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"additionalColumns": [
																		{
																			"name": "Filename",
																			"value": {
																				"value": "@activity('GetFileList').output.itemName",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "LastModifiedDatetime",
																			"value": {
																				"value": "@addminutes(utcnow(),330)",
																				"type": "Expression"
																			}
																		},
																		{
																			"name": "FileSetID",
																			"value": {
																				"value": "0",
																				"type": "Expression"
																			}
																		}
																	],
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"wildcardFileName": {
																			"value": "@activity('GetFileList').output.itemName",
																			"type": "Expression"
																		},
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	},
																	"recursive": false
																},
																"sink": {
																	"type": "SqlDWSink",
																	"preCopyScript": {
																		"value": "TRUNCATE TABLE @{item().temptablename}",
																		"type": "Expression"
																	},
																	"allowPolyBase": true,
																	"polyBaseSettings": {
																		"rejectValue": 0,
																		"rejectType": "value",
																		"useTypeDefault": true
																	},
																	"disableMetricsCollection": false
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "DFPolybaseStagingStorageLink",
																		"type": "LinkedServiceReference"
																	},
																	"path": "polybasestaging"
																},
																"dataIntegrationUnits": 2,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "branch_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "branch_location",
																				"type": "String"
																			},
																			"sink": {
																				"name": "branch_location",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "dse_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "dse_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "so_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "so_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "so_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "so_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "expected_delivery_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "expected_delivery_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_no",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_no",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_date",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_date",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_amount",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_amount",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "invoice_status",
																				"type": "String"
																			},
																			"sink": {
																				"name": "invoice_status",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "retailer_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "retailer_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_code",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_code",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "channel_name",
																				"type": "String"
																			},
																			"sink": {
																				"name": "channel_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "Filename",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileName",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			},
																			"sink": {
																				"name": "LastModifiedDatetime",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "FileSetID",
																				"type": "String"
																			},
																			"sink": {
																				"name": "FileSetId",
																				"type": "Int64"
																			}
																		}
																	]
																}
															},
															"inputs": [
																{
																	"referenceName": "ADLSCSVDataSource_File",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": "cntleap",
																		"Directory": {
																			"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().name",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Destination_table",
																	"type": "DatasetReference",
																	"parameters": {
																		"tablename": {
																			"value": "@item().temptablename",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												}
											]
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}