pipeline/LoadFile-ADLS-To-DB_CCR.json
{
	"name": "LoadFile-ADLS-To-DB_CCR",
	"properties": {
		"description": "LoadFile-ADLS-To-DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLSDataset",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "/2020/08/10/",
								"type": "Expression"
							},
							"directory": "cntleap"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "DRCP_Could1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DRCP_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DRCP_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "DRCP_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "SqlDWSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"sink": {
															"name": "branchcode",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "branchname",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "retailercode",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "retailername",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "retaileraddress",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "retailercontact",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "stlname",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "dsecode",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "dsename",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "channel",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "channeltype",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "channeldescription",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "routecode",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "routename",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "sectorname",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "latitude",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "longitude",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "visit_date",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "FileSetId",
															"type": "Int64"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "String"
														}
													},
													{
														"sink": {
															"name": "TimeStampIns",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													},
													"Directory": {
														"value": "@pipeline().parameters.Folder",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_DRCP_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DRCP_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DRCP_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DRCP_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DRCP_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@pipeline().parameters.Folder",
														"type": "Expression"
													},
													"wildcardFileName": "CCCR_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "SqlDWSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													},
													"Directory": {
														"value": "@pipeline().parameters.Folder",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_DRCP_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DRCP_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DRCP_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DRCP_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CCCR_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "/2020/08/10/",
														"type": "Expression"
													},
													"wildcardFileName": "CCCR_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": "leap",
													"Directory": {
														"value": "/2020/08/10/",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "CCCR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"Folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Other Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-17T07:39:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}