pipeline/LoadFile-ADLS-To-DB.json
{
	"name": "LoadFile-ADLS-To-DB",
	"properties": {
		"description": "LoadFile-ADLS-To-DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLSDataset",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "/2020/12/08/",
								"type": "Expression"
							},
							"directory": "leap"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "DPSR_MOR_Cloud1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DPSR_MOR_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DPSR_MOR_Cloud01",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "/2020/12/08/",
														"type": "Expression"
													},
													"wildcardFileName": "DPSR_MOR_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "document_no",
															"type": "String"
														},
														"sink": {
															"name": "document_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "apply_to_doc",
															"type": "String"
														},
														"sink": {
															"name": "apply_to_doc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "document_date",
															"type": "String"
														},
														"sink": {
															"name": "document_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "transaction_type",
															"type": "String"
														},
														"sink": {
															"name": "transaction_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbrandform_name",
															"type": "String"
														},
														"sink": {
															"name": "subbrandform_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "prod_name",
															"type": "String"
														},
														"sink": {
															"name": "prod_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_name",
															"type": "String"
														},
														"sink": {
															"name": "customer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_code",
															"type": "String"
														},
														"sink": {
															"name": "customer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_description",
															"type": "String"
														},
														"sink": {
															"name": "channel_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse",
															"type": "String"
														},
														"sink": {
															"name": "dse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pcode",
															"type": "String"
														},
														"sink": {
															"name": "pcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String"
														},
														"sink": {
															"name": "customer_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "hsn_code",
															"type": "String"
														},
														"sink": {
															"name": "hsn_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "category",
															"type": "String"
														},
														"sink": {
															"name": "category",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brand",
															"type": "String"
														},
														"sink": {
															"name": "brand",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brandform",
															"type": "String"
														},
														"sink": {
															"name": "brandform",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "quantity",
															"type": "String"
														},
														"sink": {
															"name": "quantity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_value",
															"type": "String"
														},
														"sink": {
															"name": "gross_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "discount",
															"type": "String"
														},
														"sink": {
															"name": "discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "taxable_scheme",
															"type": "String"
														},
														"sink": {
															"name": "taxable_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_amount",
															"type": "String"
														},
														"sink": {
															"name": "igsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_amount",
															"type": "String"
														},
														"sink": {
															"name": "cesstax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_code",
															"type": "String"
														},
														"sink": {
															"name": "mracc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_desc",
															"type": "String"
														},
														"sink": {
															"name": "mracc_desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "vendor",
															"type": "String"
														},
														"sink": {
															"name": "vendor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_discount",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_scheme",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_in_rlp",
															"type": "String"
														},
														"sink": {
															"name": "tax_in_rlp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailing",
															"type": "String"
														},
														"sink": {
															"name": "retailing",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_in_slp",
															"type": "String"
														},
														"sink": {
															"name": "gross_in_slp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "po_no",
															"type": "String"
														},
														"sink": {
															"name": "po_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "msu",
															"type": "String"
														},
														"sink": {
															"name": "msu",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "dist_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "ret_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "srn_ref_no",
															"type": "String"
														},
														"sink": {
															"name": "srn_ref_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "composite",
															"type": "String"
														},
														"sink": {
															"name": "composite",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_rate",
															"type": "String"
														},
														"sink": {
															"name": "igsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_rate",
															"type": "String"
														},
														"sink": {
															"name": "cesstax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_mode",
															"type": "String"
														},
														"sink": {
															"name": "order_mode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_code",
															"type": "String"
														},
														"sink": {
															"name": "tc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_name",
															"type": "String"
														},
														"sink": {
															"name": "tc_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "batch",
															"type": "String"
														},
														"sink": {
															"name": "batch",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "upc",
															"type": "String"
														},
														"sink": {
															"name": "upc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_amount",
															"type": "String"
														},
														"sink": {
															"name": "tcs_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_rate",
															"type": "String"
														},
														"sink": {
															"name": "tcs_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "branch_gst_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_no",
															"type": "String"
														},
														"sink": {
															"name": "dl_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "irn_no",
															"type": "String"
														},
														"sink": {
															"name": "irn_no",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": "leap",
													"Directory": {
														"value": "/2020/12/08/",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DPSR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DPSR_MOR_Cloud2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DPSR_MOR_Cloud1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DPSR_MOR_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DPSR_MOR_Cloud02",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "/2020/12/08/",
														"type": "Expression"
													},
													"wildcardFileName": "DPSR_MOR_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "document_no",
															"type": "String"
														},
														"sink": {
															"name": "document_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "apply_to_doc",
															"type": "String"
														},
														"sink": {
															"name": "apply_to_doc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "document_date",
															"type": "String"
														},
														"sink": {
															"name": "document_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "transaction_type",
															"type": "String"
														},
														"sink": {
															"name": "transaction_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbrandform_name",
															"type": "String"
														},
														"sink": {
															"name": "subbrandform_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "prod_name",
															"type": "String"
														},
														"sink": {
															"name": "prod_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_name",
															"type": "String"
														},
														"sink": {
															"name": "customer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_code",
															"type": "String"
														},
														"sink": {
															"name": "customer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_description",
															"type": "String"
														},
														"sink": {
															"name": "channel_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse",
															"type": "String"
														},
														"sink": {
															"name": "dse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pcode",
															"type": "String"
														},
														"sink": {
															"name": "pcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String"
														},
														"sink": {
															"name": "customer_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "hsn_code",
															"type": "String"
														},
														"sink": {
															"name": "hsn_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "category",
															"type": "String"
														},
														"sink": {
															"name": "category",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brand",
															"type": "String"
														},
														"sink": {
															"name": "brand",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brandform",
															"type": "String"
														},
														"sink": {
															"name": "brandform",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "quantity",
															"type": "String"
														},
														"sink": {
															"name": "quantity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_value",
															"type": "String"
														},
														"sink": {
															"name": "gross_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "discount",
															"type": "String"
														},
														"sink": {
															"name": "discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "taxable_scheme",
															"type": "String"
														},
														"sink": {
															"name": "taxable_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_amount",
															"type": "String"
														},
														"sink": {
															"name": "igsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_amount",
															"type": "String"
														},
														"sink": {
															"name": "cesstax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_code",
															"type": "String"
														},
														"sink": {
															"name": "mracc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_desc",
															"type": "String"
														},
														"sink": {
															"name": "mracc_desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "vendor",
															"type": "String"
														},
														"sink": {
															"name": "vendor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_discount",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_scheme",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_in_rlp",
															"type": "String"
														},
														"sink": {
															"name": "tax_in_rlp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailing",
															"type": "String"
														},
														"sink": {
															"name": "retailing",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_in_slp",
															"type": "String"
														},
														"sink": {
															"name": "gross_in_slp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "po_no",
															"type": "String"
														},
														"sink": {
															"name": "po_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "msu",
															"type": "String"
														},
														"sink": {
															"name": "msu",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "dist_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "ret_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "srn_ref_no",
															"type": "String"
														},
														"sink": {
															"name": "srn_ref_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "composite",
															"type": "String"
														},
														"sink": {
															"name": "composite",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_rate",
															"type": "String"
														},
														"sink": {
															"name": "igsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_rate",
															"type": "String"
														},
														"sink": {
															"name": "cesstax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_mode",
															"type": "String"
														},
														"sink": {
															"name": "order_mode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_code",
															"type": "String"
														},
														"sink": {
															"name": "tc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_name",
															"type": "String"
														},
														"sink": {
															"name": "tc_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "batch",
															"type": "String"
														},
														"sink": {
															"name": "batch",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "upc",
															"type": "String"
														},
														"sink": {
															"name": "upc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_amount",
															"type": "String"
														},
														"sink": {
															"name": "tcs_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_rate",
															"type": "String"
														},
														"sink": {
															"name": "tcs_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "branch_gst_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_no",
															"type": "String"
														},
														"sink": {
															"name": "dl_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "irn_no",
															"type": "String"
														},
														"sink": {
															"name": "irn_no",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": "leap",
													"Directory": {
														"value": "/2020/12/08/",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DPSR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "DPSR_MOR_Cloud3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "DPSR_MOR_Cloud2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'DPSR_MOR_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DPSR_MOR_Cloud03",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "/2020/12/08/",
														"type": "Expression"
													},
													"wildcardFileName": "DPSR_MOR_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "document_no",
															"type": "String"
														},
														"sink": {
															"name": "document_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "apply_to_doc",
															"type": "String"
														},
														"sink": {
															"name": "apply_to_doc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "document_date",
															"type": "String"
														},
														"sink": {
															"name": "document_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "transaction_type",
															"type": "String"
														},
														"sink": {
															"name": "transaction_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbrandform_name",
															"type": "String"
														},
														"sink": {
															"name": "subbrandform_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "prod_name",
															"type": "String"
														},
														"sink": {
															"name": "prod_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_name",
															"type": "String"
														},
														"sink": {
															"name": "customer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_code",
															"type": "String"
														},
														"sink": {
															"name": "customer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_description",
															"type": "String"
														},
														"sink": {
															"name": "channel_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse",
															"type": "String"
														},
														"sink": {
															"name": "dse",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pcode",
															"type": "String"
														},
														"sink": {
															"name": "pcode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String"
														},
														"sink": {
															"name": "customer_type",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "hsn_code",
															"type": "String"
														},
														"sink": {
															"name": "hsn_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "category",
															"type": "String"
														},
														"sink": {
															"name": "category",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brand",
															"type": "String"
														},
														"sink": {
															"name": "brand",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brandform",
															"type": "String"
														},
														"sink": {
															"name": "brandform",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "quantity",
															"type": "String"
														},
														"sink": {
															"name": "quantity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_value",
															"type": "String"
														},
														"sink": {
															"name": "gross_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "discount",
															"type": "String"
														},
														"sink": {
															"name": "discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "taxable_scheme",
															"type": "String"
														},
														"sink": {
															"name": "taxable_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_amount",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_amount",
															"type": "String"
														},
														"sink": {
															"name": "igsttax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_amount",
															"type": "String"
														},
														"sink": {
															"name": "cesstax",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_code",
															"type": "String"
														},
														"sink": {
															"name": "mracc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_desc",
															"type": "String"
														},
														"sink": {
															"name": "mracc_desc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "vendor",
															"type": "String"
														},
														"sink": {
															"name": "vendor",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "net_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_discount",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_discount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_scheme",
															"type": "String"
														},
														"sink": {
															"name": "tax_on_scheme",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_in_rlp",
															"type": "String"
														},
														"sink": {
															"name": "tax_in_rlp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailing",
															"type": "String"
														},
														"sink": {
															"name": "retailing",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_in_slp",
															"type": "String"
														},
														"sink": {
															"name": "gross_in_slp",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "po_no",
															"type": "String"
														},
														"sink": {
															"name": "po_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "msu",
															"type": "String"
														},
														"sink": {
															"name": "msu",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "dist_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "ret_gstinno",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "srn_ref_no",
															"type": "String"
														},
														"sink": {
															"name": "srn_ref_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "composite",
															"type": "String"
														},
														"sink": {
															"name": "composite",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "cgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgst_rate",
															"type": "String"
														},
														"sink": {
															"name": "sgsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igst_rate",
															"type": "String"
														},
														"sink": {
															"name": "igsttax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cess_rate",
															"type": "String"
														},
														"sink": {
															"name": "cesstax_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_mode",
															"type": "String"
														},
														"sink": {
															"name": "order_mode",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_code",
															"type": "String"
														},
														"sink": {
															"name": "tc_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tc_name",
															"type": "String"
														},
														"sink": {
															"name": "tc_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "batch",
															"type": "String"
														},
														"sink": {
															"name": "batch",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "upc",
															"type": "String"
														},
														"sink": {
															"name": "upc",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_amount",
															"type": "String"
														},
														"sink": {
															"name": "tcs_amount",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tcs_rate",
															"type": "String"
														},
														"sink": {
															"name": "tcs_rate",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_gst_no",
															"type": "String"
														},
														"sink": {
															"name": "branch_gst_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_no",
															"type": "String"
														},
														"sink": {
															"name": "dl_no",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dl_expiry_date",
															"type": "String"
														},
														"sink": {
															"name": "dl_expiry_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "irn_no",
															"type": "String"
														},
														"sink": {
															"name": "irn_no",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": "leap",
													"Directory": {
														"value": "/2020/12/08/",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DPSR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Other Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-17T07:39:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}