pipeline/MiddleDFProcessing.json
{
	"name": "MiddleDFProcessing",
	"properties": {
		"activities": [
			{
				"name": "SpCycleStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCycEntry]",
						"storedProcedureParameters": {
							"flgInOut": {
								"type": "Byte",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LeapDataProcessing-Cloud2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RowCountUpdate_Cloud2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CloudInstance": "2"
					}
				}
			},
			{
				"name": "LeapDataProcessing-Cloud3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RowCountUpdate_Cloud3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CloudInstance": "3"
					}
				}
			},
			{
				"name": "LeapDataLoadingCloud1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpCycleStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataLoadingCloud1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Cloud": 1,
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						},
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LeapDataLoadingCloud2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpCycleStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataLoadingCloud2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						},
						"Cloud": 2
					}
				}
			},
			{
				"name": "LeapDataLoadingCloud3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpCycleStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataLoadingCloud3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						},
						"DataDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						},
						"Cloud": 3
					}
				}
			},
			{
				"name": "LeapDataProcessing-Cloud1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RowCountUpdate_Cloud1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CloudInstance": "1"
					}
				}
			},
			{
				"name": "spPopulateSchemeData-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LeapDataLoadingCloud1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LeapDataLoadingCloud2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LeapDataLoadingCloud3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateSchemeData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "RowCountUpdate_Cloud1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeapDataLoadingCloud1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spUpdateRowCountOfEachTable]",
						"storedProcedureParameters": {
							"Cloud": {
								"type": "Int32",
								"value": "1"
							},
							"CycleId": {
								"type": "Int64",
								"value": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "RowCountUpdate_Cloud2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeapDataLoadingCloud2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spUpdateRowCountOfEachTable]",
						"storedProcedureParameters": {
							"Cloud": {
								"type": "Int32",
								"value": "1"
							},
							"CycleId": {
								"type": "Int64",
								"value": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "RowCountUpdate_Cloud3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LeapDataLoadingCloud3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spUpdateRowCountOfEachTable]",
						"storedProcedureParameters": {
							"Cloud": {
								"type": "Int32",
								"value": "1"
							},
							"CycleId": {
								"type": "Int64",
								"value": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"DataProcessDate": {
				"type": "string"
			}
		},
		"variables": {
			"flgCloud1LoadingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud2LoadingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud3LoadingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud1ProcessingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud2ProcessingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud3ProcessingDone": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}