pipeline/MorningProcessCompleteCheck.json
{
	"name": "MorningProcessCompleteCheck",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('flgCanProcessStart'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "flgCanProcessStart",
											"value": {
												"value": "@bool(1)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Wait 5 min",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 3600
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"flgCanProcessStart": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}