pipeline/MoveADLS-To-dfdatafoundation_Level2.json
{
	"name": "MoveADLS-To-dfdatafoundation_Level2",
	"properties": {
		"description": "Move files from one folder to another folder",
		"activities": [
			{
				"name": "GetFoldername",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLSBinaryDataSource_Folder",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.SourceStore_Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SourceStore_Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFoldername",
				"description": "Iterate each folder and find the folder or file inside it.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFolder').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "inner folder loop",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MoveADLS-To-dfdatafoundation_Level3",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceStore_Container": {
										"value": "@pipeline().parameters.SourceStore_Container",
										"type": "Expression"
									},
									"SourceStore_Directory": {
										"value": "@concat(pipeline().parameters.SourceStore_Directory,'/', item().name ,'/')\n\n",
										"type": "Expression"
									},
									"DestinationStore_Container": {
										"value": "@pipeline().parameters.DestinationStore_Container",
										"type": "Expression"
									},
									"DestinationStore_Directory": {
										"value": "@pipeline().parameters.DestinationStore_Directory",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FilterFolder",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFoldername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFoldername').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'Folder')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Container": {
				"type": "String"
			},
			"SourceStore_Directory": {
				"type": "String"
			},
			"DestinationStore_Container": {
				"type": "String"
			},
			"DestinationStore_Directory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Other Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-17T07:39:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}