pipeline/NCSDataTransfer-ASTIX-TO-DF.json
{
	"name": "NCSDataTransfer-ASTIX-TO-DF",
	"properties": {
		"activities": [
			{
				"name": "WhenReadyToImport",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DW_Resume",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpDFGetDataLoadStatus]",
						"storedProcedureParameters": {
							"Date": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"flgDayorNight": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.ProcessingType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_NC_SUBD",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "WhenReadyToImport",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('WhenReadyToImport').output.firstRow.flgReadyLoad",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyNCS_ASTIX_To_DF",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SpDeleteNCSTmpTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CopyNCS_ASTIX_To_DF",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "SpDeleteNCSTmpTable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpDeleteNCSTmpTable]"
							},
							"linkedServiceName": {
								"referenceName": "DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "spExecuteSUBDDailySP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyNCS_ASTIX_To_DF",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spExecuteSUBDDailySP]"
							},
							"linkedServiceName": {
								"referenceName": "DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SpDFUpdateDataTransferStatus",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "spExecuteSUBDDailySP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpDFUpdateDataTransferStatus]",
								"storedProcedureParameters": {
									"Date": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"flgDayorNight": {
										"value": {
											"value": "@pipeline().parameters.ProcessingType",
											"type": "Expression"
										},
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLServerNCSAstix",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "DW_Resume",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Resume",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"ProcessingType": {
				"type": "int"
			}
		},
		"folder": {
			"name": "NCS"
		},
		"annotations": []
	}
}