pipeline/NCSDataTransfer-ASTIX-TO-DF.json
{
	"name": "NCSDataTransfer-ASTIX-TO-DF",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('flgCanProcessStart'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "WhenReadyToImport",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpDFGetDataLoadStatus]",
									"storedProcedureParameters": {
										"Date": {
											"type": "DateTime",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										},
										"flgDayorNight": {
											"type": "Byte",
											"value": {
												"value": "@pipeline().parameters.ProcessingType",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_NC_SUBD",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "flgCanProcessStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('WhenReadyToImport').output.firstRow.flgReadyLoad",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait 10 minutes",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 600
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "CopyNCS_ASTIX_To_DF",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "SpDeleteNCSTmpTable",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "CopyNCS_ASTIX_To_DF",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									},
									{
										"name": "SpDeleteNCSTmpTable",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SpDeleteNCSTmpTable]"
										},
										"linkedServiceName": {
											"referenceName": "DataFoundationDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "spExecuteSUBDDailySP",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyNCS_ASTIX_To_DF",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spExecuteSUBDDailySP]"
										},
										"linkedServiceName": {
											"referenceName": "DataFoundationDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SpDFUpdateDataTransferStatus",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "spExecuteSUBDDailySP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[SpDFUpdateDataTransferStatus]",
											"storedProcedureParameters": {
												"Date": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"flgDayorNight": {
													"value": {
														"value": "@pipeline().parameters.ProcessingType",
														"type": "Expression"
													},
													"type": "Byte"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLServerNCSAstix",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "spNCSJobStatusupdate",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "SpDFUpdateDataTransferStatus",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spNCSJobStatusupdate]"
										},
										"linkedServiceName": {
											"referenceName": "DataFoundationDB",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "flgCanProcessStart",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "WhenReadyToImport",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "flgCanProcessStart",
								"value": {
									"value": "@bool(activity('WhenReadyToImport').output.firstRow.flgReadyLoad)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"ProcessingType": {
				"type": "int"
			}
		},
		"variables": {
			"flgCanProcessStart": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "NCS"
		},
		"annotations": []
	}
}