pipeline/PCodeCubeProcess.json
{
	"name": "PCodeCubeProcess",
	"properties": {
		"activities": [
			{
				"name": "spAS_PopulateFactTables-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spAS_PopulateFactTables_PCode]",
					"storedProcedureParameters": {
						"DMinus1Date": {
							"value": {
								"value": "@variables('DMinus1Date')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AS_CubeProcess_PCode_Sync_Fact",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spAS_PopulateFactTables-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_CubeProcess_Pcode_Sync_Fact",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"DMinus1Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}