pipeline/PnGAS_CubeProcess_Pcode_Sync_Fact.json
{
	"name": "PnGAS_CubeProcess_Pcode_Sync_Fact",
	"properties": {
		"activities": [
			{
				"name": "AS_CubeProcess_Pcode_ActivityAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/indiartdxngaasprod/models/PG_DA_Olap_PCodeLvl/refreshes",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\": 8,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"DSR Hierarchy\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"DSR Hierarchy Planned\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"Location Hierarchy\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"Channel Hierarchy\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"Store Master\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"Product Hierarchy\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"Date\"},\n{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"SRN Reason\"},\n{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactSalesDetail\",\"partition\":\"PartitionCurrentQuarter_FactSalesDetails\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactCoverage\",\"partition\":\"PartitionCurrentQuarter_FactCoverage\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactCoverageStoreLvl\",\"partition\":\"PartitionCurrentQuarter_FactCoverageStoreLvl\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactARData\",\"partition\":\"PartitionCurrentQuarter_FactARData\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactFocusBrandData\",\"partition\":\"PartitionCurrentQuarter_FactFocusBrandData\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactInventory\",\"partition\":\"PartitionCurrentQuarter_FactInventory\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactSBDData\",\"partition\":\"PartitionCurrentQuarter_FactSBDData\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactStoreLvlSBDData\",\"partition\":\"PartitionCurrentQuarter_FactStoreLvlSBDData\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactTargetData\",\"partition\":\"PartitionCurrentQuarter_FactTargetData\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactOrderData\",\"partition\":\"PartitionCurrentQuarter_FactOrderData\"},\n{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactStoreDistributionDetails\",\"partition\":\"PartitionCurrentQuarter_FactStoreDistribution\"},{\"database\":\"PG_DA_Olap_PCodeLvl\",\"table\":\"tblFactWorkingDays\",\"partition\":\"Partition\"}]}\n",
						"type": "Expression"
					},
					"httpRequestTimeout": "00:05:00",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "3596192b-fdf5-4e2c-a6fa-acb706c963d8",
						"username": "f7765ce7-c577-412f-bc1c-1eb2cea07f85",
						"resource": "https://*.asazure.windows.net",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "PnGAzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "PnGASCubeProcessPrinciple"
						}
					}
				}
			},
			{
				"name": "GetRefreshId",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AS_CubeProcess_Pcode_ActivityAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\":2,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DMS\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DMS\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"}]}",
						"type": "Expression"
					},
					"httpRequestTimeout": "00:05:00",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "3596192b-fdf5-4e2c-a6fa-acb706c963d8",
						"username": "f7765ce7-c577-412f-bc1c-1eb2cea07f85",
						"resource": "https://*.asazure.windows.net",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "PnGAzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "PnGASCubeProcessPrinciple"
						}
					}
				}
			},
			{
				"name": "Set Array VarOuter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRefreshId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayVar",
					"value": {
						"value": "@json(activity('GetRefreshId').output.Response)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Status variableOuter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Array VarOuter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@variables('ArrayVar')[0].status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set RefreshId variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Status variableOuter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RefreshId",
					"value": {
						"value": "@variables('ArrayVar')[0].refreshId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set RefreshId variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(variables('status'),'inProgress'),equals(variables('status'),'notStarted')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CubeProcessingCheck",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes/',variables('RefreshId'))",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\":2,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DMS\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DMS\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"}]}",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00",
								"authentication": {
									"type": "MSI",
									"resource": "https://*.asazure.windows.net"
								}
							}
						},
						{
							"name": "Set Array VarOuter_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CubeProcessingCheck",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "@activity('CubeProcessingCheck').output.status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set Array VarOuter_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('status'),'inProgress')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Wait5min",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 300
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "If Condition1_copy1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('status'),'succeeded'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send Notification_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send Notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "avinash@astix.in,alok@astix.in,phegade.md@pg.com",
									"Subject": "Cube Fact Processing Successful",
									"ErrorMessage": "DataFoundation Cube Fact Processing Success"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send Notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send Notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "avinash@astix.in,alok@astix.in,gaurav@astix.in,phegade.md@pg.com",
									"Subject": "Cube Fact Processing Not Successful",
									"ErrorMessage": "DataFoundation Cube Fact Processing Fails"
								}
							}
						}
					]
				}
			},
			{
				"name": "AS_ResumeandScale_S8",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Condition1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_ResumeandScale_S8",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"flgcalled": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"ArrayVar": {
				"type": "Array",
				"defaultValue": [
					"test"
				]
			},
			"status": {
				"type": "String",
				"defaultValue": "inProgress"
			},
			"RefreshId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Resource Management"
		},
		"annotations": []
	}
}