pipeline/SingleFileCopy_WINITCCCR.json
{
	"name": "SingleFileCopy_WINITCCCR",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_WINIT_Folder",
						"type": "DatasetReference",
						"parameters": {
							"Folder": "CCCRMaster"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'CCR')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CCCR",
							"description": "Copy a file from the source store to the destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Filename",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "Lastmodifieddatetime",
											"value": {
												"value": "@addminutes(utcnow(),330)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									},
									"recursive": false
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "DFPolybaseStagingStorageLink",
										"type": "LinkedServiceReference"
									},
									"path": "polybasestaging"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Site",
												"type": "String"
											},
											"sink": {
												"name": "Site",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DistributorCode1",
												"type": "String"
											},
											"sink": {
												"name": "DistributorCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DistributorName",
												"type": "String"
											},
											"sink": {
												"name": "DistributorNameBranchCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BranchName",
												"type": "String"
											},
											"sink": {
												"name": "BranchName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SubDCode",
												"type": "String"
											},
											"sink": {
												"name": "SubDCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SubDName",
												"type": "String"
											},
											"sink": {
												"name": "SubDName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DSECode",
												"type": "String"
											},
											"sink": {
												"name": "DSECode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DseName",
												"type": "String"
											},
											"sink": {
												"name": "DSE Name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Subdlocation",
												"type": "String"
											},
											"sink": {
												"name": "Subdlocation",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VisitDate",
												"type": "String"
											},
											"sink": {
												"name": "VisitDate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "StartTime",
												"type": "String"
											},
											"sink": {
												"name": "StartTime",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EndTime",
												"type": "String"
											},
											"sink": {
												"name": "EndTime",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ScheduledCalls",
												"type": "String"
											},
											"sink": {
												"name": "ScheduledCalls",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VisitedCalls",
												"type": "String"
											},
											"sink": {
												"name": "VisitedCalls",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Complaint Calls",
												"type": "String"
											},
											"sink": {
												"name": "Compliant Call",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProductiveCalls",
												"type": "String"
											},
											"sink": {
												"name": "ProductiveCalls",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SalesValue",
												"type": "String"
											},
											"sink": {
												"name": "SalesValue",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AvgCallTime",
												"type": "String"
											},
											"sink": {
												"name": "AvgCallTime",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Filename",
												"type": "String"
											},
											"sink": {
												"name": "Filename",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Lastmodifieddatetime",
												"type": "String"
											},
											"sink": {
												"name": "LastModifiedDatetime",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_WINIT_CCCR_Master",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_WINITCCCR_table",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"Folder": {
				"type": "string"
			},
			"ProcessDate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "WINIT Pipelines"
		},
		"annotations": []
	}
}