pipeline/SingleFileCopy_Onefile.json
{
	"name": "SingleFileCopy_Onefile",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLSDataset_Copy",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.Folder",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DPSR",
							"description": "Copy a file from the source store to the destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Filename",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "Lastmodifieddatetime",
											"value": {
												"value": "@addminutes(utcnow(),330)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.Folder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									},
									"recursive": false
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "DFPolybaseStagingStorageLink",
										"type": "LinkedServiceReference"
									},
									"path": "polybasestaging"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": ""
											},
											"sink": {
												"name": "document_no",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "apply_to_doc",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "document_date",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "transaction_type",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "subbrandform_name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "prod_name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "customer_name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "customer_code",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "channel_description",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "dse",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "pcode",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "customer_type",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "hsn_code",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "category",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "brand",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "brandform",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "quantity",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "gross_value",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "discount",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "taxable_scheme",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "cgsttax",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "sgsttax",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "igsttax",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "cesstax",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "mracc_code",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "mracc_desc",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "vendor",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "net_amount",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tax_on_discount",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tax_on_scheme",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tax_in_rlp",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "retailing",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "gross_in_slp",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "po_no",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "dse_code",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "msu",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "reason",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "dist_gstinno",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "ret_gstinno",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "srn_ref_no",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "composite",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "cgsttax_rate",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "sgsttax_rate",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "igsttax_rate",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "cesstax_rate",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "branch_code",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "branch_name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "order_mode",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tc_code",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tc_name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "FileSetId",
												"type": "Int64"
											}
										},
										{
											"sink": {
												"name": "BranchNodeId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "BranchNodeType",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "StoreId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "CmpNodeId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "CmpNodeType",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "CatNodeId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "CatNodeType",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "BrandNodeId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "BrandNodeType",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "SBFNodeId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "SBFNodeType",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "PrdNodeId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "PrdNodeType",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "InvId",
												"type": "Int64"
											}
										},
										{
											"sink": {
												"name": "ChannelId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "SubChannelId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "dsenodeid",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "dsenodetype",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "mraccid",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "SRNId",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Filename",
												"type": "String"
											},
											"sink": {
												"name": "Filename",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Lastmodifieddatetime",
												"type": "String"
											},
											"sink": {
												"name": "LastModifiedDatetime",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "TimeStampIns",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "batch",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "upc",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tcs_amount",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "remarks",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tcs_rate",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "branch_gst_no",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "dl_no",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "dl_expiry_date",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "irn_no",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "TrnTypeId",
												"type": "Byte"
											}
										},
										{
											"sink": {
												"name": "ReasonId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "MRP",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "SectorId",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "apply_to_doc_date",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ADLSCSVDataSource_Folder_WithComma",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DPSR_table",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"Folder": {
				"type": "string"
			},
			"ProcessDate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": []
	}
}