pipeline/SmartBasket_Staging-To-DB.json
{
	"name": "SmartBasket_Staging-To-DB",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SmartBasketStorageStagingDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "spGetFileID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpGetFileID]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_ATTN_table",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "IfFileFound",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "spGetFileID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@string(activity('spGetFileID').output.firstRow.FileID)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "16",
										"activities": [
											{
												"name": "ACRV_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "doc_reference_number",
																	"type": "String"
																},
																"sink": {
																	"name": "sales_invoice_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "document_date",
																	"type": "String"
																},
																"sink": {
																	"name": "sales_invoice_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "aging_days",
																	"type": "String"
																},
																"sink": {
																	"name": "aging_days",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "net_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "net_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "paid_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "paid_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "balance_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "balance_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_name",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ACRV_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "17",
										"activities": [
											{
												"name": "ACRV_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "doc_reference_number",
																	"type": "String"
																},
																"sink": {
																	"name": "sales_invoice_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "document_date",
																	"type": "String"
																},
																"sink": {
																	"name": "sales_invoice_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "aging_days",
																	"type": "String"
																},
																"sink": {
																	"name": "aging_days",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "net_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "net_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "paid_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "paid_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "balance_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "balance_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_name",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ACRV_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "18",
										"activities": [
											{
												"name": "ACRV_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "doc_reference_number",
																	"type": "String"
																},
																"sink": {
																	"name": "sales_invoice_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "document_date",
																	"type": "String"
																},
																"sink": {
																	"name": "sales_invoice_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "aging_days",
																	"type": "String"
																},
																"sink": {
																	"name": "aging_days",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "net_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "net_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "paid_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "paid_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "balance_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "balance_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_name",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ACRV_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "19",
										"activities": [
											{
												"name": "DSEM_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tbecode",
																	"type": "String"
																},
																"sink": {
																	"name": "stlcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tbename",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "becode",
																	"type": "String"
																},
																"sink": {
																	"name": "becode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "bename",
																	"type": "String"
																},
																"sink": {
																	"name": "bename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "selected_date",
																	"type": "String"
																},
																"sink": {
																	"name": "selected_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "smcode",
																	"type": "String"
																},
																"sink": {
																	"name": "smcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "smname",
																	"type": "String"
																},
																"sink": {
																	"name": "smname",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DSEM_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "20",
										"activities": [
											{
												"name": "DSEM_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tbecode",
																	"type": "String"
																},
																"sink": {
																	"name": "stlcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tbename",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "becode",
																	"type": "String"
																},
																"sink": {
																	"name": "becode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "bename",
																	"type": "String"
																},
																"sink": {
																	"name": "bename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "selected_date",
																	"type": "String"
																},
																"sink": {
																	"name": "selected_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "smcode",
																	"type": "String"
																},
																"sink": {
																	"name": "smcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "smname",
																	"type": "String"
																},
																"sink": {
																	"name": "smname",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DSEM_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "21",
										"activities": [
											{
												"name": "DSEM_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tbecode",
																	"type": "String"
																},
																"sink": {
																	"name": "stlcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tbename",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "becode",
																	"type": "String"
																},
																"sink": {
																	"name": "becode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "bename",
																	"type": "String"
																},
																"sink": {
																	"name": "bename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "selected_date",
																	"type": "String"
																},
																"sink": {
																	"name": "selected_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "smcode",
																	"type": "String"
																},
																"sink": {
																	"name": "smcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "smname",
																	"type": "String"
																},
																"sink": {
																	"name": "smname",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DSEM_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "22",
										"activities": [
											{
												"name": "COHGAP_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "coh_date",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sector_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sector_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_code",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_name",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_name",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement_status",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "calculation_rule",
																	"type": "String"
																},
																"sink": {
																	"name": "calculation_rule",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_detail",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_detail",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "withsale",
																	"type": "String"
																},
																"sink": {
																	"name": "withsale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "nosale",
																	"type": "String"
																},
																"sink": {
																	"name": "nosale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_COHGAP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "23",
										"activities": [
											{
												"name": "COHGAP_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "coh_date",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sector_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sector_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_code",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_name",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_name",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement_status",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "calculation_rule",
																	"type": "String"
																},
																"sink": {
																	"name": "calculation_rule",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_detail",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_detail",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "withsale",
																	"type": "String"
																},
																"sink": {
																	"name": "withsale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "nosale",
																	"type": "String"
																},
																"sink": {
																	"name": "nosale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_COHGAP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "24",
										"activities": [
											{
												"name": "COHGAP_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "coh_date",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sector_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sector_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_code",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_name",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_name",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement_status",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "calculation_rule",
																	"type": "String"
																},
																"sink": {
																	"name": "calculation_rule",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_detail",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_detail",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "withsale",
																	"type": "String"
																},
																"sink": {
																	"name": "withsale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "nosale",
																	"type": "String"
																},
																"sink": {
																	"name": "nosale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_COHGAP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "25",
										"activities": [
											{
												"name": "DRCP_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchname",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retaileraddress",
																	"type": "String"
																},
																"sink": {
																	"name": "retaileraddress",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercontact",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercontact",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stlname",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeltype",
																	"type": "String"
																},
																"sink": {
																	"name": "channeltype",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeldescription",
																	"type": "String"
																},
																"sink": {
																	"name": "channeldescription",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routecode",
																	"type": "String"
																},
																"sink": {
																	"name": "routecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routename",
																	"type": "String"
																},
																"sink": {
																	"name": "routename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sectorname",
																	"type": "String"
																},
																"sink": {
																	"name": "sectorname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DRCP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "26",
										"activities": [
											{
												"name": "DRCP_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchname",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retaileraddress",
																	"type": "String"
																},
																"sink": {
																	"name": "retaileraddress",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercontact",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercontact",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stlname",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeltype",
																	"type": "String"
																},
																"sink": {
																	"name": "channeltype",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeldescription",
																	"type": "String"
																},
																"sink": {
																	"name": "channeldescription",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routecode",
																	"type": "String"
																},
																"sink": {
																	"name": "routecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routename",
																	"type": "String"
																},
																"sink": {
																	"name": "routename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sectorname",
																	"type": "String"
																},
																"sink": {
																	"name": "sectorname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DRCP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "27",
										"activities": [
											{
												"name": "DRCP_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchname",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retaileraddress",
																	"type": "String"
																},
																"sink": {
																	"name": "retaileraddress",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercontact",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercontact",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stlname",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeltype",
																	"type": "String"
																},
																"sink": {
																	"name": "channeltype",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeldescription",
																	"type": "String"
																},
																"sink": {
																	"name": "channeldescription",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routecode",
																	"type": "String"
																},
																"sink": {
																	"name": "routecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routename",
																	"type": "String"
																},
																"sink": {
																	"name": "routename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sectorname",
																	"type": "String"
																},
																"sink": {
																	"name": "sectorname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DRCP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "28",
										"activities": [
											{
												"name": "PRDM_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "legal_entity",
																	"type": "String"
																},
																"sink": {
																	"name": "Legal_entity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Category Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Category Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Form Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Form Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "SubBF Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform_name",
																	"type": "String"
																},
																"sink": {
																	"name": "SubBF Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "desc_short",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Short_Desc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "name",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Full_Desc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "weight",
																	"type": "String"
																},
																"sink": {
																	"name": "Piece_Weight",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "conversion_qty",
																	"type": "String"
																},
																"sink": {
																	"name": "Conversion_Qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "MSU",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "volume",
																	"type": "String"
																},
																"sink": {
																	"name": "Volume",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "HSN_Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "is_drug",
																	"type": "String"
																},
																"sink": {
																	"name": "IsDrug",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "shelf_life",
																	"type": "String"
																},
																"sink": {
																	"name": "Shelf Life",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sap_upc",
																	"type": "String"
																},
																"sink": {
																	"name": "SAP UPC",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "bar_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Bar Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dm3",
																	"type": "String"
																},
																"sink": {
																	"name": "DM3",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "is_food",
																	"type": "String"
																},
																"sink": {
																	"name": "is_food",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_product_short_desc",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_product_short_desc",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_PRDM_table",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "CopyProductMastertoSeperateBucket_Cloud1",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "PRDM_Cloud1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ""
														}
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_STR_DFDataFoundation",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "29",
										"activities": [
											{
												"name": "PRDM_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "legal_entity",
																	"type": "String"
																},
																"sink": {
																	"name": "Legal_entity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Category Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Category Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Form Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Form Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "SubBF Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform_name",
																	"type": "String"
																},
																"sink": {
																	"name": "SubBF Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "desc_short",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Short_Desc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "name",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Full_Desc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "weight",
																	"type": "String"
																},
																"sink": {
																	"name": "Piece_Weight",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "conversion_qty",
																	"type": "String"
																},
																"sink": {
																	"name": "Conversion_Qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "MSU",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "volume",
																	"type": "String"
																},
																"sink": {
																	"name": "Volume",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "HSN_Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "is_drug",
																	"type": "String"
																},
																"sink": {
																	"name": "IsDrug",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "shelf_life",
																	"type": "String"
																},
																"sink": {
																	"name": "Shelf Life",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sap_upc",
																	"type": "String"
																},
																"sink": {
																	"name": "SAP UPC",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "bar_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Bar Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dm3",
																	"type": "String"
																},
																"sink": {
																	"name": "DM3",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "is_food",
																	"type": "String"
																},
																"sink": {
																	"name": "is_food",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_product_short_desc",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_product_short_desc",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_PRDM_table",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "CopyProductMastertoSeperateBucket_Cloud2",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "PRDM_Cloud2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ""
														}
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_STR_DFDataFoundation",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "30",
										"activities": [
											{
												"name": "PRDM_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "legal_entity",
																	"type": "String"
																},
																"sink": {
																	"name": "Legal_entity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Category Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Category Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Form Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform_name",
																	"type": "String"
																},
																"sink": {
																	"name": "Brand Form Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform_code",
																	"type": "String"
																},
																"sink": {
																	"name": "SubBF Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_brandform_name",
																	"type": "String"
																},
																"sink": {
																	"name": "SubBF Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "desc_short",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Short_Desc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "name",
																	"type": "String"
																},
																"sink": {
																	"name": "Product_Full_Desc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "weight",
																	"type": "String"
																},
																"sink": {
																	"name": "Piece_Weight",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "conversion_qty",
																	"type": "String"
																},
																"sink": {
																	"name": "Conversion_Qty",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "MSU",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "volume",
																	"type": "String"
																},
																"sink": {
																	"name": "Volume",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "HSN_Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "is_drug",
																	"type": "String"
																},
																"sink": {
																	"name": "IsDrug",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "shelf_life",
																	"type": "String"
																},
																"sink": {
																	"name": "Shelf Life",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sap_upc",
																	"type": "String"
																},
																"sink": {
																	"name": "SAP UPC",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "bar_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Bar Code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dm3",
																	"type": "String"
																},
																"sink": {
																	"name": "DM3",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "is_food",
																	"type": "String"
																},
																"sink": {
																	"name": "is_food",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_product_short_desc",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_product_short_desc",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_PRDM_table",
														"type": "DatasetReference"
													}
												]
											},
											{
												"name": "CopyProductMastertoSeperateBucket_Cloud3",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "PRDM_Cloud3",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ""
														}
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_STR_DFDataFoundation",
														"type": "DatasetReference",
														"parameters": {
															"filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "31",
										"activities": [
											{
												"name": "INVVAL_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "warehouse",
																	"type": "String"
																},
																"sink": {
																	"name": "warehouse",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stock_type",
																	"type": "String"
																},
																"sink": {
																	"name": "stock_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "company",
																	"type": "String"
																},
																"sink": {
																	"name": "company",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand",
																	"type": "String"
																},
																"sink": {
																	"name": "brand",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "hsn_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_batch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "batch_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mrp",
																	"type": "String"
																},
																"sink": {
																	"name": "mrp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dp",
																	"type": "String"
																},
																"sink": {
																	"name": "dp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "rlp",
																	"type": "String"
																},
																"sink": {
																	"name": "rlp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sih_cases",
																	"type": "String"
																},
																"sink": {
																	"name": "sih_cases",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sih_pieces",
																	"type": "String"
																},
																"sink": {
																	"name": "sih_pieces",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "draft_cases",
																	"type": "String"
																},
																"sink": {
																	"name": "draft_cases",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "draft_pieces",
																	"type": "String"
																},
																"sink": {
																	"name": "draft_pieces",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "value",
																	"type": "String"
																},
																"sink": {
																	"name": "value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stn_intransit",
																	"type": "String"
																},
																"sink": {
																	"name": "stn_intransit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stn_intransit_value",
																	"type": "String"
																},
																"sink": {
																	"name": "stn_intransit_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "grn_intransit",
																	"type": "String"
																},
																"sink": {
																	"name": "grn_intransit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "grn_intransit_value",
																	"type": "String"
																},
																"sink": {
																	"name": "grn_intransit_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_INVVAL_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "32",
										"activities": [
											{
												"name": "INVVAL_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "warehouse",
																	"type": "String"
																},
																"sink": {
																	"name": "warehouse",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stock_type",
																	"type": "String"
																},
																"sink": {
																	"name": "stock_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "company",
																	"type": "String"
																},
																"sink": {
																	"name": "company",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand",
																	"type": "String"
																},
																"sink": {
																	"name": "brand",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "hsn_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_batch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "batch_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mrp",
																	"type": "String"
																},
																"sink": {
																	"name": "mrp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dp",
																	"type": "String"
																},
																"sink": {
																	"name": "dp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "rlp",
																	"type": "String"
																},
																"sink": {
																	"name": "rlp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sih_cases",
																	"type": "String"
																},
																"sink": {
																	"name": "sih_cases",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sih_pieces",
																	"type": "String"
																},
																"sink": {
																	"name": "sih_pieces",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "draft_cases",
																	"type": "String"
																},
																"sink": {
																	"name": "draft_cases",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "draft_pieces",
																	"type": "String"
																},
																"sink": {
																	"name": "draft_pieces",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "value",
																	"type": "String"
																},
																"sink": {
																	"name": "value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stn_intransit",
																	"type": "String"
																},
																"sink": {
																	"name": "stn_intransit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stn_intransit_value",
																	"type": "String"
																},
																"sink": {
																	"name": "stn_intransit_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "grn_intransit",
																	"type": "String"
																},
																"sink": {
																	"name": "grn_intransit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "grn_intransit_value",
																	"type": "String"
																},
																"sink": {
																	"name": "grn_intransit_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_INVVAL_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "33",
										"activities": [
											{
												"name": "INVVAL_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "warehouse",
																	"type": "String"
																},
																"sink": {
																	"name": "warehouse",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stock_type",
																	"type": "String"
																},
																"sink": {
																	"name": "stock_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "company",
																	"type": "String"
																},
																"sink": {
																	"name": "company",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand",
																	"type": "String"
																},
																"sink": {
																	"name": "brand",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrand_form",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrand_form",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_code",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sku_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sku_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "hsn_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "product_batch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "batch_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mrp",
																	"type": "String"
																},
																"sink": {
																	"name": "mrp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "upc",
																	"type": "String"
																},
																"sink": {
																	"name": "upc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dp",
																	"type": "String"
																},
																"sink": {
																	"name": "dp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "rlp",
																	"type": "String"
																},
																"sink": {
																	"name": "rlp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sih_cases",
																	"type": "String"
																},
																"sink": {
																	"name": "sih_cases",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sih_pieces",
																	"type": "String"
																},
																"sink": {
																	"name": "sih_pieces",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "draft_cases",
																	"type": "String"
																},
																"sink": {
																	"name": "draft_cases",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "draft_pieces",
																	"type": "String"
																},
																"sink": {
																	"name": "draft_pieces",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "value",
																	"type": "String"
																},
																"sink": {
																	"name": "value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stn_intransit",
																	"type": "String"
																},
																"sink": {
																	"name": "stn_intransit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stn_intransit_value",
																	"type": "String"
																},
																"sink": {
																	"name": "stn_intransit_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "grn_intransit",
																	"type": "String"
																},
																"sink": {
																	"name": "grn_intransit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "grn_intransit_value",
																	"type": "String"
																},
																"sink": {
																	"name": "grn_intransit_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_INVVAL_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-04T16:41:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}