pipeline/Testpipeline1.json
{
	"name": "Testpipeline1",
	"properties": {
		"activities": [
			{
				"name": "TimeToday",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeToday",
					"value": {
						"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),1,'Day'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FolderDate",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "TimeToday",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FolderDate",
					"value": {
						"value": "@concat('/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy'), '/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'MM'), '/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'dd'), '/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until 8_30",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('flgTimeOK'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition3",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(equals(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'HH'),'10'),\nequals(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'mm'),'40'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait 5 min",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 300
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "flgTimeOK",
											"value": {
												"value": "@bool(1)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"DataProcessDate": {
				"type": "string"
			}
		},
		"variables": {
			"TimeToday": {
				"type": "String"
			},
			"FolderDate": {
				"type": "String"
			},
			"flgTimeOK": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}