pipeline/WINIT Daily Processing.json
{
	"name": "WINIT Daily Processing",
	"properties": {
		"activities": [
			{
				"name": "CopyStaging-To-DB-WINITDRCP-V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyStaging-To-DB-WINITStoreMaster-V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyStaging-To-DB-WINITDRCP-V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyStaging-To-DB-WINITStoreMaster-V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SpCycleStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyStaging-To-DB-WINITStoreMaster-V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SpCycleStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCycEntry]",
						"storedProcedureParameters": {
							"flgInOut": {
								"type": "Byte",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyStaging-To-DB-CFR-V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyStaging-To-DB-WINITCCR-V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyStaging-To-DB-CFR-V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyStaging-To-DB-WINITCCR-V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyStaging-To-DB-WINITDRCP-V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyStaging-To-DB-WINITCCR-V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CycleID": {
							"value": "@activity('SpCycleStart').output.firstRow.CycleID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CopyStaging-To-DB-WINITPSR-V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyStaging-To-DB-CFR-V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyStaging-To-DB-WINITPSR-V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "WINIT Pipelines"
		},
		"annotations": []
	}
}